<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>南瓜券分享说明页_南瓜姑娘</title>
<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1, user-scalable=no"/>
<meta name="Keywords" content="<%= PAGE_KEYWORDS %>" />
<meta name="Description" content="<%= PAGE_DESCRIPTION %>" />
<link rel="shortcut icon" href="/nggirl/h5/mobile/images/favicon.ico" />

<style>
*{
padding:0px;
margin:0px;
border:0px;
}
body{
	width:100%;
	height:100%;
	text-align:center;
}
.main{
	width:100%;
	height:100%;
}

.main img{
	display:block;
	margin:0px auto;
	width:100%;
}
a[title*="站长统计"]{ display:none;}
</style>
<script> 
	//声明_czc对象: 
	var _czc = _czc || []; 
	//绑定siteid，请用您的siteid替换下方"XXXXXXXX"部分
	 _czc.push(["_setAccount", "<%= CNZZ_STAT_CODE_ID %>"]);
</script>
</head>

<body>
<div class="main">
	<img class="top" src="images/invitecodedes_1.jpg" />
	<img class="top" src="images/invitecodedes_2.jpg" />
	<img class="top" src="images/invitecodedes_3.jpg" />
	<img class="top" src="images/invitecodedes_4.jpg" />
</div>
<%= STATISTICS_SCRIPT %>
</body>

</html>