
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta charset="utf-8">
<meta name="Keywords" content="<%= PAGE_KEYWORDS %>" />
<meta name="Description" content="<%= PAGE_DESCRIPTION %>" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
<title>南瓜姑娘</title>
<script> 
	//声明_czc对象: 
	var _czc = _czc || []; 
	//绑定siteid，请用您的siteid替换下方"XXXXXXXX"部分
	 _czc.push(["_setAccount", "<%= CNZZ_STAT_CODE_ID %>"]);
</script>
</head>
<body>
	<a href="#" id="loadAppButton" style="display: none">打开APK</a>

	<script type="text/javascript">
		// 从地址栏中获取参数
		function getParam(name) {
		    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
		    var r = window.location.search.substr(1).match(reg);
		    if (r != null)
		        return decodeURI(r[2]);
		    return '';
		}
		
    	function loadAppDownloadPage(){
    		var wap_url = '';
    		var ua = navigator.userAgent;
        	var platform = /MicroMessenger/i.test(ua) ? "weixin" : /Android/i.test(ua) ? "android" : /iPhone|iPad|iPod/i.test(ua) ? "ios" : "other";

        	if (platform == "android") {
    	        wap_url = "http://a.app.qq.com/o/simple.jsp?pkgname=cn.com.nggirl.nguser";
    	    } else if (platform == "ios") {
    	        wap_url = '//itunes.apple.com/cn/app/nan-gua-gu-niang-yi-jian-xia/id1014850829?l=en&mt=8';
    	    } else if (platform == "weixin") {
    	        wap_url = "http://a.app.qq.com/o/simple.jsp?pkgname=cn.com.nggirl.nguser";
    	    } else {
    	        wap_url = "http://a.app.qq.com/o/simple.jsp?pkgname=cn.com.nggirl.nguser";
    	    }
    		
    		window.location.href = wap_url;
    	}
		
		var openApp = function(){
			var toUrl = getParam('toUrl');
    		var toAppUrl = (toUrl == null || toUrl=='')? 'nggirl://nggirl/appHome':toUrl;
    		var loadAppButton = document.getElementById('loadAppButton');
    		loadAppButton.href = toAppUrl;
    		
			setTimeout('loadAppDownloadPage();', 3000);
			loadAppButton.click();
		}
		window.onload=function(){
			openApp();
		}
	</script>
	<script src="//s4.cnzz.com/z_stat.php?id=<%= CNZZ_STAT_CODE_ID %>&web_id=<%= CNZZ_STAT_CODE_ID %>" language="JavaScript"></script>
</body>
</html>
