<!DOCTYPE html>
<html lang="en"><head>
<meta charset="utf-8">
<meta name="Keywords" content="<%= PAGE_KEYWORDS %>" />
<meta name="Description" content="<%= PAGE_DESCRIPTION %>" />
<title>最独特的素颜大赛 | 与剧中主演比美，要不要试试？</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<meta content="telephone=no" name="format-detection" />
<link rel="shortcut icon" href="/nggirl/h5/mobile/images/favicon.ico" />
<!-- <link rel="stylesheet" href="../mobile/css/themes/base/jquery.ui.all.css"> -->
<link rel="stylesheet" href="../mobile/css/makeupActivity.css">
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="../mobile/js/params.js"></script>
<script type="text/javascript" src="../mobile/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../mobile/js/md5.js"></script>
<script type="text/javascript" src="../mobile/js/params.js"></script>
<script type="text/javascript" src="../mobile/js/jquery.ui.widget.js"></script>
<script type="text/javascript" src="../mobile/js/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="../mobile/js/jquery.fileupload.js"></script>
<script type="text/javascript" src="../mobile/js/makeupActivity.js"></script>
<script> 
	//声明_czc对象: 
	var _czc = _czc || []; 
	//绑定siteid，请用您的siteid替换下方"XXXXXXXX"部分
	 _czc.push(["_setAccount", "<%= CNZZ_STAT_CODE_ID %>"]);
</script>

<body>
	<div class="downLoad">
    	<img src="images/makeupActivity/close.png" class="closeTip">
        <img src="images/makeupActivity/downLoad.png" class="imgDes">
        <span class="gtload">打开</span>
    </div>
    <div class="isWei hidden">
        <img src="images/makeupActivity/app_enjoy_pag_gray.png" />
    </div>
	<div class="content">
    	<img src="images/makeupActivity/cover_top.png" alt="" class="cover" />
        <div class="back_cover">
            <p class="title">参与规则：</p>
            <p class="regular">6.21-6.30，上传你素颜时面部最美的部位照片，以及妆后的正面照片，让我们比一比，谁的素颜最美，以及谁在妆后差别最大吧！</p>
            <p class="regular">将活动分享到微博或朋友圈,点击进入你的分享，即可获得参赛资格~</p>
            <p class="ping_regular">评奖规则</p>
            <p class="ping_regular_p">一等奖：获得点赞数最多的用户，获得pumpkin girl化妆刷一套；</p>
            <p class="ping_regular_p">二等奖：获得点赞数前2-3名的用户，获得菲洛嘉柔润亮泽面膜一瓶；</p>
            <p class="ping_regular_p">三等奖：获得点赞数前4-8名的用户，获得《一粒红尘》周边签名照一张。</p>
            <div class="prize_img">
            	<div class="pi_left">
                	<img src="images/makeupActivity/first_prize.png" alt="" />
                </div>
            	<div class="pi_right">
                	<img class="one" src="images/makeupActivity/second_prize.png" alt="" />
                    <img class="second" src="images/makeupActivity/third_prize.png" alt="" />
                </div>
            </div>
            <b class="ping_regular_p pp_size">请不遗余力的为自己拉票吧！</b>
            <p class="ping_regular_p hidden endPara">请所有在【素颜大赛】活动中获奖的亲亲，添加微信583930535进行领奖，备注：一粒红尘。</p>
        </div>
        <div class="line"></div>
        <div class="content_ul"></div>
        <span class="pullUpIcon"></span>
        <div class="btn" >
            <span>我要参加活动</span>
            <img src="images/makeupActivity/camera_white.png" class="btn_camer" alt="" />
            <input type="file" id="choose" accept="image/*" multiple class="hidden">
        </div>
        <div class="btn_enjoy">分享</div>
        <div class="gray">
        	<img src="" alt="" />
        </div>
    </div>
    
    <!-- 上传照片  -->
    <div class="file_img_content hidden">
    	<div class="fic_title">
        	<img src="images/makeupActivity/back.png" class="ft_left" alt="" />
            <span class="ft_center">参与活动</span>
            <span class="ft_right">发布</span>
        </div>
        <div class="fic_img img-list">
            <div>
            	<input type="file" name="file0" id="file0" multiple style="display:none;" data-url="https://testphotos.nggirl.com.cn/uploadserver/app/image/uploads/3.0.0"/>
                <img src="../cosmetic/images/default-title-img.png" alt="" id="img0"  />
                <p class="white_title">before</p>
            </div>
            <div>
            	<input type="file" name="file1" id="file1" multiple style="display:none;" data-url="https://testphotos.nggirl.com.cn/uploadserver/app/image/uploads/3.0.0"/>
                <img src="../cosmetic/images/default-title-img.png" alt="" id="img1"  />
                <p class="white_title">after</p>
            </div>
        </div>
        <textarea name="" id="" cols="30" maxlength="140" rows="8" placeholder="说点什么..." class="fic_content"></textarea>
        <p class="norm">下载南瓜姑娘APP，实时查看素颜排行榜。</p>
    </div>
	<%= STATISTICS_SCRIPT %>
</body>
</html>