<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="Keywords" content="<%= PAGE_KEYWORDS %>" />
<meta name="Description" content="<%= PAGE_DESCRIPTION %>" />
<title>2016年南瓜姑娘媒体报道</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<meta content="telephone=no" name="format-detection" />
<link rel="shortcut icon" href="/nggirl/h5/mobile/images/favicon.ico" />
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="../mobile/js/md5.js"></script>
<script type="text/javascript" src="../mobile/js/params.js"></script>
<script type="text/javascript" src="../mobile/js/zepto.min.js"></script>
<style type="text/css">
*{ margin:0px; padding:0px;font-family:"微软雅黑";color:#4d5e7e; font-size:12px; text-decoration:none;cursor:pointer; -webkit-tap-highlight-color: transparent;  }
body{ background:#eafffa; margin-bottom:8px; }
.banner img{ width:100%; display:block;}
.content{  background:#fff;width:93.6vw; box-sizing:border-box; border:#bee4c8 solid 3px; margin:0 auto;}
.box{ width:100%;border-collapse:collapse;}
.left{ padding: 2px; width:29.9%; text-align:center;}
.right{  width:68.5%; padding:0 2px 0 8px;height:43px;}
.box .left p{font-size:2.67vw;}
.box .right a{font-size:3.2vw; line-height:4.26vw; min-height:43px; text-align:justify;}
.box .right a i{ font-size:2.67vw; color:#c7c7c7; font-style:normal; padding-left:5px;}
.right b{ font-weight:normal; font-size:2.67vw;}
.borderLine{ border-bottom:#bee4c8 solid 1px;border-left:#bee4c8 solid 1px;}
.bottom { margin: 0 auto; width: 94.3%;}
.bottom img{ width:100%; display:block; margin:0 auto;}
a[title="站长统计"]{ display:none;}
.media1{width:16.7vw;}
.media2{width:20.4vw;}
.media3{width:18.3vw;}
.media4{width:26.9vw;}
.media5{width:18.8vw;}
.media6{width:19.9vw;}
.media7{width:19.2vw;}
.media8{width:20.5vw;}
.media9{width:8vw;}
.media10{width:21.9vw;}
.media11{width:16.1vw;}
.media12{width:19.2vw;}
.media13{width:18.8vw;}
.media14{width:24vw;}
.media15{width:11.2vw;}
.media16{width:13.9vw;}
.media17{width:22.1vw;}
.media18{width:19.7vw;}
.media19{width:21.5vw;}
.media20{width:18.1vw;}
.media21{width:18vw;}
.media22{width:24vw;}
.media23{width:20.1vw;}
.media24{width:6.8vw;}
.media25{width:19.5vw;}
.media26{width:21.5vw;}
.media27{width:27vw;}
</style>
<script type="text/javascript" src="../mobile/js/sea.js"></script>
<script> 
	//声明_czc对象: 
	var _czc = _czc || []; 
	//绑定siteid，请用您的siteid替换下方"XXXXXXXX"部分
	 _czc.push(["_setAccount", "<%= CNZZ_STAT_CODE_ID %>"]);
</script>

<body>
	<div class="banner"><img src="images/mediaTop.jpg"></div>
    <div class="content">
    	<table class="box " >
        	<tr >
            	<td rowspan="2"  class="left borderLine"><img src="images/media/36q.jpg" class="media1"><p>36  氪</p></td>
                <td class="right borderLine"><a href="http://36kr.com/p/5040039.html" >最能抓住化妆师群体的O2O场景是什么？<br/>美妆教学或许比上门化妆更有戏<i> >>原文</i></a></td>
            </tr>
            <tr class="borderLine">
                <td class="right borderLine"><a href="http://36kr.com/p/5058485.html">328名创业者的日常和心声，<br/>可能也是你的故事 | 特写背后<i> >>原文</i></a></td>
            </tr>
            <tr >
            	<td rowspan="2"  class="left borderLine"><img src="images/media/media2.jpg" class="media2"><p>新  浪</p></td>
                <td class="right borderLine"><a href="http://news.sina.com.cn/o/2016-09-27/doc-ifxwevww1708240.shtml" >南瓜姑娘app：让美进入寻常百姓家<br/><i> >>原文</i></a></td>
            </tr>
            <tr class="borderLine">
                <td class="right borderLine"><a href="http://qd.sina.com.cn/news/1/2016-02-03/detail-ifxnzanm4078408.shtml">南瓜姑娘CEO李洋：把美当成事业<i> >>原文</i></a></td>
            </tr>
            <tr >
            	<td rowspan="2"  class="left borderLine"><img src="images/media/media3.jpg" class="media3"><p>搜  狐</p></td>
                <td class="right borderLine"><a href="http://mt.sohu.com/20151125/n428064650.shtml" >“南瓜姑娘”抓住化妆师群体的 O2O<i>>>原文</i></a></td>
            </tr>
            <tr class="borderLine">
                <td class="right borderLine"><a href="http://mt.sohu.com/20160202/n436661975.shtml">南瓜姑娘CEO李洋：把美当成事业<i>>>原文</i></a></td>
            </tr>
            <tr >
            	<td rowspan="1"  class="left borderLine"><img src="images/media/media4.jpg" class="media4"><p>时尚COSMO</p></td>
                <td class="right borderLine"><a href="http://lohas.cosmopolitan.com.cn/2015/1113/74400all.shtml" >南瓜姑娘：<br/>衣服是女人间的政治，妆容也是<i>>>原文</i></a></td>
            </tr>
            <tr >
            	<td rowspan="1"  class="left borderLine"><img src="images/media/media5.jpg" class="media5"><p>时尚芭莎</p></td>
                <td class="right borderLine"><a href="http://dwz.cn/57xhUj" >坐在南瓜马车上的姑娘等待的未必是王子<i>>>原文</i></a></td>
            </tr>
            <tr >
            	<td rowspan="2"  class="left borderLine"><img src="images/media/media6.jpg" class="media6"><p>新华网</p></td>
                <td class="right borderLine"><a href="http://www.bj.xinhuanet.com/fw/2016-10/31/c_1119819390.htm" >南瓜姑娘誓要做有温度的内容电商<i>>>原文</i></a></td>
            </tr>
            <tr class="borderLine">
                <td class="right borderLine"><a href="http://www.hn.xinhuanet.com/syzx/2016-02/02/c_1117968478.htm">南瓜姑娘：坐在南瓜马车上的姑娘等待的未必是王子<i>>>原文</i></a></td>
            </tr>
            <tr >
            	<td rowspan="1"  class="left borderLine"><img src="images/media/media7.jpg" class="media7"><p>京华时报</p></td>
                <td class="right borderLine"><a href="http://caijing.jinghua.cn/zixun/20160920/f226123.shtml" >南瓜姑娘CEO李洋：让美进入寻常百姓家<i>>>原文</i></a></td>
            </tr>
            <tr >
            	<td rowspan="1"  class="left borderLine"><img src="images/media/media8.jpg" class="media8"><p>人民日报《民生周刊》</p></td>
                <td class="right borderLine"><a href="http://paper.people.com.cn/mszk/html/2016-07/04/content_1695701.htm" >女性创业：以美开始，没有终点<i>>>原文</i></a></td>
            </tr>
            <tr >
            	<td rowspan="1"  class="left borderLine"><img src="images/media/media9.jpg" class="media9"><p>海峡卫视</p></td>
                <td class="right borderLine"><a href="http://www.fjtv.net/folder6/folder60/folder71/folder181/2016-05-20/672234.html?_hgOutLink=vod/newsDetail&id=672234&from=singlemessage&isappinstalled=0" >讲述上门美妆O2O“南瓜姑娘”<i>>>原文</i></a></td>
            </tr>
            <tr >
            	<td rowspan="1"  class="left borderLine"><img src="images/media/media10.jpg" class="media10"><p>21CN生活</p></td>
                <td class="right borderLine"><a href="http://life.21cn.com/zaojiao/care/a/2015/1120/17/30296151.shtml" >南瓜姑娘：衣服是女人间的政治，妆容也是<i>>>原文</i></a></td>
            </tr>
            <tr >
            	<td rowspan="1"  class="left borderLine"><img src="images/media/media11.jpg" class="media11"><p>中国网络电视台</p></td>
                <td class="right borderLine"><a href="http://yueyu.cntv.cn/2016/06/08/ARTI9y8pKwGAO2DiyGqlLkiJ160608.shtml" >南瓜姑娘成为便携式 “化妆师”<i>>>原文</i></a></td>
            </tr>
            <tr >
            	<td rowspan="2"  class="left borderLine"><img src="images/media/media12.jpg" class="media12"><p>凤凰网</p></td>
                <td class="right borderLine"><a href="http://yue.ifeng.com/a/20160922/39765083_0.shtml" >南瓜姑娘CEO李洋：让美进入寻常百姓家<i>>>原文</i></a></td>
            </tr>
            <tr class="borderLine">
                <td class="right borderLine"><a href="http://hainan.ifeng.com/finance/shanghui/detail_2015_11/19/4572943_0.shtml">南瓜姑娘：衣服是女人间的政治，妆容也是<i>>>原文</i></a></td>
            </tr>
            <tr >
            	<td rowspan="1"  class="left borderLine"><img src="images/media/media13.jpg" class="media13"><p>好奇心日报</p></td>
                <td class="right borderLine"><a href="http://it.sohu.com/20160306/n439550568.shtml" >女生节到了，这里有28个应用想让你，<br/>或者你的另一半更美<i>>>原文</i></a></td>
            </tr>
            <tr >
            	<td rowspan="1"  class="left borderLine"><img src="images/media/media14.jpg" class="media14"><p>华讯财经</p></td>
                <td class="right borderLine"><a href="http://finance.591hx.com/article/2016-09-22/0000639581s.shtml" >南瓜姑娘CEO李洋：让美进入寻常百姓家<i>>>原文</i></a></td>
            </tr>
            <tr >
            	<td rowspan="1"  class="left borderLine"><img src="images/media/media15.jpg" class="media15"><p>商道</p></td>
                <td class="right borderLine"><a href="http://www.3-dao.com.cn/News__857752/" >南瓜姑娘CEO李洋：把美当成事业<i>>>原文</i></a></td>
            </tr>
            <tr >
            	<td rowspan="1"  class="left borderLine"><img src="images/media/media16.jpg" class="media16"><p>中国青年网</p></td>
                <td class="right borderLine"><a href="http://hb.youth.cn/2016/0612/4527697.shtml" >南瓜姑娘成为便携式 “化妆师”<i>>>原文</i></a></td>
            </tr>
            <tr >
            	<td rowspan="1"  class="left borderLine"><img src="images/media/media17.jpg" class="media17"><p>YOKA时尚网</p></td>
                <td class="right borderLine"><a href="http://www.yoka.com/dna/media/topic-d360653.html" >南瓜姑娘CEO李洋：把美当成事业<i>>>原文</i></a></td>
            </tr>
            <tr >
            	<td rowspan="1"  class="left borderLine"><img src="images/media/media18.jpg" class="media18"><p>伊人时尚</p></td>
                <td class="right borderLine"><a href="http://www.kkcoo.com/life/14321352675_2.html" >南瓜姑娘：<br/>衣服是女人间的政治，妆容也是<i>>>原文</i></a></td>
            </tr>
            <tr >
            	<td rowspan="1"  class="left borderLine"><img src="images/media/media19.jpg" class="media19"><p>飞象网</p></td>
                <td class="right borderLine"><a href="http://www.cctime.com/html/2015-11-19/201511199595918.htm?jdfwkey=ydhca" >南瓜姑娘：<br/>衣服是女人间的政治，妆容也是<i>>>原文</i></a></td>
            </tr>
            <tr >
            	<td rowspan="1"  class="left borderLine"><img src="images/media/media20.jpg" class="media20"><p>国际在线</p></td>
                <td class="right borderLine"><a href="http://gb.cri.cn/44571/2015/11/23/7872s5174912.htm" >南瓜姑娘：<br/>衣服是女人间的政治，妆容也是<i>>>原文</i></a></td>
            </tr>
            <tr >
            	<td rowspan="1"  class="left borderLine"><img src="images/media/media21.jpg" class="media21"><p>比特网</p></td>
                <td class="right borderLine"><a href="http://do.chinabyte.com/78/13623078.shtml" >南瓜姑娘：<br/>衣服是女人间的政治，妆容也是<i>>>原文</i></a></td>
            </tr>
            <tr >
            	<td rowspan="2"  class="left borderLine"><img src="images/media/media22.jpg" class="media22"><p>慧聪网</p></td>
                <td class="right borderLine"><a href="http://info.it.hc360.com/2015/11/201448835885.shtml" >南瓜姑娘：<br/>衣服是女人间的政治，妆容也是<i>>>原文</i></a></td>
            </tr>
            <tr class="borderLine">
                <td class="right borderLine"><a href="http://info.it.hc360.com/2016/02/011700845759.shtml">南瓜姑娘：坐在南瓜马车上的姑娘等待的未必是王子<i>>>原文</i></a></td>
            </tr>
             <tr >
            	<td rowspan="1"  class="left borderLine"><img src="images/media/media23.jpg" class="media23"><p>米娜时尚网</p></td>
                <td class="right borderLine"><a href="http://www.mina.com.cn/b/113388.html" >南瓜姑娘：南瓜马车上的姑娘等的未必是王子<i>>>原文</i></a></td>
            </tr>
            <tr >
            	<td rowspan="1"  class="left borderLine"><img src="images/media/media24.jpg" class="media24"><p>疯狂见地</p></td>
                <td class="right borderLine"><a href="http://www.ximalaya.com/38153568/sound/10861123" ><b>009期：坐在南瓜马车上的姑娘等待的未必是王子</b><br/>——“南瓜姑娘”创始人李洋《疯狂APP》<i>>>原文</i></a></td>
            </tr>
            <tr >
            	<td rowspan="1"  class="left borderLine"><img src="images/media/media25.jpg" class="media25"><p>硅谷网</p></td>
                <td class="right borderLine"><a href="http://www.guigu.org/news/huwulianwang/2016020177009.html" >南瓜姑娘：坐在南瓜马车上姑娘等待的未必是王子<i>>>原文</i></a></td>
            </tr>
            <tr >
            	<td rowspan="1"  class="left borderLine"><img src="images/media/media26.jpg" class="media26"><p>80后之窗</p></td>
                <td class="right borderLine"><a href="http://women.80end.cn/2016/1030/537590.shtml" >做有温度的内容电商 南瓜姑娘一周年庆典暨粉丝见面会<i>>>原文</i></a></td>
            </tr>
            <tr >
            	<td rowspan="1"  class="left borderLine"><img src="images/media/media27.jpg" class="media27"><p>四川在线</p></td>
                <td class="right borderLine"><a href="http://news.scol.com.cn/gdxw/201610/55705374.html" >做有温度的内容电商 南瓜姑娘一周年庆典暨粉丝见面会<i>>>原文</i></a></td>
            </tr>
        </table>
    </div>
    <div class="bottom"><img src="images/mediabot.png"> </div>
    <script>
        seajs.use('./js/media', function(init) {
            init.initPage();
        });
    </script>
    <script src="//s4.cnzz.com/z_stat.php?id=<%= CNZZ_STAT_CODE_ID %>&web_id=<%= CNZZ_STAT_CODE_ID %>" language="JavaScript"></script>
</body>
</html>