
<!DOCTYPE html>

<html>

<head>

	<meta charset="utf-8">
	<title>预约与退订规则_南瓜姑娘</title>
	<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1, user-scalable=no"/>
	<meta name="Keywords" content="<%= PAGE_KEYWORDS %>" />
	<meta name="Description" content="<%= PAGE_DESCRIPTION %>" />
	<link rel="shortcut icon" href="/nggirl/h5/mobile/images/favicon.ico" />
	<style type="text/css">

		.content-cont {

			padding: 20px 16px;

			-webkit-box-flex: 1;

		}

		.column-name {

			width: 150px;

			height: 29px;

			text-align: center;

			line-height: 29px;

			font-size: 12px;

			color: #030000;
			
			margin: auto;

		}

		.paragraph {

			margin-top: 20px;

			padding: 0 6px;

		}

		.p-text {

			font-size: 10px;

			color: #818181;

			line-height: 18px;

			margin-top: 15px;

		}
		a[title*="站长统计"]{ display:none;}
	</style>
	<script> 
		//声明_czc对象: 
		var _czc = _czc || []; 
		//绑定siteid，请用您的siteid替换下方"XXXXXXXX"部分
		 _czc.push(["_setAccount", "<%= CNZZ_STAT_CODE_ID %>"]);
	</script>
</head>

<body>

	<section class="content">

		<div class="content-cont">

			<div class="column-name">预约与退订规则</div>

			<section class="paragraph">

				<div class="p-text">

				一、服务时间：<br/>
				1.您在进行化妆预约服务时，可自行选择符合自己要求的服务时段，时段起始时间即为化妆师到达预约地点的时间；<br/>
				2.为了保证化妆师为您打造使您满意的妆容，请预留足够的服务时间。<br/><br/>
				二、服务时间和地址变更：<br/>
				成功预约服务后，已预约的服务时间和地址分别只能修改一次。修改事宜可直接与化妆师联系沟通，或拨打我们的客服电话400-062-6336由客服专员为您解决。<br/><br/>
				三、取消订单和退款：<br/>
				支付成功前您可随时取消订单。支付成功后，若您需取消服务，请点击订单信息页面中的“申请退款”按钮，钱款将在1至3个工作日内按照如下规则退还至您的原账户。订单取消和退款规则如下：<br/>
				1.取消订单或申请退款后，优惠券将无法退还至您的账户；<br/>
				2.距离服务开始时间的24小时外（不含24小时整）取消订单，实付金额可全额退还至您的支付账户；<br/>
				3.距离服务开始时间的24小时内（含24小时整）12小时外（不含12小时整）取消订单，平台将扣除实付金额的10%作为手续费，其余金额将退还至您的支付账户； <br/>
				4.距离服务开始时间的12小时内（含12小时整）6小时外（不含6小时整）取消订单，平台将扣除实付金额的20%作为手续费，其余金额将退还至您的支付账户；<br/>
				5.距离服务开始时间的6小时内（含6小时整）不可取消订单；<br/>
				6.如遇不可抗力因素需要取消订单，请您及时致电客服。届时请出具不可抗力因素相关证明供平台审核。平台审核通过后，若您在服务开始时间前申请退款，实付金额可全额退还至您的支付账户；若您在服务开始时间后申请退款，且未使用产品，平台将扣除实付金额的30%作为手续费，其余金额将退还至您的支付账户。<br/><br/>
				四、售后服务：<br/>
				1.在服务完成后，您若对效果不满意，可直接向化妆师提出修改要求；<br/>
				2.化妆师作品详情页展示的图片仅作为化妆效果的参考。由于每人的五官不同，化妆师打造的妆容效果也会因人而异。若妆后效果在化妆师按您的要求修改后您仍不满意，恕不退款，请您理解。<br/><br/>
				</div>

			</section>

		</div>

	</section>
	<script src="//s4.cnzz.com/z_stat.php?id=<%= CNZZ_STAT_CODE_ID %>&web_id=<%= CNZZ_STAT_CODE_ID %>" language="JavaScript"></script>
</body>

</html>