<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="Keywords" content="<%= PAGE_KEYWORDS %>" />
<meta name="Description" content="<%= PAGE_DESCRIPTION %>" />
<title>抽支感恩签，每一点微小的善意和爱，都值得感恩</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<meta content="telephone=no" name="format-detection" />
<link rel="shortcut icon" href="/nggirl/h5/mobile/images/favicon.ico" />
<link rel="stylesheet" href="../mobile/css/thanksgivingDayActivity.css" />
<script type="text/javascript" src="../mobile/js/md5.js"></script>
<script type="text/javascript" src="../mobile/js/params.js"></script>
<script type="text/javascript" src="../mobile/js/sea.js"></script>
<script type="text/javascript" src="../mobile/js/zepto.min.js"></script>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script> 
	//声明_czc对象: 
	var _czc = _czc || []; 
	//绑定siteid，请用您的siteid替换下方"XXXXXXXX"部分
	 _czc.push(["_setAccount", "<%= CNZZ_STAT_CODE_ID %>"]);
</script>
<body>
	<div class="thanks_activity">
    	<p class="thanks_activity_title">输入一件2016年你最想感谢的化妆品，南瓜婆婆将召唤宇宙中的神秘力量，为你生成一支专属感恩签~</p>
        <div class="thanks_acitivty_box">
        	<div class="tac_content">
            	<div class="tc_goods_name">
                    <label for="" class="font_14">化妆品名称：</label>
                    <input type="text" placeholder="比如：艾蜜塔面霜" class="tc_name" />
                </div>
                <div class="tc_goods_list">
                	<label for="" class="font_14 font_14_margin">请选择感恩的化妆品：</label>
                    <div class="tgl_content">
                            <dl>
                                <dt>
                                    <img src="images/thanksgivingDayActivity/yanxianbi.png" alt="" />
                                </dt>
                                <dd>眼线笔</dd>
                            </dl>
                            <dl>
                                <dt>
                                    <img src="images/thanksgivingDayActivity/jinghua.png" alt="" />
                                </dt>
                                <dd>精华</dd>
                            </dl>
                            <dl>
                                <dt>
                                    <img src="images/thanksgivingDayActivity/jiemaogao.png" alt="" />
                                </dt>
                                <dd>睫毛膏</dd>
                            </dl>
                            <dl>
                                <dt>
                                    <img src="images/thanksgivingDayActivity/kouhong.png" alt="" />
                                </dt>
                                <dd>口红</dd>
                            </dl>
                            <dl>
                                <dt>
                                    <img src="images/thanksgivingDayActivity/mianmo.png" alt="" />
                                </dt>
                                <dd>面膜</dd>
                            </dl>
                            <dl>
                                <dt>
                                    <img src="images/thanksgivingDayActivity/mianshuang.png" alt="" />
                                </dt>
                                <dd>面霜</dd>
                            </dl>
                            <dl>
                                <dt>
                                    <img src="images/thanksgivingDayActivity/penwu.png" alt="" />
                                </dt>
                                <dd>喷雾</dd>
                            </dl>
                            <dl>
                                <dt>
                                    <img src="images/thanksgivingDayActivity/ruye.png" alt="" />
                                </dt>
                                <dd>乳液</dd>
                            </dl>
                            <dl>
                                <dt>
                                    <img src="images/thanksgivingDayActivity/saihong.png" alt="" />
                                </dt>
                                <dd>腮红</dd>
                            </dl>
                            <dl>
                                <dt>
                                    <img src="images/thanksgivingDayActivity/shuangfushui.png" alt="" />
                                </dt>
                                <dd>爽肤水</dd>
                            </dl>
                            <dl>
                                <dt>
                                    <img src="images/thanksgivingDayActivity/another.png" alt="" />
                                </dt>
                                <dd>其他</dd>
                            </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="tc_ul">
            <div class="tc_tel_option">
                <label for="" class="font_14 font_margin_10">我想对它说：</label>
                <ul>
                    <li>
                        <img src="images/thanksgivingDayActivity/selecte_no.png" class="sel" alt="" />
                        <span>帮我戒了美颜相机</span>
                    </li>
                    <li>
                        <img src="images/thanksgivingDayActivity/selecte_no.png" class="sel" alt="" />
                        <span>让我爱上了自己</span>
                    </li>
                    <li>
                        <img src="images/thanksgivingDayActivity/selecte_no.png" class="sel" alt="" />
                        <span>点燃我的小宇宙</span>
                    </li>
                    <li>
                        <img src="images/thanksgivingDayActivity/selecte_no.png" class="sel" alt="" />
                        <span>给我满满安全感</span>
                    </li>
                    <li>
                        <img src="images/thanksgivingDayActivity/selecte_no.png" class="sel" alt="" />
                        <span>陪伴我的每一天</span>
                    </li>
                    <li>
                        <img src="images/thanksgivingDayActivity/selecte_no.png" class="sel" alt="" />
                        <span>抚平我的小焦躁</span>
                    </li>
                    <li>
                        <img src="images/thanksgivingDayActivity/selecte_no.png" class="sel" alt="" />
                        <span>让我的目光有力量</span>
                    </li>
                    <li>
                        <img src="images/thanksgivingDayActivity/selecte_no.png" class="sel" alt="" />
                        <span>给我的状态开了挂</span>
                    </li>
                    <li>
                        <img src="images/thanksgivingDayActivity/selecte_no.png" class="sel" alt="" />
                        <span>让我告别一言不合就脸红</span>
                    </li>
                    <li>
                        <img src="images/thanksgivingDayActivity/selecte_no.png" class="sel" alt="" />
                        <span>让宝宝我今年18，明年17</span>
                    </li>
                    <li>
                        <img src="images/thanksgivingDayActivity/selecte_no.png" class="sel" alt="" />
                        <span>让我从黑胖，变成了白胖</span>
                    </li>
                    <li>
                        <img src="images/thanksgivingDayActivity/selecte_no.png" class="sel" alt="" />
                        <span>蒙住了岁月的眼睛</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="btn">生成图片</div>
    </div>
    <script>
        seajs.use('./js/initThanksgivingDay', function(initThanksgivingDay) {
            initThanksgivingDay.initPage();
        });
    </script>
    <script src="//s4.cnzz.com/z_stat.php?id=<%= CNZZ_STAT_CODE_ID %>&web_id=<%= CNZZ_STAT_CODE_ID %>" language="JavaScript"></script>
</body>
</html>