*{ margin:0px; padding:0px; border:none; -webkit-appearance:none; list-style:none; font-family:"微软雅黑"; font-size:14px;-webkit-tap-highlight-color:rgba(0,0,0,0); }
body{ background:#eff4f5;}
.tabBox .hd{ padding:10px 0; font-size:20px; clear:both; width:100%; margin:0 auto;}
.tabBox .hd ul{ overflow:hidden;}
.tabBox .hd ul li{ float:left; color:#515151; text-align:center; width:50%;}
.tabBox .hd ul .on{ color: #50c8b4;}
.tabBox .hd ul .on p{border-bottom: #50c8b4 solid 2px; display: inline-block; padding-bottom: 2px;}
.tabBox .bd a{ -webkit-tap-highlight-color:rgba(0,0,0,0); }  /* 去掉链接触摸高亮 */
.tabBox .bd li a{ color:#555;}
.tabBox .bd .t{ height:85px; overflow:hidden;}
.tabBox .bd .t .pic{ width:130px; float:left;}
.tabBox .bd .t .con{ margin-left:130px; line-height:20px;}
.tabBox .bd .t .con p{ font-size:12px; color:#999;}
.tabBox .hd ul li p{ text-align:center; font-size:16px;}
.tab_hd{ border-bottom:1px solid #c9c9c9; background:#fff; width:100%; position:fixed; top:0px; z-index: 1;}
.bc-left{ float:left; width:55.5%;}
.bc-right{ float:right; width:43.5%;}
.bc-left .bl-top{ width:100%; position:relative;}
.bl-top img{ width:100%; height:100%;}
.like-people{ width:.81rem;}
.like-pe{ width:.95rem; height:.95rem;}
.bl-bottom .like{ color:#9a9a9a; font-size:.71rem; padding:0 1.5rem 0 0; background:url(../images/Oval%2011@640.png) no-repeat right; background-size:13px;}
.bl-bottom{overflow: hidden;}
.bl-bottom span{color:#9a9a9a; font-size:.71rem;}
.bb-left{ float:left; margin:5px 0 0 0;}
.bb-right{ float:right; color:#9a9a9a; font-size:.71rem; line-height:1.8rem;}
.br-img{ width:100%; display:block;}
.br-txt{ color:#3a3a3a; font-size:.93rem; width:100%; text-align:right; margin:2.14rem 0 0 0;}
.yuan-price{ font-size:.71rem; text-align:right; float:right; color:#9a9a9a; width:100%; margin:1.71rem 0 0 0; text-decoration:line-through;}
.xian-price{ text-align:right; float:right; font-size:1.07rem; color:#fa6e64; width:100%;}
.shai-select{ width:100%; position:fixed; top:0px; background:#eff4f5; display:none; max-width:750px; }
.st-left{ float:left; color:#3a3a3a; font-size:1rem; line-height:2.4rem;}
.st-right{ float:right; color:#3a3a3a; font-size:1rem;}
.blue-box{ width:4.43rem; height:1.71rem; border:1px solid #50c8b4; border-radius:.5rem; margin:.3rem 0 0 0; text-align:center;}
.line{ color:#50c8b4;}
.ss-top{ overflow:hidden;}
.ss-bottom{ width:100%; overflow:hidden; margin:.6rem 0 0 0;}
.price{ width:21.3%; padding:.43rem 0; border:1px solid #50c8b4; border-radius:.5rem; float:left; margin-right:4%; color:#50c8b4; text-align:center;}
.bl-top .half{width:3.21rem; height:3.21rem; position:absolute; top:0px; right:0px;}
.no_tie,.no_zhuang,.no_cao{ text-align:center; display:none;}
.no_tie img,.no_zhuang img,.no_cao img{ width:85px; margin:100px 0 30px 0;}
.no_tie p,.no_zhuang p,.no_cao p{ font-size:12px; color:#9a9a9a; line-height:18px; margin-bottom:100px;}
.no_tie .go_find,.no_zhuang .go_find,.no_cao .go_find{ height:45px; width:80%; background:#50c8b4; margin:0 auto; line-height:45px; color:#fff; border-radius:5px;}
a[title*="站长统计"]{ display:none;}
.tabBox{ margin-bottom: 15%;-webkit-overflow-scrolling: touch;}
.tempWrap{ margin-top:30px;}
.tab_ok_shou li,.tab_no_shou li{ height:96px; padding:10px; box-sizing:border-box; background:#fff url(../images/order-arr-right_03.png) no-repeat 97% 16%; background-size:7px; margin:0 10px 7px 10px; border-radius:5px; box-shadow: 0px 2px 5px rgba(0,0,0,.3); position:relative; overflow:hidden;}
.tab_ok_shou li .cao_img,.tab_no_shou li .cao_img{ width:76px; height:76px; border-radius:5px; float:left;}
.tab_ok_shou,.tab_no_shou{ margin:23px 0 0 0; overflow:scroll;}
.tc_left{ float:left; margin:0 0 0 10px; width:68%;}
.tc_left .tl_kinds_name{ color:#4c4c4c; font-size:14px;margin:0 0 12px 0;word-break: break-all;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.tc_left .tl_kinds_price{ color:#4c4c4c; font-size:12px; margin-bottom: 10px;}
.tc_left .tl_kinds_price span{ color:#fa6e64; font-size:14px;}
.tc_num{ float:right; font-size:12px; color:#9a9a9a; margin-top: 32px;position: absolute; right: 9px;}
.tc_num span{ font-size:12px;}
.cao_gray_box{ background:rgba(0,0,0,.2); width:100%; height:100%; position:absolute; top:0px; left:0px; display:none;}
.cao_white_sanjiao{ position:absolute; bottom:-3px; right:-3px; width:60px; display:none;}
.cao_select{ bottom:6px; right:4px;}
.cao_opcity_box{ position:absolute; bottom:0px; left:0px; background:none; width:100%; height:100%;}
.tabBox .hd ul .tie{ width:50%;}
.tl_kinds_start img{ width:10px; margin-right:2px;}
.tl_kinds_start{ font-size:12px; color:#4c4c4c;}
.tab_no_shou{ display:none;}
::-webkit-scrollbar {
    width: 1px;
} 
/* Track */
::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);*/ 
    -webkit-border-radius: 0;
    border-radius: 0;
}
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    background:none; 
    /*-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.5); */
}
::-webkit-scrollbar-thumb:window-inactive {
	background: none; 
}

