*{ margin:0px; padding:0px;-webkit-appearance:none;font-family:"微软雅黑";color:#000;padding: 0; border:none; -webkit-tap-highlight-color:none;-webkit-text-size-adjust:none; -webkit-tap-highlight-color: transparent;}
a[title="站长统计"]{ display:none;}
body{ background:#eff4f5;}
.content .content_cover{ overflow:hidden;}
.content .content_cover img{ width:100%; }
.content_message{ padding:20px; width:100%; box-sizing:border-box; background:#fff;}
.content_message .cm_txt{ font-size:16px; color:#3a3a3a; overflow:hidden; text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical; }
.cm_integral_icon{ width:14px;margin-bottom: -1px;}
.cm_integral .left{ float:left;}
.cm_integral .right,.cm_integral .right span{ float:right; font-size:12px; color:#9a9a9a; line-height:20px;}
.cm_integral .left .integral_num{ color:#50c8b4; font-size:14px; margin:0 0 0 5px;}
.cm_integral .right p{ float:left;font-size:12px; color:#9a9a9a; line-height:20px; margin:0 0 0 25px;}
.cm_integral{ overflow:hidden; margin:20px 0 0 0;}
.cm_activity{ color:#50c8b4; font-size:12px; line-height:50px; height:50px; background:#fff; padding:0 0 0 20px; width:100%; box-sizing:border-box; border-top:1px solid #e7eded; border-bottom: 1px solid #e7eded;}
.greyColor{ color:#9a9a9a !important;}
.cm_activity .time span,.cm_activity .time{ color:#50c8b4; letter-spacing: 1px;}
.details,.details_use{ padding:7px; width:100%; box-sizing:border-box;}
.details_use{ padding:0px 7px 7px; display:none;}
.details .details_content,.details_use .details_content{ width:100%; background:#fff; border-radius:5px;}
.dc_title span{ color:#3a3a3a; font-size:16px;}
.dc_title img{ width:14px; margin-bottom: -3px; }
.dc_title{ overflow:hidden; padding:20px 0 25px 8px; border-bottom:1px solid #d7dcdc;}
.dc_cover{ width:100%;}
.dc_message{ font-size:14px; color:#3a3a3a; padding:20px 10px; width:100%; box-sizing:border-box; text-align:justify;}
.btn{ position:fixed; bottom:0px; height:55px; background:#50c8b4; color:#fff; text-align:center; font-size:18px; line-height:55px; box-sizing:border-box; width:100%;}
.gray_btn{ background:#b3b3b3;}
.gray,.gray_btn_double,.gray_btn_double_ok,.gray_big_img{ display:none; width:100%; height:100%; background:rgba(0,0,0,.3); position:fixed; top:0px; left:0px;}
.gray .integral_window,.gray_btn_double .integral_window,.gray_btn_double_ok .integral_window{ width:71%; padding:0 15px; box-sizing:border-box; background:#fff; margin:0 auto; overflow:hidden; border-radius:5px;}
.iw_title{ background:#fff; width:100%; height:50px; line-height:50px; text-align:center; font-size:16px; color:#50c8b4; border-bottom:1px solid #50c8b4;}
.iw_content{ width:100%; margin:20px 0; font-size:14px; color:#4c4c4c;line-height: 20px;}
.integral_btn{ width:100%; margin:20px 0; overflow:hidden;border-top: 1px solid #50c8b4; padding: 20px  0 0 0; box-sizing:border-box;}
.integral_btn .btn_ok{ width:100px; height:32px; background:#50c8b4; color:#fff; margin:0 auto; text-align:center; line-height:32px; box-sizing:border-box; border-radius:5px; font-size:14px;}
.integral_btn .btn_left{ float:left; border:1px solid #50c8b4; color:#50c8b4; background:#fff;}
.integral_btn .btn_right{ float:right; background:#50c8b4; color:#fff; }
.integral_btn .btn_left,.integral_btn .btn_right{border-radius:5px; width:48%; height:32px; line-height:32px; box-sizing:border-box; text-align:center;}
.gray_big_img img{ width:100%;}
.voucher{ display:none; width:100%; text-align:center; padding: 0 0 11px 0; box-sizing:border-box; background:#fff; position:relative;-webkit-user-select:initial;}
.voucher .voucher_back{ width:71%; height:55px; background:url(../images/lottery_third_part_coupon.png) no-repeat; margin:0 auto; background-size: 100% 100%;  }
.voucher_code{ position:absolute; top:0px; color:#fff; font-size:18px; width:100%; padding: 0 0 0 23%; box-sizing: border-box;}
.gray,.gray_three{ width:100%; height:100%; position:fixed; background:rgba(0,0,0,.5); top:0px; left:0px; text-align:center; display:none;}
.gray .success,.gray_three .success{ width:295px; position:relative;}
.gray .close,.gray_three .close{ width:22px; position:absolute; right: 16%;}
.gray .success_message,.gray_three .success_message{ position:absolute; bottom:0px; height:200px; overflow:hidden; text-align:center; padding:25px 0; box-sizing:border-box;left: 50%;margin-left: -120px;}
.gray .success_message,.gray_three .success_message { color:#9a9a9a; font-size:18px; line-height:30px; width:220px;}
.gray .success_message span,.gray_three .success_message span{ color:#9a9a9a; font-size:18px;}
.address{ position:absolute;}
.right.remark{ float: right;width: 60%;text-align: justify; font-size:15px; color:#9a9a9a; min-height: 80px; outline:none;}
.gray_three .success_message{ color:#9a9a9a; font-size:14px; line-height:20px;}
.success_message .sm_ok{ width:100px; height:32px; line-height:32px; border-radius:5px; background:#50c8b4; text-align:center; color:#fff; box-sizing:border-box; margin:15px 0; }
.gray_three .success_message .red{ color:#fa6e64; font-size:14px;}
.content{padding: 0 0 20% 0;}
.hiddenClass{ overflow:hidden;}
.integral_del_num{ font-size:14px; color:#9a9a9a; margin: 0 0 0 5px;}

