* {margin: 0px;padding: 0px;border: none;text-decoration: none;list-style: none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-appearance:none; cursor:pointer;}
.title-btn{ height:44px; line-height:44px;text-align:center; background:#eff4f5; border-bottom:1px solid #e7e7e7; color:#3a3a3a; font-size:16px;}
.title-btn img{ float:left; width:8px; margin: 16px 0 0 20px; position:absolute; left:0px;}
a[title*="站长统计"]{ display:none;}
.content .edit_btn,.content .success_btn{ cursor:pointer; float:right; color:#ee750c; font-size:14px; position:absolute; right:20px; top:0px; overflow:hidden;}
body{ background:#eff4f5;}
.list-ul{ overflow: hidden;-webkit-overflow-scrolling: touch;}
.list-li{ height:100px; border-bottom: 1px solid #ECEAEA; position:relative; color: #666;-webkit-transform: translateX(0px); background:#fff;}
.list-li .con span{ display:inline-block; height:40px; width:70%;ext-overflow: -o-ellipsis-lastline; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2;-webkit-box-orient: vertical; margin:10px 0; line-height: 20px; float:left;}
.list-ul .btn{position: absolute;top: 0px;right: -80px;text-align: center;background: #fa6e64;color: #fff;width: 80px;height: 100px;line-height: 100px; cursor:pointer;}
.con-message{ width:74%; float:left;}
.btn-ok{ width:100%; height:50px; line-height:50px; background:#51c8b4; color:#fff; text-align:center; position:fixed; bottom:0px; left:0px; font-size:1.29rem;}
.btn-ok img{ width:1.1rem;}
.no img{ width:5.9rem;}
.no{ text-align:center; margin:10rem 0 0 0; display:none;}
.no p{ color:#9a9a9a; font-size:.86rem; text-align:center;}
.con .white_circle{ width:20px; float:left; margin: 40px 20px 0 20px;}
.con{ overflow:hidden;}
.con .cover{ width:80px; float:left; height:80px; margin: 10px 10px 10px 0; border:1px solid #ECEAEA;}
.con .con_center{ float:left; position:relative; padding: 10px 0 10px 0; height: 100px; box-sizing: border-box; width:40%;}
.con .con_center .price{ position:absolute; bottom:10px; left:0px; color:#ee750c; font-size:13px;}
.con .con_center .title{ color:#3a3a3a; font-size:12px;ext-overflow: -o-ellipsis-lastline; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.con .con_center .type{ color:#9a9a9a; padding: 10px 0; font-size:12px;display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.con_right{position: absolute;right: 20px;bottom: 10px; border:1px solid #ffb27d; border-radius:5px;}
.con_right>span{ display:inline-block;padding: 3px 6px; font-size:13px; color:#3a3a3a; cursor:pointer;}
.con_right>span:nth-child(2){ border-left:1px solid #ffb27d; border-right:1px solid #ffb27d;}
.con_right_modify .crm_modify_btn{ width:15px; position:absolute; right:20px; bottom:40px;}
.hidden{ display:none;}
.con_right_modify .crm_modify_num{ font-size:12px; color:#9a9a9a; position:absolute; right:50px; bottom:10px;}
.con .con_center .color_gray{ color:#9a9a9a;}
.con .con_fail{ width:36px; height:20px; color:#fff; font-size:12px; text-align:center; line-height:20px; background:#b3b3b3; border-radius:5px; float:left; margin: 40px 12px;}
.bottom_btn{ width:100%; height:50px; background:#fff; position:fixed; bottom:0px; left:0px;border-top: 1px solid #ECEAEA;}
.bottom_btn .bn_left img{ float:left; width:20px; margin:15px 0 0 20px; float:left;}
.bottom_btn .bn_left p{ float:left; color:#3a3a3a; font-size:12px; margin: 16px 0 0 10px;}
.bottom_btn .bn_right,.bottom_btn .bn_del{ float:right; height:50px; color:#fff; background:#b3b3b3; font-size:16px; text-align:center; padding:15px 20px; box-sizing:border-box;}
.bottom_btn .bn_center{ float:left;height: 50px;line-height: 25px;position: absolute; right: 30%;}
.bottom_btn .bn_center .bc_num{ color:#3a3a3a; font-size:14px; overflow: hidden; margin-right: 10px;}
.bottom_btn .bn_center span{ color:#ee750c;}
.bottom_btn .bn_center .bc_num .num_left{ font-size:14px;}
.bottom_btn .bn_center .bc_num .num_right{ font-size:12px;}
.bottom_btn .bn_center p{ font-size:10px; color:#9a9a9a;}
.bottom_btn .orange_back{ background:#ffb27d; color:#fff;cursor: pointer;}
.bottom_btn .bn_left{ float:left; overflow:hidden;}
.con_right_modify .crm_fail_btn{ width:36px; height:20px; color:#fff; font-size:12px; text-align:center; line-height:20px; background:#b3b3b3; border-radius:5px; position:absolute; right:20px; top:40px;}

/*  选择参数 */
.gray_box{ position:fixed; width:100%; height:100%; background:rgba(0,0,0,.2); top:0px; left:0px;}
.gray_box_param .norm_content{ padding:20px; box-sizing:border-box; border-bottom:1px solid #e7eded;}
.gray_box_param .norm_content .nc_top img{ width:80px; height:80px; position:absolute;}
.gray_box_param .norm_content .nc_top img.close{ width:13px; height:13px; position:absolute; top:0px; right:0px;}
.gray_box_param .norm_content .nt_right{padding: 0 0 0 90px;box-sizing: border-box;}
.gray_box_param .norm_content .nt_right .price{ color:#ee750c; font-size:16px;}
.gray_box_param .norm_content .nt_right .title{ color:#3a3a3a; font-size:12px; margin:5px 0 0 0;ext-overflow: -o-ellipsis-lastline;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;}
.gray_box_param .norm_content .nt_right .select{ color:#9a9a9a; font-size:12px;/*ext-overflow: -o-ellipsis-lastline;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;*/ margin-top: 24px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.gray_box_param .norm_content .nc_top{ position:relative; overflow:hidden;}
/* .gray_box_param .norm_content .nt_right .close{ width:13px; height:13px; position:absolute; top:0px; right:0px;} */
.gray_box_param .nc_center .type{ color:#3a3a3a; font-size:14px; margin:0 0 10px 0;padding:15px 20px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;;}
.gray_box_param .nc_center .type_kinds li span{ height:30px; line-height:30px; border-radius:5px; border:1px solid #ffb27d; font-size:12px; color:#4c4c4c;display:block;display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.gray_box_param .nc_center .type_kinds li{ line-height:30px; float:left; text-align:center; margin: 0 5% 10px 0; width:30%;}
.gray_box_param .nc_center .type_kinds{ padding:0 20px; box-sizing:border-box; overflow:hidden;}
.gray_box_param .nc_center .type_kinds li:nth-child(3n){ margin:0px;}
.gray_box_param .nc_center .type_kinds li span.on{ background:#ffb27d; color:#fff;}
.gray_box_param .nc_bottom .title{ font-size:14px; color:#3a3a3a; border-top:1px solid #e7eded; padding: 15px 0 0 0;}
.gray_box_param .nc_bottom{ padding:0 15px 20px; box-sizing:border-box;}
.gray_box_param .nc_bottom .count div{ float:left; padding: 5px 13px;line-height: 20px;}
.gray_box_param .nc_bottom .count{ float:right; border:1px solid #ffb27d; border-radius:5px; margin: 20px 0 25% 0;}
.gray_box_param .nc_bottom .count .num{ border-right:1px solid #ffb27d; border-left:1px solid #ffb27d; font-size:14px; color:#3a3a3a;}
.gray_box_param .btn .sure_btn{ width:100%; height:50px; line-height:50px; font-size:16px; color:#fff; text-align:center; position:fixed; bottom:0px; left:0px; background:#ffb27d;}
.gray_box_param .gray_content{position: fixed; bottom:0px; left:0px; width: 100%;bottom: 0px;background: #fff;}
.gray_box_param .btn .double_btn{ width:100%; position:fixed; bottom:0px; left:0px;}
.gray_box_param .btn .kucun_btn{ text-align:center; width:100%; position:fixed; bottom:0px; left:0px; height:50px; line-height:50px; font-size:16px; background:#b3b3b3; color:#fff;}
.gray_box_param .btn .double_btn div{ width:50%; height:50px; line-height:50px; float:left; color:#fff; font-size:16px; text-align:center;}
.gray_box_param .btn .double_btn .left{ background:#ffb27d;}
.gray_box_param .btn .double_btn .right{ background:#ee750c;}
.gray_box_param .nc_center .type_kinds li span.gray_no{ background:#f9f9f9; color:#b3b3b3; border:1px solid #b3b3b3;}
.content{padding: 0 0 20% 0;}


/*  购物车 */
.shop_car .shop_car_top .img{ width:52%; display:block; margin:0 auto 20px;}
.shop_car .shop_car_top .para_h{ color:#9a9a9a; font-size:14px; text-align:center; line-height:22px;}
.shop_car .shop_car_top{ padding:20px 0; background:#fff;}
.shop_car .para_title{ color:#4c4c4c; font-size:14px; padding:10px 20px 5px;}
.shop_car .recommend_ul{ padding:3.5px; box-sizing:border-box; overflow:hidden;}
.shop_car .recommend_ul li{ float:left; width:50%; padding:3.5px; box-sizing:border-box; border-radius:5px; overflow:hidden;}
.shop_car .recommend_ul li img{ width:100%;}
.shop_car .recommend_ul li .title{ font-size:12px; color:#3a3a3a; margin:10px 10px 0; text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden; min-height: 30px;}
.shop_car .recommend_ul li .price{ font-size:12px; color:#ee750c; margin:5px 0 10px 10px;}
.shop_car .recommend_ul li .ru_li{ background:#fff; border-radius:5px; overflow:hidden;}
/*  下拉动画 */
.pullUpIcon  {
	display:block; 
	width:40px; height:40px;
	margin:0 auto;
	background:url(../images/pull-icon@2x.png) 0 0 no-repeat;
	-webkit-background-size:40px 80px; background-size:40px 80px;
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:250ms;	
}
.pullUpIcon {
	background-position:0 100%;
	-webkit-transform:rotate(0deg) translateZ(0);
	-webkit-transition-duration:0ms; 
	-webkit-animation-name:loading;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}

@-webkit-keyframes loading {
	from { -webkit-transform:rotate(0deg) translateZ(0); }
	to { -webkit-transform:rotate(360deg) translateZ(0); }
}
.scroll_box{max-height: 300px; overflow: scroll;-webkit-overflow-scrolling: touch;}
.gray_hidden{ overflow:hidden;}

