/* CSS Document清除默认样式 */
html, body, div, span,iframe,h1, h2, h3, h4, h5, h6, p, pre,a, em, img,small,strong,b, i,dl, dt, dd, ol, ul, li, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td, footer, header,  menu, nav, section,input{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font:inherit;
    vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
aside, footer, header,  menu, nav, section {display: block;}
ol, ul {list-style: none;}
table {border-collapse: collapse;border-spacing: 0;}
/*全局控制*/
body {line-height:1;background:#fff;color:#555;font-size:12px; font-family:"微软雅黑";}
a{display:block; text-decoration:none; cursor:default;}
.no_margin{ margin:0;}
.pink, a.pink, .pr_1 > .btn > li > a.pink, .you_heart .scoll_date > .state_1 .re .btn > li > a.pink{ color:#E95B97;}
.yellow{ color:#FFF17E;}
.blue{ color:#75B9C6;}
.gray{ color:#C4C4C4;}
.float{ float:left;}
img{ vertical-align:middle;}

/*正文*/
html,body{
    width: 100%;
    height: auto;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    font-family: "微软雅黑";
    font-size: 12px;
    overflow-x: hidden;
}
.box{
    width: 100%;
    height: auto;
    font-family: "微软雅黑";
    padding-bottom: 10px;
}
body.box1{
    width: 100%;
    height: auto;
    background: #f5fafa;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    font-family: "微软雅黑";
    font-size: 12px;
    overflow-x: hidden;
}

/*=========投诉 order_complain.html=========*/
.complain{
    width: 100%;height: auto; background: #fff;padding-top: 10px;border-radius: 10px; overflow: hidden;
}
.complain textarea{width: 90%;min-height: 100px; border-radius: 10px; border: solid 1px #c3c8c8;resize: none;padding: 10px 10px;margin-left: 2%;}
.complain_footer{
	width: 100%;height: 60px; border-top: solid 1px #c3c8c8; position: fixed;bottom: 0;
}
.complain_footer p{
	width: 92%;height: 40px;background: #fa6e64; border-radius: 10px; margin:  0 auto; text-align: center;line-height: 40px;color: #fff;font-size: 1.5em;margin-top: 10px;
}

/*=========评价详情 order_evaluate.html==========*/
.evaluate_head{
	width: 100%;height: auto;padding-top: 20px;
}
.center_img{
	width: 82px;height: 82px;margin: 0 auto;position: relative;
}
.center_img p>img{
	width: 82px;height: 82px;border-radius: 50px;overflow: hidden;
}
.evaluate_head .vv{
	width: 20px;position: absolute;top: 0px;
}
.evaluate_main{
	margin: 20px;
}
.evaluate_main p{
	text-align: center;padding-top: 10px;font-size: 1.3em;color: #9ba0a0;
}
.evaluate_main p>img{width: 25px;margin: 0 3px;}
.evaluate_foot{
    width: 90%; height: auto; font-size: 1.2em; margin: 0 auto;color: #50c8b4;border-bottom: solid 1px #c3c8c8;line-height: 20px;
    padding-bottom: 10px;
}
.evaluate_btm ul{
	text-align: center;
}
.evaluate_btm ul li{
	width: 100px;height: 100px;display: inline-block; border-radius: 10px;overflow: hidden; margin: 20px 10px;
}
.evaluate_time{
    font-size: 1em;
    color: #c3c8c8;
    text-align: center;
    padding-bottom: 10px;
}




/*=======订单详情 order_workDetails.html======*/
.nav_workDetails{
	width: 100%;
	height: 30px;font-size: 1.2em;background: #91e1d7;text-align: center;line-height: 30px;color: #fff;
}
.search_one_main2 .head02{
    width: 100%;height: 85px;margin:  0 auto;position: relative;color: #333;background-color: #fff;border-bottom: solid 1px #dee3e3;
}
.search_one_main2 .head02 .center_img{
    width: 60px; height: 60px; float: left; border-radius: 30px;
}
.search_one_main2 .head02 .center_img>img{
    margin-top: 6px; margin-left: 10px;width:65px;height: 65px;border-radius: 50px;border: solid 3px #ffffff;
}
.search_one_main2 .head02 .center_text{
    padding-top: 6px;padding-left: 28px; display: inline-block;color: #fff;
    width: 72%;padding-bottom: 5px;
}
.search_one_main2 .head02 .center_img p{
    width: 15px; height: 15px;position: absolute; left: 15px;top: 10px;
}
.search_one_main2 .head02 .center_img p>img{
    width: 15px;height: 15px;
}
.search_one_main2 .head02 .center_text ul li{
    line-height: 20px;color: #333;font-size: 13px;height: 30px;
}
.search_one_main2 .head02 .center_text ul li span{
    margin-left: 20px;position: absolute;top: 30px;right: 10px;
}
.search_one_main2 .head02 .center_text ul li span>img{
    width: 10px;
}
.search_one_main2 .head02 .center_text ul li span p{
    display: inline;margin-right: 5px;
}
.search_one_main2 .head02 .center_text ul li span p>img{
    width: 12px;
}
.search_one_main2 .head02 .center_text ul li span b{
    position: relative;
    top: 1px;
}
.search_one_main2 .head02 .center_text ul li b{
    line-height: 26px;font-weight: 17px;font-size: 18px;color: #fa6e64; margin-right: 5px;
}
.search_one_main2 .head02 .center_text ul li b>img{
    width: 13px;
}
.search_one_main2 .head02 .center_text ul li a{
    display: inline-block;
}
.search_one_main2 .head02 .center_text ul li a.text1{
   color: #fa6e64;
}
.search_one_main2 .head02 .center_text ul li i{
    line-height: 32px;font-weight: 18px; font-size: 15px; color: #666;
}
.search_one_main2 .head02 .center_text ul .search_main_ctwo{
     width: 75%;height: 24px; margin: 8px -3px 9px;overflow: hidden;
}
.search_one_main2 .head02 .center_text ul .search_main_ctwo01{
     width: 75%;height: 28px; margin: 9px -3px 0;overflow: hidden;
}
.search_one_main2 .head02 .center_text ul .search_main_ctwo01 a{
    padding: 3px 12px; display: inline-block;background: #7f7f7f; color: #fff; border-radius: 15px;
       margin: 0px 10px 0px 0px;
}
.search_one_main2 .head02 .center_text ul .search_main_ctwo p{
    padding: 1px 6px; display: inline-block;  background:#50c8b4; color: #fff; border-radius: 15px;
    margin-right: 3px;
}
.box-hzs1{width: 100%;border-top: 1px solid #cbd3d3;border-bottom: 1px solid #cbd3d3; background: #fff; margin:10px 0;overflow: hidden; padding: .61rem; box-sizing: border-box; position: relative;}
.bh-left1{width: 65px; height:65px;float: left;box-sizing: border-box;position: relative; margin: 0 10px;}
.bh-left1>img{width: 65px; height:65px;border-radius: 50px; overflow: hidden;}
.bh-right1{float: left;width: 72%;padding: 0 0 0 1.1rem;box-sizing: border-box;}
.img-vip1{width: 30%;position: absolute;top: -2%;}
.bh-name1{color: #141e28;font-size: 1.5em; height: 30px;margin-top: 11px;}
.bh_sex1{width: 20px;margin-top: -10px;}
.bh_sex1>img{width:20px; display:inline-block; margin:0 0 0 .2rem; display:black;}
.bh-start1 img{width: 5%;display: inline-block; margin-right: 3px;}
.bh-start1{margin-top: 0%;}
.bh_d_btn1{
	position: absolute;top:25px;right: 10px;
}
.bh_d1{
	width: 35px;display: inline-block;margin-right:5px;
}
.bh_dh1{
	width: 35px;display: inline-block;
}
.li_workDetails{
	width: 100%;height:auto; background: #fff;margin:10px 0;
}
.li_workDetails ul{ border-top: 1px solid #cbd3d3; }
.li_workDetails ul li{
	height: 50px;line-height: 50px;border-bottom: 1px solid #cbd3d3;padding: 0 10px;color: #141e28;font-size: 1.2em;
}
.li_workDetails ul li b{
	color: #9ba0a0;float: right;
}
.li_workDetails ul li b>img{width: 10px; margin-right: 3px;}


/*======评价 order_evaluatetwo.html=======*/
.complain_btm{
	width: 100%;height: auto;padding-bottom: 10px; background: #fff;border-bottom: 1px solid #cbd3d3;
}
.complain_btm .complain_tj{
    width: 80px;
    height: 80px;
    overflow: hidden;
    padding-top: 10px;
}
.li_workDetails ul li p{
	display: inline-block;
}
.li_workDetails ul .comolain_title{
	font-size: 1.5em;
}
.li_workDetails ul li p>img{width: 40px;height: 40px;border-radius: 50px;}
.li_workDetails ul li b>img{
	width: 10px;
}
.evaluate{
    width: 163px;
    float: right;
}
.evaluate input{background: url(../images/star_p.png) no-repeat scroll right center;cursor: pointer; height: 30px;width: 29px; padding: 0; border: 0;position: relative;
    top: 10px;-webkit-tap-highlight-color:rgba(255,255,255,0);
}

.evaluate input.active{background-position:left center; height: 30px;width: 29px; padding: 0; border: 0;position: relative; right: -3px;
    top: 10px;
}
.complain_btm1{
    position: relative;left: 10px;
}
.complain_btm1{
    width: auto; height: auto;overflow: hidden;display: inline-block;
}
.dd{
    max-width: 75%;height: auto;
    float: left;border-radius: 10px;overflow: hidden;
}
.dd div{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    overflow: hidden;
    float: left;
    padding-top: 10px;
}
.complain_con{
    margin-bottom: 60px;
}
.complain_footer1{
    width: 100%;height: 60px; border-top: solid 1px #c3c8c8; position: fixed;bottom: 0;display: block;
}
.complain_footer1 p{
    width: 92%;height: 40px;background: #fa6e64; border-radius: 10px; margin:  0 auto; text-align: center;line-height: 40px;color: #fff;font-size: 1.5em;margin-top: 10px;
}
a[title*="站长统计"]{ display:none;}