<html>
<meta charset="UTF-8">
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<style type="text/css">
.btn{}
</style>
<script type="text/javascript">
	$(function(){

		$('.btnScoreshop').click(function(){
			
			var strParam = 'orderId='+'' + '&phoneNum='+'' +
			'&nickName=' + '' + '&startTime='+ '' +
			'&endTime=' + '' ;
		window.location.href = "<%= CLI_HOST_API_URL %>/nggirl-web/web/admin/scoreshop/exportOrderList/2.5.4?" + strParam+'&v=<%= VERSION %>';
		});
		
		$('.btnLottery').click(function(){
			
			var strParam = 'orderId='+'' + '&phoneNum='+'' +
			'&nickName=' + '' + '&startTime='+ '' +
			'&endTime=' + '' ;
		window.location.href = "<%= CLI_HOST_API_URL %>/nggirl-web/web/admin/lottery/exportAwardRecords/2.5.4?" + strParam+'&v=<%= VERSION %>';
		});
	});
</script>
<body>
<a class="btnScoreshop" href="javascript:;" >导出积分商城订单</a>
<a class="btnLottery" href="javascript:;" >导出摇奖订单</a>
</body>
</html>