body{ background: #f6f6f6;}
.hidden{ display: none;}
.content_box{ margin:14px 0 0 0;}
.content_box ul{ padding:0 14px; background: #fff;}
.content_box ul li{ border-bottom: 1px solid rgba(151,151,151,.23); padding:21px 0;}
.content_box ul li.border_none{ border:none; padding:21px 0;}
.content_box ul li span{width:19%; text-align: center; display:inline-block;}
.content_box ul li span:nth-child(1){ width:12%;}
.content_box ul li span:nth-child(2){ width:28%;}
.content_box ul li span:nth-child(5){ width:15%;}
.content_box ul li span{font-size: 14px; color: #333333; line-height: 15px;}
.content_box ul li:nth-child(1) span{font-size: 15px; color: #333333; line-height: 15px;}
.content_box ul li .cb_status_yihuan{ color: #1DCFC9;}/*已还*/
.content_box ul li .cb_status_yuqi{ color: #FF2F49;}/*逾期*/
.content_box ul li .cb_status_weihuan{ color:#38415C;}/*未还*/
.content_box .repayment_btn{ margin:25px auto; width:83%; padding:13px 0;font-size: 14px; color: #FFFFFF;background-image: linear-gradient(-90deg, #0C9BFF 0%, #4DA3FF 98%); border-radius: 100px; text-align:center; }


