body{
    background:#f6f6f6;
}
.list-box ul {
    width: 100%;
    margin-top:12px;
}
.list-box ul li{
    padding : 0 15px;
    background:#fff;
}
.list-box ul li .list-li{
    border-bottom:1px solid #e9e9e9;
    height : 42px;
    line-height : 40px;
    font-size:14px;
    color:#333;
    position: relative;
}
.list-box ul li .list-li img {
    width:7px;
    height : 14px;
    position: absolute;
    right : 5px;
    top : 50%;
    margin-top : -7px;
}