.content_box ul{background: #FFFFFF; box-shadow: 0 0 1px 1px rgba(217,217,217,0.50); margin:13px 0 0 0;}
.content_box ul li{ padding:0 24px; position: relative;}
.content_box ul li .cb_li{ border-bottom: 1px solid rgba(151,151,151,.23);padding: 18px 0;}
.content_box ul li .border_none{ border-bottom:none;}
.content_box ul li .cb_li p{font-size: 14px; color: #333333;text-align: justify;padding-right: 17px;}
.content_box ul li .cb_li div{font-size: 13px; color: #999999; line-height: 18px;margin: 11px 23px 0;text-align: justify;}
.content_box ul li .cb_li .cb_arr{ position: absolute; width:14px; top:24px; right:25px;}
.content_box ul li .cb_li .blue{ color:#0C9BFF;font-size: 13px;}
body{ background: #f6f6f6;}
.hidden{ display: none;}
.none_msg img{ width:60%; margin: 0 auto; display: block;}
.none_msg p{ font-size: 18px; color: #38415C;  letter-spacing: -0.28px; text-align: center; margin:53px 0 9px 0;}
.none_msg .open_online{    border: 1px solid #0C9BFF; border-radius: 100px;  width: 46%;  padding: 8px 0;  text-align: center;  margin: 0 auto;  box-sizing: border-box;  line-height: 20px;}
.none_msg{ margin:50px 0 0 0; color:#0C9BFF;}
.content_box{margin-bottom: 10px;}
*{ text-decoration: none;}
