<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="Keywords" content="<%= PAGE_KEYWORDS %>" />
<meta name="Description" content="<%= PAGE_DESCRIPTION %>" />
	<title>南瓜姑娘</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="black" name="apple-mobile-web-app-status-bar-style" />
	<meta content="telephone=no" name="format-detection" />
	<link rel="stylesheet" href="../share/css/share.css" type="text/css">
    <script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript" src="../share/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="../share/js/md5.js"></script>
    <script type="text/javascript" src="../share/js/params.js"></script>
    
    <script>
	var yourstyle;
	var animationSpan = 300;
	var delaytime = 500;
	var firsttime=0;
	//测试题跳转的点击事件关联
	function questionSelectInit(){
		$(".part1 .answer1").click(function(){
			$(this).addClass("checked").siblings().removeClass("checked");
			$(".part1").delay(delaytime).slideUp(animationSpan);
			$(".part2").delay(delaytime).show(0);
			})
		$(".part1 .answer2").click(function(){
			$(this).addClass("checked").siblings().removeClass("checked");
			$(".part1").delay(delaytime).slideUp(animationSpan);
			$(".part3").delay(delaytime).show(0);
			})
		$(".part2 .answer1").click(function(){
			$(this).addClass("checked").siblings().removeClass("checked");
			$(".part2").delay(delaytime).slideUp(animationSpan);
			$(".part4").delay(delaytime).show(0);
			})
		$(".part2 .answer2").click(function(){
			$(this).addClass("checked").siblings().removeClass("checked");
			$(".part2").delay(delaytime).slideUp(animationSpan);
			$(".part3").delay(delaytime).show(0);
			})
		$(".part3 .answer1").click(function(){
			$(this).addClass("checked").siblings().removeClass("checked");
			$(".part3").delay(delaytime).slideUp(animationSpan);
			$(".part5").delay(delaytime).show(0);
			})
		$(".part3 .answer2").click(function(){
			$(this).addClass("checked").siblings().removeClass("checked");
			$(".part3").delay(delaytime).slideUp(animationSpan);
			$(".part6").delay(delaytime).show(0);
			})
		$(".part4 .answer1").click(function(){
			$(this).addClass("checked").siblings().removeClass("checked");
			yourstyle="D";
			if (/iphone|ipad|ipod/.test(ua)) {
				_czc.push(['_trackEvent','ceshiti_nashen','phoneType=iOS','男神测试','',]);	
			} else if (/android/.test(ua)) {
				_czc.push(['_trackEvent','ceshiti_nashen','phoneType=and','男神测试','',]);
			};
			$(".section3").slideDown(delaytime);
			})
		$(".part4 .answer2").click(function(){
			$(this).addClass("checked").siblings().removeClass("checked");
			yourstyle="A";
			if (/iphone|ipad|ipod/.test(ua)) {
				_czc.push(['_trackEvent','ceshiti_nashen','phoneType=iOS','男神测试','',]);	
			} else if (/android/.test(ua)) {
				_czc.push(['_trackEvent','ceshiti_nashen','phoneType=and','男神测试','',]);
			};
			$(".section3").slideDown(delaytime);
			})
		$(".part5 .answer1").click(function(){
			$(this).addClass("checked").siblings().removeClass("checked");
			yourstyle="B";
			if (/iphone|ipad|ipod/.test(ua)) {
				_czc.push(['_trackEvent','ceshiti_nashen','phoneType=iOS','男神测试','',]);	
			} else if (/android/.test(ua)) {
				_czc.push(['_trackEvent','ceshiti_nashen','phoneType=and','男神测试','',]);
			};
			$(".section3").slideDown(delaytime);
			})
		$(".part5 .answer2").click(function(){
			$(this).addClass("checked").siblings().removeClass("checked");
			$(".part5").delay(delaytime).slideUp(animationSpan);
			$(".part7").delay(delaytime).show(0);
			})
		$(".part6 .answer1").click(function(){
			$(this).addClass("checked").siblings().removeClass("checked");
			yourstyle="F";
			if (/iphone|ipad|ipod/.test(ua)) {
				_czc.push(['_trackEvent','ceshiti_nashen','phoneType=iOS','男神测试','',]);	
			} else if (/android/.test(ua)) {
				_czc.push(['_trackEvent','ceshiti_nashen','phoneType=and','男神测试','',]);
			};
			$(".section3").slideDown(delaytime);
			})
		$(".part6 .answer2").click(function(){
			$(this).addClass("checked").siblings().removeClass("checked");
			$(".part6").delay(delaytime).slideUp(animationSpan);
			$(".part8").delay(delaytime).show(0);
			})
		$(".part7 .answer1").click(function(){
			$(this).addClass("checked").siblings().removeClass("checked");
			$(".part7").delay(delaytime).slideUp(animationSpan);
			$(".part9").delay(delaytime).show(0);
			})
		$(".part7 .answer2").click(function(){
			$(this).addClass("checked").siblings().removeClass("checked");
			yourstyle="I";
			if (/iphone|ipad|ipod/.test(ua)) {
				_czc.push(['_trackEvent','ceshiti_nashen','phoneType=iOS','男神测试','',]);	
			} else if (/android/.test(ua)) {
				_czc.push(['_trackEvent','ceshiti_nashen','phoneType=and','男神测试','',]);
			};
			$(".section3").slideDown(delaytime);
			})
		$(".part8 .answer1").click(function(){
			$(this).addClass("checked").siblings().removeClass("checked");
			yourstyle="C";
			if (/iphone|ipad|ipod/.test(ua)) {
				_czc.push(['_trackEvent','ceshiti_nashen','phoneType=iOS','男神测试','',]);	
			} else if (/android/.test(ua)) {
				_czc.push(['_trackEvent','ceshiti_nashen','phoneType=and','男神测试','',]);
			};
			$(".section3").slideDown(delaytime);
			})
		$(".part8 .answer2").click(function(){
			$(this).addClass("checked").siblings().removeClass("checked");
			yourstyle="E";
			if (/iphone|ipad|ipod/.test(ua)) {
				_czc.push(['_trackEvent','ceshiti_nashen','phoneType=iOS','男神测试','',]);	
			} else if (/android/.test(ua)) {
				_czc.push(['_trackEvent','ceshiti_nashen','phoneType=and','男神测试','',]);
			};
			$(".section3").slideDown(delaytime);
			})
		$(".part9 .answer1").click(function(){
			$(this).addClass("checked").siblings().removeClass("checked");
			yourstyle="G";
			if (/iphone|ipad|ipod/.test(ua)) {
				_czc.push(['_trackEvent','ceshiti_nashen','phoneType=iOS','男神测试','',]);	
			} else if (/android/.test(ua)) {
				_czc.push(['_trackEvent','ceshiti_nashen','phoneType=and','男神测试','',]);
			};
			$(".section3").slideDown(delaytime);
			})
		$(".part9 .answer2").click(function(){
			$(this).addClass("checked").siblings().removeClass("checked");
			yourstyle="H";
			if (/iphone|ipad|ipod/.test(ua)) {
				_czc.push(['_trackEvent','ceshiti_nashen','phoneType=iOS','男神测试','',]);	
			} else if (/android/.test(ua)) {
				_czc.push(['_trackEvent','ceshiti_nashen','phoneType=and','男神测试','',]);
			};
			$(".section3").show();
			})
	}

	//男神结果页显示判断
	function mantype(){
		if(yourstyle=="A"){
			$(".result").append('<p class="retop">"男神A"</p><div class="photo"><img src="images/ns1.png" alt=""></div><p class="name">宋仲基</p>');
			}
		if(yourstyle=="B"){
			$(".result").append('<p class="retop">"男神B"</p><div class="photo"><img src="images/ns2.png" alt=""></div><p class="name">黄渤</p>');
			}
		if(yourstyle=="C"){
			$(".result").append('<p class="retop">"男神C"</p><div class="photo"><img src="images/ns3.png" alt=""></div><p class="name">高晓松</p>');
			}
		if(yourstyle=="D"){
			$(".result").append('<p class="retop">"男神D"</p><div class="photo"><img src="images/ns4.png" alt=""></div><p class="name">权志龙</p>');
			}
		if(yourstyle=="E"){
			$(".result").append('<p class="retop">"男神E"</p><div class="photo"><img src="images/ns5.png" alt=""></div><p class="name">张震</p>');
			}
		if(yourstyle=="F"){
			$(".result").append('<p class="retop">"男神F"</p><div class="photo"><img src="images/ns6.png" alt=""></div><p class="name">霍建华</p>');
			}
		if(yourstyle=="G"){
			$(".result").append('<p class="retop">"男神G"</p><div class="photo"><img src="images/ns7.png" alt=""></div><p class="name">鹿晗</p>');
			}
		if(yourstyle=="H"){
			$(".result").append('<p class="retop">"男神H"</p><div class="photo"><img src="images/ns8.png" alt=""></div><p class="name">王凯</p>');
			}
		if(yourstyle=="I"){
			$(".result").append('<p class="retop">"男神I"</p><div class="photo"><img src="images/ns9.png" alt=""></div><p class="name">杨洋</p>');
			}
	}

	//初始化微信分享功能
	function weixinConfig(title,desc,link,imgUrl) {

		wx.ready(function(){

			//获取“分享到朋友圈”按钮点击状态及自定义分享内容接口
			wx.onMenuShareTimeline({
				title: title, // 分享标题
				link: link, // 分享链接
				imgUrl: imgUrl, // 分享图标
				success: function () {
					// 用户确认分享后执行的回调函数
					if(firsttime == 0){												
						if(yourstyle!=null && yourstyle!=''){
						   mantype();
						   firsttime=1;
						   $(".section2,.section3").slideUp(animationSpan);
							$(".section4").show();
							if (/iphone|ipad|ipod/.test(ua)) {
								_czc.push(['_trackEvent','ceshiti_nashen','phoneType=iOS','男神测试','',]);	
							} else if (/android/.test(ua)) {
								_czc.push(['_trackEvent','ceshiti_nashen','phoneType=and','男神测试','',]);
							};
						}
					}
				},
				cancel: function () {
					// 用户取消分享后执行的回调函数
				}
			});


			//获取“分享给朋友”按钮点击状态及自定义分享内容接口
			wx.onMenuShareAppMessage({
				title: title, // 分享标题
				desc: desc, // 分享描述
				link: link, // 分享链接
				imgUrl: imgUrl, // 分享图标
				type: 'link', // 分享类型,music、video或link，不填默认为link
				dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
				success: function () {
					// 用户确认分享后执行的回调函数
					if(firsttime == 0){												
						if(yourstyle!=null && yourstyle!=''){
						   mantype();
						   firsttime=1;
						   $(".section2,.section3").slideUp(animationSpan);
							$(".section4").show();
							if (/iphone|ipad|ipod/.test(ua)) {
								_czc.push(['_trackEvent','ceshiti_nashen','phoneType=iOS','男神测试','',]);	
							} else if (/android/.test(ua)) {
								_czc.push(['_trackEvent','ceshiti_nashen','phoneType=and','男神测试','',]);
							};
						}
					}
				},
				cancel: function () {
					// 用户取消分享后执行的回调函数
				}
			});
		});

		var currenturl = window.location.href;
		//初始化配置信息
		$.ajax({
			url: '<%= CLI_HOST_API_URL %>/nggirl/app/cli/weixinjs/config',
			type: 'post',
			dataType: 'json',
			data: getFinalRequestObject({url: currenturl, accessToken: getAccessToken()}),
			success: function (data) {
				//初始化配置
				wx.config({
					debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
					appId: data.data.appId, // 必填，公众号的唯一标识
					timestamp: data.data.timestamp, // 必填，生成签名的时间戳
					nonceStr: data.data.noncestr, // 必填，生成签名的随机串
					signature: data.data.signature,// 必填，签名，见附录1
					jsApiList: ["onMenuShareTimeline","onMenuShareAppMessage"] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
				});
			}
		});
	}
		

	//页面初始化函数
	$(function(){
		//初始化页面高度
			$(".part").height($(window).height());
			if($(window).height()>667){
				$(".section4").height($(window).height());
				}
		
		//第一页
		$(".section1").bind("click",function(){
			$(this).slideUp(300);
			$(".section2,.part1").show(0);
			
		});	
		
		questionSelectInit();
		 //获取服务号的appid
		/* $.ajax({
			type : 'GET',
			dataType : 'json',
			data : getFinalRequestObject({}),
			url : '<%= CLI_HOST_API_URL %>/nggirl/app/sys/getFwhId',
			success : function(data) {
				var title = '“老干部or小鲜肉”，测测谁是你老公';
				var desc = '我的老公竟然是ta，万万没想到…';
				var link = '/nggirl/h5/share/shareindex.html';
				var imgUrl = '/nggirl/h5/share/images/part1.jpeg';
				weixinConfig(title,desc,link,imgUrl);
			}
		}); */		
		 
		 
		var title = '“老干部or小鲜肉”，测测谁是你老公';
		var desc = '万万没想到，我的老公竟然是Ta…';
		var link = window.location.protocol+"//"+window.location.host+'/nggirl/h5/share/shareindex.html';
		var imgUrl = window.location.protocol+"//"+window.location.host+'/nggirl/h5/share/images/part1.jpeg';
		weixinConfig(title,desc,link,imgUrl);
		
	});
	

	</script>
</head>

<body>
	<div class="section1">
    	<img src="images/start.png" alt="">
    </div>
    <div class="section2">
        <div class="part part1">
            <div class="question1">
                <span>Q.&nbsp;</span>
                <p>网上大火的剧都有在追吗？</p>
            </div>
            <div class="answer answer1">
                <p class="tit">A.</p>
                <p class="ansdel">那是当然，每一个温柔帅气的男主角都是我老公</p>
                <img src="images/com.png">
            </div>
            <div class="answer answer2">
                <p class="tit">B.</p>
                <p class="ansdel">完美避开全部老公</p>
                <img src="images/com.png">
            </div>
            <div class="bot">
                <img src="images/part1b.png">
            </div>
        </div>
        <div class="part part2">
            <div class="question1">
                <span>Q.&nbsp;</span>
                <p>对韩国偶像如数家珍？</p>
            </div>
            <div class="answer answer1">
                <p class="tit">A.</p>
                <p class="ansdel">对啊，好看的大多都认得，绝对不脸盲</p>
                <img src="images/com.png">
            </div>
            <div class="answer answer2">
                <p class="tit">B.</p>
                <p class="ansdel">不怎么认识，严重脸盲</p>
                <img src="images/com.png">
            </div>
            <div class="bot">
                <img src="images/part2b.png">
            </div>
        </div>
        <div class="part part3">
            <div class="question1">
                <span>Q.&nbsp;</span>
                <p>老干部才是你的心头好？</p>
            </div>
            <div class="answer answer1">
                <p class="tit">A.</p>
                <p class="ansdel">是的，男人如古董，越老越有味</p>
                <img src="images/com.png">
            </div>
            <div class="answer answer2">
                <p class="tit">B.</p>
                <p class="ansdel">老古董也可以是外表年轻内心老的人啊</p>
                <img src="images/com.png">
            </div>
            <div class="bot">
                <img src="images/part3b.png">
            </div>
        </div>
        <div class="part part4">
            <div class="question1">
                <span>Q.&nbsp;</span>
                <p>白色情人节最希望约会对象送什么礼物？</p>
            </div>
            <div class="answer answer1">
                <p class="tit">A.</p>
                <p class="ansdel">包装精美的昂贵首饰</p>
                <img src="images/com.png">
            </div>
            <div class="answer answer2">
                <p class="tit">B.</p>
                <p class="ansdel">精心准备的浪漫晚餐和一直想要的小东西</p>
                <img src="images/com.png">
            </div>
            <div class="bot">
                <img src="images/part4b.png">
            </div>
        </div>
        <div class="part part5">
            <div class="question1">
                <span>Q.&nbsp;</span>
                <p>幽默的男人和有绅士风度的男人哪种更撩妹？</p>
            </div>
            <div class="answer answer1">
                <p class="tit">A.</p>
                <p class="ansdel">有幽默感的男人最好玩了</p>
                <img src="images/com.png">
            </div>
            <div class="answer answer2">
                <p class="tit">B.</p>
                <p class="ansdel">有绅士风度分分钟被拿下</p>
                <img src="images/com.png">
            </div>
            <div class="bot">
                <img src="images/part5b.png">
            </div>
        </div>
        <div class="part part6">
            <div class="question1">
                <span>Q.&nbsp;</span>
                <p>喜欢反差萌吗？</p>
            </div>
            <div class="answer answer1">
                <p class="tit">A.</p>
                <p class="ansdel">喜欢，反差萌什么的最可爱了</p>
                <img src="images/com.png">
            </div>
            <div class="answer answer2">
                <p class="tit">B.</p>
                <p class="ansdel">并不喜欢</p>
                <img src="images/com.png">
            </div>
            <div class="bot">
                <img src="images/part6b.png">
            </div>
        </div>
        <div class="part part7">
            <div class="question1">
                <span>Q.&nbsp;</span>
                <p>恋爱时更喜欢保留个人空间还是更喜欢黏在一起？</p>
            </div>
            <div class="answer answer1">
                <p class="tit">A.</p>
                <p class="ansdel">保证一定个人空间</p>
                <img src="images/com.png">
            </div>
            <div class="answer answer2">
                <p class="tit">B.</p>
                <p class="ansdel">黏在一起啊</p>
                <img src="images/com.png">
            </div>
            <div class="bot">
                <img src="images/part7b.png">
            </div>
        </div>
        <div class="part part8">
            <div class="question1">
                <span>Q.&nbsp;</span>
                <p>约会对象的才华和外表，你更注重哪一个？</p>
            </div>
            <div class="answer answer1">
                <p class="tit">A.</p>
                <p class="ansdel">迷恋有才的男人</p>
                <img src="images/com.png">
            </div>
            <div class="answer answer2">
                <p class="tit">B.</p>
                <p class="ansdel">我还是外貌协会的.</p>
                <img src="images/com.png">
            </div>
            <div class="bot">
                <img src="images/part8b.png">
            </div>
        </div>
        <div class="part part9">
            <div class="question1">
                <span>Q.&nbsp;</span>
                <p>喜欢看起来很阳光善良的男人还是看起来很稳重优雅的男人？</p>
            </div>
            <div class="answer answer1">
                <p class="tit">A.</p>
                <p class="ansdel">阳光善良的</p>
                <img src="images/com.png">
            </div>
            <div class="answer answer2">
                <p class="tit">B.</p>
                <p class="ansdel">稳重优雅的</p>
                <img src="images/com.png">
            </div>
            <div class="bot">
                <img src="images/part9b.png">
            </div>
        </div>
    </div>
    <div class="section3">
    	<img src="images/toparrow.png" alt="">
        <div class="sharebox">
        	<p>分享到朋友圈，即可揭开“老公”真容~</p>
        </div>
    </div>
    <div class="section4">
    	<div class="top">
        	<img src="images/section1top.png" alt="">
        </div>
        <div class="result">
        </div>
        <img src="images/section4e.png" alt="" class="ewm">
        <div class="section4bot section4bots">
    		<img src="images/section4bot.png" alt="">
    	</div>
    </div>
    <script src="//s4.cnzz.com/z_stat.php?id=<%= CNZZ_STAT_CODE_ID %>&web_id=<%= CNZZ_STAT_CODE_WEB_ID %>" language="JavaScript"></script>
</body>
</html>
