@font-face {
	 font-family: lanting;
	 src:url(../source/方正兰亭中黑.TTF);
}
@font-face {
	 font-family: lantingx;
	 src:url(../source/兰亭纤黑.TTF);
}
*{ margin:0; padding:0;}
body{ background:#fff; font-family:"lanting";}
.family{font-family:"lanting";}
.nav-right span{ cursor:pointer;}
.bg1{ background:url(../images/bgco.png) no-repeat; background-size:100%;}
.carousel-inner{/*width:91%;*/ margin:0 auto;}
.col-xs-12{ box-sizing:border-box; font-size:20px; text-align:center;}
.col-xs-12 img{ width:100%;}
.nav-logo{  float: left;   height: 40px;   margin-top: 5px;   overflow: hidden;   }  
.nav-logo a{  margin: 0;  padding: 0;}  
.bottomm{ position:fixed; bottom:0; left:0; height:55px; width:100%; background:#fff; border-top:#d7dcdc solid 1px;}
.bottomm .btn{height:33px; width:50.6%;  padding:0; margin: 10px 24.7%; display:inline-block; font-size:18px; color:#FA6E64; background:#fff; border:#FA6E64 solid 1px; border-radius:17px; }
.bottomh .btn{ position:fixed; bottom:30px; left:24.7%;height:35px; width:50.6%;  padding:0; display:inline-block; font-size:18px; color:#FA6E64; background:#fff; border:#FA6E64 solid 1px; border-radius:17px; }
.bottom p{ line-height:18px; padding-bottom: 30px; text-align:center; margin:0 auto;}
.bottom p span{ margin-right:127px;}
.bottom p span:last-child{ margin-right:0 !important;}
.bottom .intro1:before{ content:""; width:35px; height:16px; display:inline-block; background:url(../images/icon1.png)  no-repeat; background-size:25px 16px;} 
.bottom .intro2:before{ content:""; width:28px; height:18px; display:inline-block; background:url(../images/icon2.png)  no-repeat; background-size:18px;} 
.bottom .intro3:before{ content:""; width:24px; height:18px; display:inline-block; background:url(../images/icon3.png)  no-repeat; background-size:14px 18px;} 
.center{ width:100%;}

.center1{font-family:"lantingx";}
.center1 .report a,.center1 .report1 a{text-decoration:none; display:block;border:#fff solid 1px;box-sizing:border-box;transition: all .5s;}
.center1 img{ margin-bottom:5px;}
.center1 p{ text-align:left;color:#3a3a3a; font-size:14px; padding:0 10px; line-height:24px; margin:0;}

.bottom{font-family:lantingx; font-size:14px; color:#9a9a9a;width:100%; padding-top:30px; background:#fff;}
.intro{ font-size:16px;}
.row{ margin:0 !important;}
#myScrollspy{ position:relative; }

.navlist{font-family:"lanting";}	
.navlist span.on{ background:#fa6e64; color:#fff; border-radius:25px; }
.navbar-nav li a{ border:#dcdcdc solid 1px; border-radius:50%; }
.navbar-nav .active a{ background:#000;}
.right h3{ font-size:40px; color:#fff; line-height:1; margin:0;}
.right .ziti1{ width:356px; margin-top:30px;}
.right .ziti2{ width:176px; margin-top:20px;}
.fangkuai{ width:79px; margin-top:30px;}
.right p{font-family:"lanting"; font-size:24px; color:#fff; line-height:44px; margin-top:40px;}
.right .erweima{ width:200px; margin-top:20px;}
.right .tip{ font-family:lantingx;color:#FA6E64; font-size:20px; margin-top:10px;letter-spacing:6px;}
.right .tip span{ width:200px; text-align:center; display:inline-block;}
.right .tip .lettspac{ letter-spacing:11px;}
.mr100{ margin-right:100px;}
.lineOri{ width:50px; height:10px; background:#ffb2b4; margin-left:15px;}
.lineOri1{ width:50px; height:10px; background:#ffb2b4; margin:60px 0 70px;}
.lineOri2{ width:50px; height:10px; background:#ffb2b4;  margin:30px 0;}
.line{ width:30px; height:5px; background:#ffb2b4; margin-top:5px; margin-bottom:30px;}
.line2{width:50px; height:10px; display:inline-block; background:#fff; margin:20px 0 30px !important;}
.center2 .intro img{ width:100%; }
.center2 .intro{ position:relative;}
.center2 .aboutUs .firstline .bottit0:before{ content:""; width:29px; height:19px; vertical-align:-3px; display:inline-block; background:url(../images/shiming.png) no-repeat; background-size:19px 19px;}
.center2 .aboutUs .firstline .bottit1:before{ content:""; width:29px; height:20px; vertical-align:-3px; display:inline-block; background:url(../images/buj.png) no-repeat; background-size:19px 19px;}
.center2 .aboutUs .firstline .bottit2:before{ content:""; width:29px; height:19px; vertical-align:-5px; display:inline-block; background:url(../images/yuanjng.png) no-repeat; background-size:19px 16px;}
.center2 .aboutUs .firstline .bottit{font-family:"lanting"; font-size:16px; color:#3a3a3a;}
.center2 .aboutUs .firstline .com{ text-align:left;font-family:"lantingx"; font-size:14px; color:#9a9a9a;}
a[title*="站长统计"]{ display:none;}
@media (max-width:767px){
	.center{margin-bottom:50px;}
	.nav{ height:28px; margin:25px 0 0;}
	.center0{ margin-top:40px;}
	.navlist span{ width:80px; height:28px;line-height:28px;font-size:14px; color:#fff; display:inline-block; }
	.navlist .span1{ float:left; }
	.navlist .span3{ float:right; }
	#navbar-example{ display:none;}
	.nav-right{ display:inline-block; width:100%; padding:0 15px; }
	
	#myCarousel{ width:49.5% !important;    margin: 14.7% auto;}
	.phone{ position:absolute; top:0; left:22.95%;z-index:-1; text-align:center;width:54.1% !important; }
	.center1{ padding:30px 35px 0;}
	.center1 p{padding:0;}
	.center2{ padding:20px 0 0;}
	.center2 .intro img{ height:250px;}
	.center2 .intro .desc{ position:absolute; top:67px; text-align:center; margin:0 30px; line-height:22px; color:#fff;}
	.center2 .intro .desc .title{font-family:"lanting"; font-size:18px;}
	.center2 .intro .desc .futit{ font-family:"lantingx";font-size:12px; letter-spacing:1px;}
	.center2 .aboutUs{ text-align:center; margin:30px 30px 0;}
	.center2 .aboutUs .firstline{ margin-bottom:30px;}
	.center2 .aboutUs .firstline p.com{ line-height:26px;}
}
@media (min-width:767px){
	.center0{ width:1000px; height:650px; margin:0 auto 66px;}
	.nav{ height:180px; }
	.hoverOn{ margin-top:-10px; -webkit-box-shadow:  0 2px 10px rgba(0,0,0,0.3);}
	#navbar-example{position:fixed; right:20px; top:50%; width:20px;z-index:99;}
	#navbar-example ul li{ margin:10px 0;}
	#navbar-example ul li a{ width:20px; height:20px; padding:0 !important;}
	.navbar-default { background-color: transparent !important; border-color: transparent !important;}
	.navlist .nav-right{ float:right; margin-right:13%; margin-top:50px;}
	.navlist img{width:173px;float:left; margin:50px 0 0 35px;}
	.navlist span{ padding:12px 25px;margin-right:30px; display:inline-block;  font-size:24px; color:#fff;line-height:1;}
	#myCarousel{position:absolute; top:0; right:0; width:270px;margin: 79px 23px 0 0;/* width:53.5% !important;    margin: 14.7% 0 0 9.9%;*/ /*width:49% !important; */   }
	.phone{ position:absolute; top:0;  right:0; z-index:-1; text-align:center;width:316px !important;/*width:53.5% !important;*/ }
	.carousel-inner{ width:270px; margin:0 auto;}
	.center1{ padding:30px 115px;}
	.center1 .report1{ margin-bottom:30px;}
	.center1  .minheight{min-height:48px;}
	.center1 .report{ margin-bottom:35px;}
	.center1 .report a, .center1 .report1 a{ border-radius:8px; overflow:hidden;}
	.center2 .intro .desc{ position:absolute; top:105px; left:0; width:100%; text-align:center; margin:0 30px;  color:#fff;}
	.center2 .intro .desc .title{font-family:"lanting"; font-size:36px; line-height:36px; padding:0; margin:0;}
	.center2 .intro .desc .futit{ font-family:"lantingx";font-size:14px; letter-spacing:1px;line-height:24px;}
	.center2 .aboutUs{ text-align:center; margin:100px 130px 0;}
	.center2 .aboutUs .firstline{ width:250px; display:inline-block; text-align:left;}
	.center2 .aboutUs .floatleft{ float:left;}
	.center2 .aboutUs .floatright{ float:right;}
}