<!DOCTYPE html>

<html>

<head>

<meta charset="utf-8">

<title>傲娇造型师秋季特卖八折起售_南瓜姑娘</title>

<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1, user-scalable=no"/>

<meta name="Keywords" content="<%= PAGE_KEYWORDS %>" />
<meta name="Description" content="<%= PAGE_DESCRIPTION %>" />

<link rel="shortcut icon" href="/nggirl/h5/mobile/images/favicon.ico" />



<style>

*{

padding:0px;

margin:0px;

border:0px;

}

body{

	width:100%;

	height:100%;

	text-align:center;

}

.main{



	width:100%;

	height:100%;

}



.main img{

	display:block;

	margin:0px auto;

	width:100%;

}

.video_container{

	padding-left: 5%;

	padding-right: 5%;

	margin: auto;

}



.video_container video{

	width: 100%;

}
a[title*="站长统计"]{ display:none;}
</style>



</head>



<body>

<div class="main">

	<img class="top" src="images/c_focus_content2_01.jpg" />
	<img class="top" src="images/c_focus_content2_02.jpg" />
	<img class="top" src="images/c_focus_content2_03.jpg" />
	<img class="top" src="images/c_focus_content2_04.jpg" />
	<img class="top" src="images/c_focus_content2_05.jpg" />
	<img class="top" src="images/c_focus_content2_06.jpg" />
	<img class="top" src="images/c_focus_content2_07.jpg" />
	<img class="top" src="images/c_focus_content2_08.jpg" />
	<img class="top" src="images/c_focus_content2_09.jpg" />
	<img class="top" src="images/c_focus_content2_10.jpg" />
	<img class="top" src="images/c_focus_content2_11.jpg" />
	<img class="top" src="images/c_focus_content2_12.jpg" />
	<img class="top" src="images/c_focus_content2_13.jpg" />
</div>

<script src="//s4.cnzz.com/z_stat.php?id=<%= CNZZ_STAT_CODE_ID %>&web_id=<%= CNZZ_STAT_CODE_ID %>" language="JavaScript"></script>

</body>



</html>