<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="Keywords" content="<%= PAGE_KEYWORDS %>" />
<meta name="Description" content="<%= PAGE_DESCRIPTION %>" />
<meta name="viewport" content="user-scalable=no,initial-scale=1.0,maximum-scale=1.0,width=device-width">
<meta name="format-detection" content="telephone=no">
<title>【超值美妆袋】怎样才配做王大陆女朋友？</title>
<link rel="shortcut icon" href="/nggirl/h5/mobile/images/favicon.ico" />
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="../mobile/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../mobile/js/params.js"></script>
<script type="text/javascript" src="../mobile/js/md5.js"></script>
<script type="text/javascript" src="../mobile/js/Commodity_page.js"></script>
<style>
 *{ margin:0; padding:0; cursor:pointer;}
 .main,.second{ width:100%;}
 .second{ display:none;}
 .main img,.second img{ width:100%; display:block; }
 .type1,.type2{ display:inline-block !important; float:left;}
 .type1{ width:54.13% !important;}
 .type2 {width:45.87% !important;}
 a[title*="站长统计"]{ display:none;}
 .successtips{ display:none; text-align:center; color:#fff; line-height:40px; width:84%; height:40px; background: rgba(0,0,0,0.75); border-radius:5px; position:fixed; left:8%; top:50%; margin-top:-20px; z-index:109;}
</style>
<script>
	//声明_czc对象: 
	var _czc = _czc || []; 
	//绑定siteid，请用您的siteid替换下方"XXXXXXXX"部分
	 _czc.push(["_setAccount", "<%= CNZZ_STAT_CODE_ID %>"]);
</script>
</head>

<body>
	<div class="main">
		<img src="images/Commodity/goods_01.png" />
        <img src="images/Commodity/goods_02.png" />
        <img src="images/Commodity/goods_03.png" itemId="253" class="goods" />
        <img src="images/Commodity/goods_04.png" itemId="1641" class="goods"/>
        <img src="images/Commodity/goods_05.png" itemId="1305" class="goods"/>
        <img src="images/Commodity/goods_06.png" itemId="1895" class="goods"/>
        <img src="images/Commodity/goods_07.png" />
        <img src="images/Commodity/goods_08.png" itemId="1301" class="goods"/>
        <img src="images/Commodity/goods_09.png" itemId="377" class="goods"/>
        <img src="images/Commodity/goods_10.png" itemId="1296" class="goods"/>
        <img src="images/Commodity/goods_11.png" itemId="1215"  class="goods"/>
        <img src="images/Commodity/goods_12.png" itemId="1896" class="goods"/>
        <img src="images/Commodity/goods_13.png" />
        <img src="images/Commodity/goods_14.png" itemId="1788" class="goods type1"/>
        <img src="images/Commodity/goods_15.png" itemId="1531" class="goods type2"/>
        <img src="images/Commodity/goods_16.png" itemId="363" class="goods"/>
        <img src="images/Commodity/goods_17.png" itemId="1817" class="goods"/>
         <img src="images/Commodity/goods_18.png" itemId="1792" class="goods"/>
        <img src="images/Commodity/goods_19.png" />
        <img src="images/Commodity/goods_20.png" itemId="1897" class="goods"/>
        <img src="images/Commodity/goods_21.png" class="nextPage"/>
    </div>
    <div class="second">
        <img src="images/Commodity/images/commodity_01.png"  class="back"/>
        <img src="images/Commodity/images/commodity_02.png" />
        <img src="images/Commodity/images/commodity_03.png" />
        <img src="images/Commodity/images/commodity_04.png" itemId="1841" class="goods"/>
        <img src="images/Commodity/images/commodity_05.png" itemId="379" class="goods"/>
        <img src="images/Commodity/images/commodity_06.png" itemId="961" class="goods"/>
        <img src="images/Commodity/images/commodity_07.png" itemId="1898" class="goods"/>
        <img src="images/Commodity/images/commodity_08.png" />
        <img src="images/Commodity/images/commodity_09.png" itemId="1894" class="goods"/>
        <img src="images/Commodity/images/commodity_10.png" itemId="1303" class="goods"/>
        <img src="images/Commodity/images/commodity_11.png" itemId="176" class="goods"/>
        <img src="images/Commodity/images/commodity_12.png" />
        <img src="images/Commodity/images/commodity_13.png" itemId="1899" class="goods"/>
        <img src="images/Commodity/images/commodity_14.png"  />
    </div>
    <!--评论提示框-->
    <div class="successtips"></div>
</body>
    <script src="//s4.cnzz.com/z_stat.php?id=<%= CNZZ_STAT_CODE_ID %>&web_id=<%= CNZZ_STAT_CODE_WEB_ID %>" language="JavaScript"></script>
</html>
