<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="Keywords" content="<%= PAGE_KEYWORDS %>" />
<meta name="Description" content="<%= PAGE_DESCRIPTION %>" />
<title>2017年，你离靠脸吃饭的日子，还有多远？</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<meta content="telephone=no" name="format-detection" />
<link rel="shortcut icon" href="/nggirl/h5/mobile/images/favicon.ico" />
<link rel="stylesheet" href="../mobile/css/testYan.css" />
<script type="text/javascript" src="../mobile/js/md5.js"></script>
<script type="text/javascript" src="../mobile/js/params.js"></script>
<script type="text/javascript" src="../mobile/js/sea.js"></script>
<script type="text/javascript" src="../mobile/js/zepto.min.js"></script>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script> 
	//声明_czc对象: 
	var _czc = _czc || []; 
	//绑定siteid，请用您的siteid替换下方"XXXXXXXX"部分
	 _czc.push(["_setAccount", "<%= CNZZ_STAT_CODE_ID %>"]);
</script>
<body>
    <p class="box_title">
        这个测试让你更了解自己，还能与好友PK<br/>一起来玩~
    </p>
	<div class="box">
    	<div class="box_question question_01">
        	<div class="bq_title"><span class="blue">1</span> / 8</div>
            <p class="bq_desc">1.你的肤色是什么色调？可以看你的手腕内侧或手掌</p>
            <div class="bq_double_btn">
            	<div class="selected_btn" opt="A" optTag="1">A 粉白，甚至偏青色</div>
            	<div class="selected_btn" opt="B" optTag="2">B 偏黄</div>
            </div>
            <div class="btn_double">
                <div style=" float:none;" class="bq_next_question next_question">下一题</div>
            </div>
        </div>
    	<div class="box_question question_hide question_02">
        	<div class="bq_title"><span class="blue">2</span> / 8</div>
            <p class="bq_desc">2.你的原始唇色更接近于哪种颜色？</p>
            <div class="bq_double_btn">
            	<div class="selected_btn" opt="A" optTag="3">A 偏冷的青粉色</div>
            	<div class="selected_btn" opt="B" optTag="4">B 暖暖的黄粉色</div>
            </div>
            <div class="btn_double">
                <div class="bq_next_question prve_question">上一题</div>
                <div class="bq_next_question next_question">下一题</div>
            </div>
        </div>
    	<div class="box_question question_hide question_03">
        	<div class="bq_title"><span class="blue">3</span> / 8</div>
            <p class="bq_desc">3.自己穿一件黄色或者橘色的衣服,看起来</p>
            <div class="bq_double_btn">
            	<div class="selected_btn" opt="A" optTag="5">A 像生病了一样蜡黄</div>
            	<div class="selected_btn" opt="B" optTag="6">B 很漂亮，很精神</div>
            </div>
            <div class="btn_double">
                <div class="bq_next_question prve_question">上一题</div>
                <div class="bq_next_question next_question">下一题</div>
            </div>
        </div>
    	<div class="box_question question_hide question_04">
        	<div class="bq_title"><span class="blue">4</span> / 8</div>
            <p class="bq_desc">4.你的脸型和五官轮廓接近哪种？</p>
            <div class="bq_double_btn">
            	<div class="selected_btn" opt="A" optTag="7">A 圆形、鹅蛋形，五官也比较圆润</div>
            	<div class="selected_btn" opt="B" optTag="8">B 比较有棱角、五官比较立体</div>
            </div>
            <div class="btn_double">
                <div class="bq_next_question prve_question">上一题</div>
                <div class="bq_next_question next_question">下一题</div>
            </div>
        </div>
    	<div class="box_question question_hide question_05">
        	<div class="bq_title"><span class="blue">5</span> / 8</div>
            <p class="bq_desc">5.眉毛的形状是什么样子？</p>
            <div class="bq_double_btn">
            	<div class="selected_btn" opt="A" optTag="9">A 有弧度的弯眉</div>
            	<div class="selected_btn" opt="B" optTag="10">B 线条更偏平直</div>
            </div>
            <div class="btn_double">
                <div class="bq_next_question prve_question">上一题</div>
                <div class="bq_next_question next_question">下一题</div>
            </div>
        </div>
    	<div class="box_question question_hide question_06">
        	<div class="bq_title"><span class="blue">6</span> / 8</div>
            <p class="bq_desc">6.嘴唇廓形如何？</p>
            <div class="bq_double_btn">
            	<div class="selected_btn" opt="A" optTag="11">A 比较饱满有肉、轮廓较清晰</div>
            	<div class="selected_btn" opt="B" optTag="12">B 纤长较薄有线条感</div>
            </div>
            <div class="btn_double">
                <div class="bq_next_question prve_question">上一题</div>
                <div class="bq_next_question next_question">下一题</div>
            </div>
        </div>
    	<div class="box_question question_hide question_07">
        	<div class="bq_title"><span class="blue">7</span> / 8</div>
            <p class="bq_desc">7.单眼皮还是双眼皮？</p>
            <div class="bq_double_btn">
            	<div class="selected_btn" opt="A" optTag="13">A 单眼皮/一只单一只双</div>
            	<div class="selected_btn" opt="B" optTag="14">B 双眼皮（只要你两眼皮上都有褶子）</div>
            </div>
            <div class="btn_double">
                <div class="bq_next_question prve_question">上一题</div>
                <div class="bq_next_question next_question">下一题</div>
            </div>
        </div>
    	<div class="box_question question_hide question_08">
        	<div class="bq_title"><span class="blue">8</span> / 8</div>
            <p class="bq_desc">8.最后一题：和心仪的TA共进晚餐，你会选择哪款甜品一起分享？</p>
            <div class="bq_double_btn">
            	<div class="selected_btn" opt="A" optTag="15">A 马卡龙/草莓冰激凌</div>
            	<div class="selected_btn" opt="B" optTag="16">B 杏仁舒芙蕾/提拉米苏</div>
            </div>
            <div class="btn_double">
                <div class="bq_next_question prve_question" style="float:none;">上一题</div>
                <!-- <div class="bq_next_question next_question submit_question">提交</div> -->
            </div>
        </div>
    </div>
    <div class="opcity_box"></div>
    <script>
        seajs.use('./js/initTestYan', function(initTestYan) {
            initTestYan.initPage();
        });
    </script>
    <script src="//s4.cnzz.com/z_stat.php?id=<%= CNZZ_STAT_CODE_ID %>&web_id=<%= CNZZ_STAT_CODE_ID %>" language="JavaScript"></script>
</body>
</html>