<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="Keywords" content="<%= PAGE_KEYWORDS %>" />
<meta name="Description" content="<%= PAGE_DESCRIPTION %>" />
<title>南瓜姑娘福利活动</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
<link rel="stylesheet" type="text/css" href="../mobile/css/welfareActivities.css">
<link href="../mobile/css/mobiscroll.css" rel="stylesheet" />
<link href="../mobile/css/mobiscroll_date.css" rel="stylesheet" />
<link rel="shortcut icon" href="/nggirl/h5/mobile/images/favicon.ico" />
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="../mobile/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../mobile/js/params.js"></script>
<script type="text/javascript" src="../mobile/js/md5.js"></script>
<script type="text/javascript" src="../mobile/js/TouchSlide.1.1.js"></script>
<script type="text/javascript" src="../mobile/js/fuliActivities.js"></script>
<script type="text/javascript" src="../mobile/js/mobiscroll_date.js" charset="gb2312"></script> 
<script type="text/javascript" src="../mobile/js/mobiscroll.js"></script>
<script type="text/javascript" src="../mobile/js/addressSelectedArea.js"></script>
<script> 
	//声明_czc对象: 
	var _czc = _czc || []; 
	//绑定siteid，请用您的siteid替换下方"XXXXXXXX"部分
	 _czc.push(["_setAccount", "<%= CNZZ_STAT_CODE_ID %>"]);
</script>

</head>
<body >
	<div class="tabBoxs u_posi "id="tabBox1">
       <div class="beautylist hd clearfix">
           <ul class="clearfix">
               <li class="beau"><p>企业上门美妆服务</p></li>
               <li class="salo"><p>校园美妆课堂</p></li>
           </ul>
       </div>
       <div class="bd lists " id="tabBox1-bd">
           <div class="con con1">
               <ul class="company clearfix">
               		<div class=" banner clearfix">
                    	<div class="banner2 clearfix" id="slideBox">
                            <div class="top bd1">
                                <ul>
                                </ul>
                            </div>
                            <div class="bot hd1 clearfix">
                                <ul>
                                	<li><img src="images/fuliActivities/partb1.png" /></li>
                                    <li class="hidden"><img src="images/fuliActivities/partb.png" /></li>
                                </ul>
                            </div>
                        </div>
               		</div>
               		<div class="intro">
               			<h3>就来南瓜姑娘美妆教学企业版</h3>
               			<p class="desc">轻松免费申请预约，即可让您的员工享受大牌化妆师悉心定制的美妆教学课！5-10人小班制上门教学，满足每一个Office lady对美的想象，让公司漂亮得不像实力派！</p>
               			<p class="introbot">主打妆容：职业妆 日常妆<span class="right">课时时长：2小时</span></p>
               		</div>
               		<div class="selfmessage" id="jump">
               			<div class="title">
               				<p class="tit">如需申请，请留下企业相关信息，方便我们联系您~<br/>注：企业上门美妆服务仅限于（北京，天津，大连，太原，西安，郑州，沈阳，哈尔滨，上海，杭州，苏州，南京，成都，重庆，长沙，深圳，广州）</p>
               			</div>
               			<div class="message">
               				<p>城市<span class="bc_address"><i cityid="1" shi="北京">北京</i><b>(可更换城市)</b></span></p>
               				<p>企业名称<input type="text" value="" placeholder="请输入企业名称" maxlength="100" class="companyname type"></p>
               				<p>企业地址<input type="text" value="" placeholder="请输入企业地址" maxlength="100" class="companyaddress type"></p>
               				<p>申请人姓名<input type="text" value="" placeholder="请输入申请人姓名" maxlength="100" class="ordername type"></p>
               				<p>申请人电话<input type="text" value="" placeholder="请输入申请人电话" class="orderphone type" ></p>
               				<p>申请形式<span class="comApplyType"><i applyType="1">个人形式申请</i><b>(可更换申请形式)</b></span></p>
               				<p>企业上门服务时间<span><input type="text" name="USER_AGE1" class="ot-date" id="USER_AGE1" onfocus="$(this).blur();" placeholder="选择预约日期" /><b>(可更换时间)</b></span></p>
               				<textarea class="beizhu companybeizhu" maxlength="500"  placeholder=
               				"备注：申请活动原因，参与活动的人数规模，如有其他需求也可留言哦~"></textarea>
               				
               			</div>
               			<div class="tijiao companySub">提交申请</div>
               		</div>
               		<div class="bottom">
               			<p>客服咨询电话：400-062-6336</p>
               			<p>也可以私信南瓜小妹进行咨询哦~</p>
               			<img src="images/fuliActivities/erweima.png" />
               			<div class="guanzhu">长按二维码或者扫描添加南瓜小妹微信</div>
               		</div>
               </ul>
           </div>
           <div class="con">
               <ul class="scholl clearfix"> 
					<div class="banner banner1">
               			<img src="images/fuliActivities/part3.png" class="paert1"/>
               		</div>
               		<div class="intro">
               			<h3>南瓜姑娘校园美妆课</h3>
               			<p class="desc">明星御用化妆师在学校开课啦~
怎么才能青春气息饱满，而非幼稚不谙世事？靠“妆”就能塑造最靠谱诱惑力的职场第一印象！南瓜姑娘特派明星御用化妆师，深入校园为你传授网上教程学不到的的职业妆秘籍！</p>
						<p class="introbot">主打妆容：职业妆 日常妆<span class="right">课时时长：2小时</span></p>
               		</div>
               		<div class="selfmessage">
               			<div class="title">
               				<p class="tit">如需申请，请留下校园相关信息，方便我们联系您~</p>
               			</div>
               			<div class="message">
               				<p>城市<span class="bc_address"><i cityid="1" shi="北京">北京</i><b>(可更换城市)</b></span></p>
               				<p>学校名称<input type="text" value="" placeholder="请输入学校名称" maxlength="100" class="schollname type"></p>
               				<p>学校地址<input type="text" value="" placeholder="请输入学校地址" maxlength="100" class="scholladdress type"></p>
               				<p>申请人姓名<input type="text" value="" placeholder="请输入申请人姓名" maxlength="100" class="applyname type"></p>
               				<p>申请人电话<input type="text" value="" placeholder="请输入申请人电话" class="applyphone type"></p>
               				<p>申请形式<span class="schApplyType"><i applyType="1">个人形式申请</i><b>(可更换申请形式)</b></span></p>
                      
               				<p>校园美妆课预约时间<span><input type="text" name="" class="ot-date" id="USER_AGE2"  onfocus="$(this).blur();" placeholder="选择预约日期" /><b>(可更换时间)</b></span></p>
               				<textarea class="beizhu schollbeizhu" maxlength="500" placeholder=
               				"备注：申请活动原因，参与活动的人数规模，如有其他需求也可留言哦~"></textarea>
               				
               			</div>
               			<div class="tijiao schollSub">提交申请</div>
               		</div>
               		<div class="bottom">
               			<p>客服咨询电话：400-062-6336</p>
               			<p>也可以私信南瓜小妹进行咨询哦~</p>
               			<img src="images/fuliActivities/erweima.png" />
               			<div class="guanzhu">长按二维码或者扫描添加南瓜小妹微信</div>
               		</div>
               </ul>
           </div>
       </div>
   </div>
   <div class="opbg"></div>
   <div class="companyType typeBottom">
   		<ul>
   			<li applyType="1">个人形式申请</li>
   			<li applyType="2">部门形式申请</li>
   			<li applyType="3">企业形式申请</li>
   		</ul>
   </div>
   <div class="schollType typeBottom">
   		<ul>
   			<li applyType="1">个人形式申请</li>
   			<li applyType="2">社团形式申请</li>
   			<li applyType="3">院级形式申请</li>
   			<li applyType="3">校级形式申请</li>
   		</ul>
   </div>
   <!--  选择城市 -->
    <div class="box_area">
        <div class="address_select_city">
            <div class="title-btn-arr"><img src="images/blue-arr-left.png" alt="" /><div class="tba_title">选择地区</div><span class="tba_ok">确认</span></div>
        </div>
        <div class="address_double">
        	<p class="ad_left">省份</p>
        	<p class="ad_right">市区</p>
        </div>
        <div class="address_content">
        	<div class="ac_content">
            	<div class="ac_content_left">
                	<ul class="sheng"></ul>
                </div>
            	<div class="ac_content_right">
                	<ul class="shi"></ul>
                </div>
            </div>
        </div>
    </div>
    <div class="success">
		<p class="successTop">提交后需要初步进行审核，审核通过后我们会及时与您联系，请您耐心等待~</p>
		<p class="touchTit">您可以拨打南瓜姑娘开通城市美妆活动的热线电话进行咨询：</p>
		<p class="touchWay">南瓜姑娘总部客服咨询电话：400-062-6336</p>
		<p class="touchWay">北京站美妆活动咨询电话：叔文龙（13911868389）</p>
		<p class="touchWay">天津站美妆活动咨询电话：叔文龙（13911868389）</p>
		<p class="touchWay">大连站美妆活动咨询电话：薛熠敏（18618131427）</p>
		<p class="touchWay">太原站美妆活动咨询电话：高波（15135009666）</p>
		<p class="touchWay">西安站美妆活动咨询电话：薛熠敏（18618131427）</p>
		<p class="touchWay">郑州站美妆活动咨询电话：薛熠敏（18618131427）</p>
		<p class="touchWay">沈阳站美妆活动咨询电话：崔晓健（15010885529）</p>
		<p class="touchWay">哈尔滨站美妆活动咨询电话：叔文龙（13911868389）</p>
		<p class="touchWay">上海站美妆活动咨询电话：薛熠敏（18618131427）</p>
		<p class="touchWay">杭州站美妆活动咨询电话：叔文龙（13911868389）</p>
		<p class="touchWay">苏州站美妆活动咨询电话：薛熠敏（18618131427）</p>
		<p class="touchWay">南京站美妆活动咨询电话：薛熠敏（18618131427）</p>
		<p class="touchWay">成都站美妆活动咨询电话：崔晓健（15010885529）</p>
		<p class="touchWay">重庆站美妆活动咨询电话：崔晓健（15010885529）</p>
		<p class="touchWay">长沙站美妆活动咨询电话：薛熠敏（18618131427）</p>
		<p class="touchWay">深圳站美妆活动咨询电话：叔文龙（13911868389）</p>
		<p class="touchWay">广州站美妆活动咨询电话：薛熠敏（18618131427）</p>
		<div class="successBottom">
	        <p>也可以私信南瓜小妹进行咨询哦~</p>
	        <img src="images/fuliActivities/erweima.png" />
	        <div class="guanzhu">长按二维码或者扫描添加南瓜小妹微信</div>
	    </div>
	</div>
	<div class="tushiBox">
		提交成功
	</div>
  <script type="text/javascript">
	$(function () {
		var maxYear='';
		if((new Date()).getMonth() <5){
			maxYear=(new Date()).getFullYear();
		}else{
			maxYear=(new Date()).getFullYear()+1;
		};
		$("#USER_AGE1,#USER_AGE2").mobiscroll({ 
				preset: 'date',
				theme: 'android-ics light',
				display: 'modal',
				mode: 'scroller',
				dateFormat: 'yyyy-mm-dd',
				dateOrder : 'yymmdd',
				
				cancelText:'取消',
				setText:'确认',
				dayText:'日',
				monthText:'月', 
				yearText :'年',
				minDate: new Date(),
				maxDate: new Date(maxYear, 11, 31)
				
			});
	});
</script>
<script src="//s4.cnzz.com/z_stat.php?id=<%= CNZZ_STAT_CODE_ID %>&web_id=<%= CNZZ_STAT_CODE_WEB_ID %>" language="JavaScript"></script>
</body>

</html>