<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="Keywords" content="<%= PAGE_KEYWORDS %>" />
	<meta name="Description" content="<%= PAGE_DESCRIPTION %>" />
	<title>关于我</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="black" name="apple-mobile-web-app-status-bar-style" />
	<meta content="telephone=no" name="format-detection" />
	<link rel="stylesheet" type="text/css" href="../cosmetic/css/aboutmedetail.css">
	<link rel="stylesheet" type="text/css" href="../cosmetic/css/dropload.min.css">
    <link rel="stylesheet" href="../cosmetic/css/beautylist.css" type="text/css">
    <link rel="shortcut icon" href="/nggirl/h5/mobile/images/favicon.ico" />
    <script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script type="text/javascript" src="../cosmetic/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="../cosmetic/js/jquery.lazyload.js"></script>
	<script type="text/javascript" src="../cosmetic/js/dropload.min.js"></script>
	<script type="text/javascript" src="../cosmetic/js/params.js"></script>
	<script type="text/javascript" src="../cosmetic/js/md5.js"></script>
    <script> 
		//声明_czc对象: 
		var _czc = _czc || []; 
		//绑定siteid，请用您的siteid替换下方"XXXXXXXX"部分
		 _czc.push(["_setAccount", "<%= CNZZ_STAT_CODE_ID %>"]);
	</script>

<style type="text/css">
</style>
</head>
<body class="bg1">
	<div class="ad_top"></div>
<script>

$(function(){
	getdresserInfos();
	if (/iphone|ipad|ipod/.test(ua)) {
		_czc.push(['_trackEvent','nggirl_dresser_about','phoneType=iOS','浏览化妆师关于我页','true','']);	
	} else if (/android/.test(ua)) {
		_czc.push(['_trackEvent','nggirl_dresser_about','phoneType=and','浏览化妆师关于我页','true','']);
	};
})
	//化妆师服务实拍作品列表
function getdresserInfos(){
$.ajax({//采用异步
	type: "get",
	url: '<%= CLI_HOST_API_URL %>/nggirl/app/cli/dresser/getAboutDresser/1.5.0',
	data:getFinalRequestObject({dresserId:getParam("dresserId")}),
	dataType:"json",
	success: function (data) {
		var dresserwork= data.data;
		var str5 = '';
		str5 += '<div class="dresstop">';
		str5 += '<img src="'+dresserwork.portrait+'" class="portrait lazy" />';
		str5 += '<div class="dre_detail clearfix"><div class="selfimgbox"><img src="'+dresserwork.dresserProfile+'@200w_200h.jpg" class="self_photo"/></div>';
		if(dresserwork.isVDresser==1){
			str5 +='<img src="images/plusv_03.png" class="addvs">';
			}
		str5 += '<div class="dre_name"><p>';
		if(dresserwork.dresserName.length>7){
			var strn=data.data.dresserName;
			str5 += strn.substring(0,7)+"..." ; 
			}else{
			str5 +=dresserwork.dresserName;
			}
		if(data.data.sex==0){
			str5 +='<img src="images/boy.png"></p>';
		}else{
			str5 +='<img src="images/girl.png"></p>';
			}
		
		str5 += '</p><span id="start">';
		for(var i = 1;i <= data.data.starLevel;i++){
			str5 +='<img src="images/xing.png"/>';
		}
		str5 += '</span></div></div>';
		str5 += '<p class="dre_descript">'+dresserwork.dresserDesc+'</p>';
		str5 += '</div><div class="exbox"><p class="bigtitle"><img src="images/experience.png"/>从业经历</p><div class="experiencebox">';
		for(var i = 0;i < dresserwork.experience.length;i++){
			str5 += '<p class="dre_experience" id="'+dresserwork.experience[i].id+'">'+dresserwork.experience[i].item+'</p>';
		}
		
		str5 += '</div><p class="bigtitle"><img src="images/cooperation.png"/>合作艺人</p><p class="dre_actor">'+dresserwork.coartist+'</p>';
		str5 += '</div>';
		
		$(".ad_top").append(str5);
		$("img.lazy").lazyload({effect : "fadeIn",threshold : 200});
		$(".portrait").css("height",$('.portrait').width()*2/3);
		//微信分享
		if(isInWeixin()){
			var title = '【南瓜姑娘】化妆师'+data.data.dresserName+'的个人简介';
			var desc = '闺蜜越来越美，原来是约了私人化妆师！快来瞅瞅TA的个人简介吧';
			var link = window.location.href;
			var imgUrl = data.data.dresserProfile;
			var from = getParam('apptype');
			if(!strIsEmpty(from) && from == 'appb'){
				desc = '闺蜜越来越美，原来是约了私人化妆师！快来瞅瞅TA的个人简介吧';
			}
			weixinConfig(title,desc,link,imgUrl);
		};
		//h5,app同步分享内容
		if(isInApp()){
			window.shareTitle ='【南瓜姑娘】化妆师'+data.data.dresserName+'的个人简介';
			window.shareContent = '闺蜜越来越美，原来是约了私人化妆师！快来瞅瞅TA的个人简介吧';
			window.sharePicture = data.data.dresserProfile;
			window.shareUrl = window.location.href;
		};	
		//给安卓传值
		if(typeof(window.ngjsInterface)!="undefined" && typeof(window.ngjsInterface.conFigShareInfo)!="undefined"){
			window.ngjsInterface.conFigShareInfo('【南瓜姑娘】化妆师'+data.data.dresserName+'的个人简介', '闺蜜越来越美，原来是约了私人化妆师！快来瞅瞅TA的个人简介吧',data.data.dresserProfile,window.location.href);
		};
	}

});
};
 //微信分享
function weixinConfig(title,desc,link,imgUrl){
    wx.ready(function(){

        //获取“分享到朋友圈”按钮点击状态及自定义分享内容接口
        wx.onMenuShareTimeline({
            title: title, // 分享标题
            link: link, // 分享链接
            imgUrl: imgUrl, // 分享图标
            success: function () {
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });


        //获取“分享给朋友”按钮点击状态及自定义分享内容接口
        wx.onMenuShareAppMessage({
            title: title, // 分享标题
            desc: desc, // 分享描述
            link: link, // 分享链接
            imgUrl: imgUrl, // 分享图标
            type: 'link', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });
    });

    var currenturl = window.location.href;
    //初始化配置信息
    $.ajax({
        url: '<%= CLI_HOST_API_URL %>/nggirl/app/cli/weixinjs/config',
        type: 'post',
        dataType: 'json',
        data: getFinalRequestObject({url: currenturl, accessToken: getAccessToken()}),
        success: function (data) {
            //初始化配置
            wx.config({
                debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                appId: data.data.appId, // 必填，公众号的唯一标识
                timestamp: data.data.timestamp, // 必填，生成签名的时间戳
                nonceStr: data.data.noncestr, // 必填，生成签名的随机串
                signature: data.data.signature,// 必填，签名，见附录1
                jsApiList: ["onMenuShareTimeline","onMenuShareAppMessage"] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
            });
        }
    });
};
</script>
	<%= STATISTICS_SCRIPT %>
</body>

</html>