<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="Keywords" content="<%= PAGE_KEYWORDS %>" />
<meta name="Description" content="<%= PAGE_DESCRIPTION %>" />
<meta name="viewport" content="user-scalable=no,initial-scale=1.0,maximum-scale=1.0,width=device-width">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="shortcut icon" href="/nggirl/h5/mobile/images/favicon.ico" />
<link rel="stylesheet" href="../cosmetic/css/addressEdit.css" />
<link rel="stylesheet" href="../cosmetic/css/addressSelectedArea.css" />
<link rel="stylesheet" href="//cache.amap.com/lbs/static/main.css?v=1.0"/>
<title>编辑地址</title>
<script type="text/javascript" src="../cosmetic/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../cosmetic/js/md5.js"></script>
<script type="text/javascript" src="../cosmetic/js/params.js"></script>
<script type="text/javascript" src="//webapi.amap.com/maps?v=1.3&key=321841e104684531ec3f880aeec12f17"></script>
<script type="text/javascript" src="//webapi.amap.com/maps?v=1.3&key=321841e104684531ec3f880aeec12f17&plugin=AMap.Geocoder"></script>
<script type="text/javascript" src="../cosmetic/js/addressEdit.js"></script>
<script> 
    //声明_czc对象: 
    var _czc = _czc || []; 
    //绑定siteid，请用您的siteid替换下方"XXXXXXXX"部分
     _czc.push(["_setAccount", "<%= CNZZ_STAT_CODE_ID %>"]);
</script>
</head>
<body>
    <div class="box">
        <div class="title-btn"><span class="cancle-btn">取消</span>编辑地址</div>
		<div class="box-city">
        	<span class="bc_sheng">省 / 市：</span><span class="bc_address">请选择地址</span>
            <img src="images/order-arr-right_03.png" class="arr" alt="" />
        </div>
        <ul class="address">
        	<li>地址</li>
        	<li class="select-street">
            	<p>小区/大厦/街道：</p>
                <span class="select-href">请选择</span>
                <img src="images/order-arr-right_03.png" class="arr" alt="" />
            </li>
        	<li class="select-message">
            	<p>详细地址：</p>
                <input type="text" class="select-href" placeholder="楼号-门牌号"/>
                <img src="images/address-close.png" class="close" alt="" />
            </li>
        </ul>
        <div class="btn-ok">保存</div>
    </div>
    <!--  选择城市 -->
    <div class="box_area">
        <div class="address_select_city">
            <div class="title-btn-arr"><img src="images/blue-arr-left.png" alt="" /><div class="tba_title">城市</div><span class="tba_ok">确认</span></div>
        </div>
        <div class="address_double">
        	<p class="ad_left">省份</p>
        	<p class="ad_right">市区</p>
        </div>
        <div class="address_content">
        	<div class="ac_content">
            	<div class="ac_content_left">
                	<ul class="sheng"></ul>
                </div>
            	<div class="ac_content_right">
                	<ul class="shi"></ul>
                </div>
            </div>
        </div>
    </div>
    <!--  选择街道 -->
	<div class="address_search">
        <div id="mapContainer"></div>
        <div class="title-btn">
            <img src="images/blue-arr-left.png" alt="" class="arr" />
            <input type="search" id="keyword" name="keyword"  class="search" placeholder="小区/街道/大厦" />
            <img src="images/address-close.png" alt="" class="close" />
            <div class="search-message">
                <img src="images/fangda.png" class="search-no" alt="" />
                <p>没有匹配到搜索结果</p>
            </div>
        </div>
    </div>
    <!-- <script src="//s4.cnzz.com/z_stat.php?id=<%= CNZZ_STAT_CODE_ID %>&web_id=<%= CNZZ_STAT_CODE_WEB_ID %>" language="JavaScript"></script> -->
</body>
</html>
