<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="Keywords" content="<%= PAGE_KEYWORDS %>" />
<meta name="Description" content="<%= PAGE_DESCRIPTION %>" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="format-detection" content="telephone=no">
<link rel="shortcut icon" href="/nggirl/h5/mobile/images/favicon.ico" />
<link rel="stylesheet" href="../cosmetic/css/postsdeatil.css" />
<link rel="stylesheet" href="../cosmetic/css/biaoqing.css" />
<title>全部评论</title>
<script type="text/javascript" src="../cosmetic/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../cosmetic/js/md5.js"></script>
<script type="text/javascript" src="../cosmetic/js/params.js"></script>
<script type="text/javascript" src="../cosmetic/js/biaoqing.js"></script>
<script type="text/javascript" src="../cosmetic/js/allCommentNew.js"></script>
<script> 
	//声明_czc对象: 
	var _czc = _czc || []; 
	//绑定siteid，请用您的siteid替换下方"XXXXXXXX"部分
	 _czc.push(["_setAccount", "<%= CNZZ_STAT_CODE_ID %>"]);
</script>
</head>
<body>
    <div class="forinput">
        <div class="forinputlength">
            <div class="ad_comment">
                <div class="ad_comdet" ></div>
            </div>        
        </div>
	</div>
    <div class="ad_flbot"> </div>
    <div class="ad_flbtn">
    	<p class="ad_report">举报</p>
        <p class="ad_aelbtn">删除该楼层</p>
        <p class="ad_delinner">删除</p>
        <p class="ad_clobtn">取消</p>
    </div>
    <div class="ad_flbtn1">
        <p class="ad_replay1">回复</p>
    	<p class="ad_report1">举报</p>
        <p class="ad_clobtn">取消</p>
    </div>
    <div class="ad_sure ad_tcbox">
    	<h3>提示</h3>
        <p class="ad_suremessage">删除此评论后，该楼层下的所有评论都将<br>被删除</p>
        <p class="adfor"><span class="ad_notsure">取消</span><span class="ad_suredel">删除</span></p>
    </div>
     <div class="ad_sure ad_tcbox1">
    	<h3>提示</h3>
        <p class="ad_suremessage">确定要删除评论吗？</p>
        <p class="adfor"><span class="ad_notsure">取消</span><span class="adin_suredel">删除</span></p>
    </div>
    <div class="ad_sure ad_tcbox2">
    	<h3>提示</h3>
        <p class="ad_suremessage">确定要举报吗？</p>
        <p class="adfor"><span class="ad_notsure">取消</span><span class="ad_surereport">举报</span></p>
    </div>
       <!--/*/*禁言提示框*/*/-->
   <div class="isNoTalk">
    	<h3>提示</h3>
        <p>（*>.<*）小主，您因违反社区规定被禁言24小时，将于<span class="talkTime"></span>时解封~</p>
        <p class="talkBtn">知道了</p>
    </div>
   
    <div class="de_bot  clearfix">
        <img src="images/ping_face_icon.png" class="ping_icon" alt="" />
        <div class="de_box">
            <textarea class="form-control" id="textarea" onkeydown="myInput.listen(this, event)"; placeholder="请输入评论内容" style="width:100%;overflow-y:scroll;max-height:95px;" onpaste="return false" maxlength="600"></textarea>
        </div>
        <div class="send_message" id="send_message">发送</div>
        <div class="page_emotion box_swipe" id="page_emotion">
            <dl id="list_emotion" class="list_emotion pt_10"></dl>
        </div>
    </div>
	<div class="form-tip">请输入评论内容</div>
    <div class="successtips"></div>
    <div class="goToTop hidden"><img src="images/backtop.png"></div>
<script> 
	var autoTextarea = function (elem, extra, maxHeight) {
        extra = extra || 0;
        var isFirefox = !!document.getBoxObjectFor || 'mozInnerScreenX' in window,
        isOpera = !!window.opera && !!window.opera.toString().indexOf('Opera'),
                addEvent = function (type, callback) {
                        elem.addEventListener ?
                                elem.addEventListener(type, callback, false) :
                                elem.attachEvent('on' + type, callback);
                },
                getStyle = elem.currentStyle ? function (name) {
                        var val = elem.currentStyle[name];
 
                        if (name === 'height' && val.search(/px/i) !== 1) {
                                var rect = elem.getBoundingClientRect();
                                return rect.bottom - rect.top -
                                        parseFloat(getStyle('paddingTop')) -
                                        parseFloat(getStyle('paddingBottom')) + 'px';        
                        };
 
                        return val;
                } : function (name) {
                                return getComputedStyle(elem, null)[name];
                },
                minHeight = parseFloat(getStyle('height'));
 
        elem.style.resize = 'none';
 
        var change = function () {
                var scrollTop, height,
                        padding = 0,
                        style = elem.style;
 
                if (elem._length === elem.value.length) return;
                elem._length = elem.value.length;
 
                if (!isFirefox && !isOpera) {
                        padding = parseInt(getStyle('paddingTop')) + parseInt(getStyle('paddingBottom'));
                };
                scrollTop = document.body.scrollTop || document.documentElement.scrollTop;
 
                elem.style.height = minHeight + 'px';
                if (elem.scrollHeight > minHeight) {
                        if (maxHeight && elem.scrollHeight > maxHeight) {
                                height = maxHeight - padding;
                                style.overflowY = 'auto';
                        } else {
                                height = elem.scrollHeight - padding;
                                style.overflowY = 'scroll';
                        };
                        style.height = height + extra + 'px';
                        scrollTop += parseInt(style.height) - elem.currHeight;
                        document.body.scrollTop = scrollTop;
                        document.documentElement.scrollTop = scrollTop;
                        elem.currHeight = parseInt(style.height);
                };
        };
 
        addEvent('propertychange', change);
        addEvent('input', change);
        addEvent('focus', change);
        change();
};
		var text = document.getElementById("textarea");
		autoTextarea(text);// 调用
	</script>
<!--	    <script type="text/javascript">
	(function ($) {
		$.extend({
			tipsBox: function (options) {
				options = $.extend({
					obj: null,  //jq对象，要在那个html标签上显示
					str: "+1",  //字符串，要显示的内容;也可以传一段html，如: "<b style='font-family:Microsoft YaHei;'>+1</b>"
					startSize: "12px",  //动画开始的文字大小
					endSize: "30px",    //动画结束的文字大小
					interval: 600,  //动画时间间隔
					color: "red",    //文字颜色
					callback: function () { }    //回调函数
				}, options);
				$("body").append("<span class='num'>" + options.str + "</span>");
				var box = $(".num");
				var left = options.obj.offset().left + options.obj.width() / 2;
				var top = options.obj.offset().top - options.obj.height();
				box.css({
					"position": "absolute",
					"left": left + "px",
					"top": top + "px",
					"z-index": 9999,
					"font-size": options.startSize,
					"line-height": options.endSize,
					"color": options.color
				});
				box.animate({
					"font-size": options.endSize,
					"opacity": "0",
					"top": top - parseInt(options.endSize) + "px"
				}, options.interval, function () {
					box.remove();
					options.callback();
				});
			}
		});
	})(jQuery);
	  
	function niceIn(prop){
		prop.find('i').addClass('niceIn');
		setTimeout(function(){
			prop.find('i').removeClass('niceIn');	
		},1000);		
	}
	$(function () {
		$(".adf_btn .comleftz").live('click',function () {
			if($(this).attr("status") == 1){
				$.tipsBox({
					obj: $(this),
					str: "+1",
					callback: function () {
					}
				});
				niceIn($(this));
			}
		});
	});
	</script>-->
<script src="//s4.cnzz.com/z_stat.php?id=<%= CNZZ_STAT_CODE_ID %>&web_id=<%= CNZZ_STAT_CODE_WEB_ID %>" language="JavaScript"></script>
</body>
</html>
