<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="Keywords" content="<%= PAGE_KEYWORDS %>" />
<meta name="Description" content="<%= PAGE_DESCRIPTION %>" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="../cosmetic/css/postsdeatil.css" />
<link rel="stylesheet" href="../cosmetic/css/biaoqing.css" />
<link rel="shortcut icon" href="/nggirl/h5/mobile/images/favicon.ico" />
<title>文章详情页</title>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="../cosmetic/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../cosmetic/js/md5.js"></script>
<script type="text/javascript" src="../cosmetic/js/params.js"></script>
<script type="text/javascript" src="../cosmetic/js/biaoqing.js"></script>
<script type="text/javascript" src="../cosmetic/js/jquery.lazyload.js"></script>
<script type="text/javascript" src="../cosmetic/js/articaldetail.js"></script>
<script> 
	//声明_czc对象: 
	var _czc = _czc || []; 
	//绑定siteid，请用您的siteid替换下方"XXXXXXXX"部分
	 _czc.push(["_setAccount", "<%= CNZZ_STAT_CODE_ID %>"]);
</script>
</head>

<body  class="bg1" id="cube">
	<div class="downLoad hidden"><img src="images/close.png" class="closeTip"><img src="images/downLoad.png" class="imgDes"><span class="gtload">打开</span></div>
    <div class="isWei hidden">
        <img src="<%=WEIXIN_GUIDE_BROWER_IMG%>" >
    </div>
	<div class="hiddenright"><div><img src="images/goods.png">松开进入本期相关商品<span>></span></div></div>
    <div class="forinput">
    	
        <div class="forinputlength">
            <div class="ad_content">
            </div>
            <div class="ad_comment ad_comment1">
                <div class="ad_comdet" ></div>
            </div>
        </div>
    </div>
    <div class="ad_flbot"> </div>
    <div class="ad_flbtn">
    	<p class="clickReplay">回复</p>
    	<p class="ad_report">举报</p>
        <p class="ad_aelbtn">删除该楼层</p>
        <p class="ad_delinner">删除</p>
        <p class="ad_clobtn">取消</p>
    </div>
    <div class="ad_flbtn1">
        <p class="ad_replay1">回复</p>
    	<p class="ad_report1">举报</p>
        <p class="ad_clobtn">取消</p>
    </div>
   	<div class="ad_flbtn2">
    	<p class="ad_report2">举报</p>
        <p class="ad_clobtn">取消</p>
    </div>
    <div class="ad_sure ad_tcbox">
    	<h3>提示</h3>
        <p class="ad_suremessage">删除此评论后，该楼层下的所有评论都将<br>被删除</p>
        <p class="adfor"><span class="ad_notsure">取消</span><span class="ad_suredel">删除</span></p>
    </div>
     <div class="ad_sure ad_tcbox1">
    	<h3>提示</h3>
        <p class="ad_suremessage">确定要删除评论吗？</p>
        <p class="adfor"><span class="ad_notsure">取消</span><span class="adin_suredel">删除</span></p>
    </div>
    <div class="ad_sure ad_tcbox2">
    	<h3>提示</h3>
        <p class="ad_suremessage">确定要举报吗？</p>
        <p class="adfor"><span class="ad_notsure">取消</span><span class="ad_surereport">举报</span></p>
    </div>
  	<div class="ad_btn ad_btns">
    	<div class="ad_btn_left">
           <!-- <p class="pinglun" id="pinglun">评论</p>
            -->
            <p class="toCom">我有话说...</p>
            <p class="Collected" id="collect"></p>
            <p class="Praised" id="praised"></p>
        </div>
        <p class="lookGoods" id="lookGoods"></p>
    </div>
    <div class="isWei hidden">
        <img src="<%=WEIXIN_GUIDE_BROWER_IMG%>" >
    </div>
    <div class="de_bot  clearfix">
        <img src="images/ping_face_icon.png" class="ping_icon" alt="" />
        <div class="de_box">
            <textarea class="form-control" id="textarea" onkeydown="myInput.listen(this, event)"; placeholder="请输入评论内容" style="width:100%;overflow-y:scroll;max-height:95px;" onpaste="return false" maxlength="600"></textarea>
        </div>
        <div class="send_message" id="send_message">发送</div>
        <div class="page_emotion box_swipe" id="page_emotion">
            <dl id="list_emotion" class="list_emotion pt_10"></dl>
        </div>
    </div>
    <!--placeholder内容-->
    <div class="form-tip">请输入评论内容</div>
    <!--评论提示框-->
    <div class="successtips"></div>
    <!--背景放大-->
    <div class="opbg"></div>
    <div class="opbginner">
        <div class="opbgbox">
            <img src="" alt="" />
        </div>
    </div>
   <!--/*/*禁言提示框*/*/-->
   <div class="isNoTalk">
    	<h3>提示</h3>
        <p>（*>.<*）小主，您因违反社区规定被禁言24小时，将于<span class="talkTime"></span>时解封~</p>
        <p class="talkBtn">知道了</p>
    </div>
    <!--评论规则-->
     <div class="gray hidden">
        <div class="integral_window">
        	<p class="iw_title">评论规则</p>
            <div class="iw_content">
               	小主您好，为了维护南瓜家和谐的互动环境，请小主自觉按照评论规则进行回复，不按规则发帖没有积分，而且还有可能受到处罚哟~<br/>
                ╮(╯_╰)╭评论规则详情如下：<br/>
                一.符合以下任意一条的即为水帖：<br/>
                1.发布无实质意义或者不相关内容<br/>
                2.发布频繁甚至刷屏,影响他人正常看帖<br/>
                3.不注重自然互动<br/>
                4.不以交流为目的，有赚积分嫌疑者<br/>
                二.禁言判定标准：<br/>
                1.发言中带有攻击辱骂言论<br/>
                2.发布广告<br/>
                3.发布政治相关信息<br/>
                4.昵称不和谐<br/>
                5.反复发水贴<br/>
                三.封号判定标准：<br/>
                1.禁言后屡教不改<br/>
                2.与工作人员及用户发生恶意争吵及在评论区搞破坏<br/>
                3.恶意举报他人<br/>
                <br/>
                希望您为建设和谐有爱的南瓜社区做出贡献~          
			</div>
            <div class="integral_btn">
            	<div class="btn_ok">知道了</div>
            </div>
        </div>
    </div>
   <div class="goToTop hidden"><img src="images/backtop.png"></div>
<script src="//s4.cnzz.com/z_stat.php?id=<%= CNZZ_STAT_CODE_ID %>&web_id=<%= CNZZ_STAT_CODE_WEB_ID %>" language="JavaScript"></script>

<script> 
	var autoTextarea = function (elem, extra, maxHeight) {
        extra = extra || 0;
        var isFirefox = !!document.getBoxObjectFor || 'mozInnerScreenX' in window,
        isOpera = !!window.opera && !!window.opera.toString().indexOf('Opera'),
                addEvent = function (type, callback) {
                        elem.addEventListener ?
                                elem.addEventListener(type, callback, false) :
                                elem.attachEvent('on' + type, callback);
                },
                getStyle = elem.currentStyle ? function (name) {
                        var val = elem.currentStyle[name];
 
                        if (name === 'height' && val.search(/px/i) !== 1) {
                                var rect = elem.getBoundingClientRect();
                                return rect.bottom - rect.top -
                                        parseFloat(getStyle('paddingTop')) -
                                        parseFloat(getStyle('paddingBottom')) + 'px';        
                        };
 
                        return val;
                } : function (name) {
                                return getComputedStyle(elem, null)[name];
                },
                minHeight = parseFloat(getStyle('height'));
 
        elem.style.resize = 'none';
 
        var change = function () {
                var scrollTop, height,
                        padding = 0,
                        style = elem.style;
 
                if (elem._length === elem.value.length) return;
                elem._length = elem.value.length;
 
                if (!isFirefox && !isOpera) {
                        padding = parseInt(getStyle('paddingTop')) + parseInt(getStyle('paddingBottom'));
                };
                scrollTop = document.body.scrollTop || document.documentElement.scrollTop;
 
                elem.style.height = minHeight + 'px';
                if (elem.scrollHeight > minHeight) {
                        if (maxHeight && elem.scrollHeight > maxHeight) {
                                height = maxHeight - padding;
                                style.overflowY = 'auto';
                        } else {
                                height = elem.scrollHeight - padding;
                                style.overflowY = 'scroll';
                        };
                        style.height = height + extra + 'px';
                        scrollTop += parseInt(style.height) - elem.currHeight;
                        document.body.scrollTop = scrollTop;
                        document.documentElement.scrollTop = scrollTop;
                        elem.currHeight = parseInt(style.height);
                };
        };
 
        addEvent('propertychange', change);
        addEvent('input', change);
        addEvent('focus', change);
        change();
};
		var text = document.getElementById("textarea");
		autoTextarea(text);// 调用
	</script>
</body>
</html>