<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="Keywords" content="<%= PAGE_KEYWORDS %>" />
<meta name="Description" content="<%= PAGE_DESCRIPTION %>" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="../cosmetic/css/experienceRank.css" />
<title>经验值</title>
<link rel="shortcut icon" href="/nggirl/h5/mobile/images/favicon.ico">
<script type="text/javascript" src="../cosmetic/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../cosmetic/js/params.js"></script>
<script type="text/javascript" src="../cosmetic/js/md5.js"></script>
<script type="text/javascript" src="../cosmetic/js/experienceRank.js"></script>
<script type="text/javascript" src="../cosmetic/js/TouchSlide.1.1.js"></script>
<script> 
	//声明_czc对象: 
	var _czc = _czc || []; 
	//绑定siteid，请用您的siteid替换下方"XXXXXXXX"部分
	 _czc.push(["_setAccount", "<%= CNZZ_STAT_CODE_ID %>"]);
</script>
</head>

<body>
	<div class="myrank">
        <div class="oneTosix">
            <div class="top clearfix">
                <div class="left">
                    <p>当前经验值</p>
                    <p class="userValue">0</p>
                </div>
                <div class="right">
                    <p>还差经验值</p>
                    <p class="needValue">0</p>
                </div>
            </div>
            <div class="self">
                <img src="images/points/myrank.png" class="selfbg">
                <div class="profile profile1"></div>
                <div class="nextLevel"></div>
            </div>
            <p class="mylv">LV0</p>
        </div>
        <div class="seven">
            <div class="top">
                <p >当前经验值</p>
                <p class="userValue"></p>
            </div>
            <div class="self">
                <img src="images/points/exe.png" class="selfbg">
                <div class="profile"></div>
            </div>
            <p class="mylv7">LV0</p>
        </div>
    </div>
    <div class="tabBoxs"id="tabBox1">
       <div class="exe hd clearfix">
           <ul class="clearfix">
               <li class="task"><p>任务</p></li>
               <li class="history"><p>记录</p></li>
           </ul>
       </div>
      <div class="bd" id="tabBox1-bd">
           <div class="con">
               <ul class="task_detail clearfix">
               		<li>每日任务：每日做任务可以获得好多好多的经验值呢~</li>
                    <li class="hidden">
                    	<div class="item item1">签到</div>
                        <div class="rank"><span>+3</span>经验值</div>
                        <div class="time part1"><span>0</span>/1</div>
                    </li>
                    <li class="toGetPoints">
                    	<div class="item item2">喜欢</div>
                        <div class="rank"><span>+1</span>经验值</div>
                        <div class="time part2"><span>0</span>/3</div>
                    </li>
                    <li class="toGetPoints">
                    	<div class="item item3">点赞</div>
                        <div class="rank"><span>+1</span>经验值</div>
                        <div class="time part3"><span>0</span>/3</div>
                    </li>
                    <li class="toGetPoints">
                    	<div class="item item5">收藏</div>
                        <div class="rank"><span>+1</span>经验值</div>
                        <div class="time part5"><span>0</span>/3</div>
                    </li>
                    <li class="toGetPoints">
                    	<div class="item item6">评论</div>
                        <div class="rank"><span>+2</span>经验值</div>
                        <div class="time part6"><span>0</span>/3</div>
                    </li>
                    <li class="toGetPoints">
                    	<div class="item item4">分享</div>
                        <div class="rank"><span>+3</span>经验值</div>
                        <div class="time part4"><span>0</span>/5</div>
                    </li>
               </ul>
           </div>
           <div class="con">
               <ul class="history_detail clearfix"> 
               		<div class="nonehistory hidden clearfix">
                    	<img src="images/points/exePoints.png" alt="" />
                        <p>还没有开始做任务呢，<br/>赶快赚取积分晋升等级吧~</p>
                        <p class="exebtn toGetPoints">去赚取</p>
                    </div>
               </ul>
           </div>
       </div>
</div>
    <%= STATISTICS_SCRIPT %>
</body>
</html>
