<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>我要关注</title>
	<meta name="Keywords" content="<%= PAGE_KEYWORDS %>" />
	<meta name="Description" content="<%= PAGE_DESCRIPTION %>" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="black" name="apple-mobile-web-app-status-bar-style" />
	<meta content="telephone=no" name="format-detection" />
	<link rel="stylesheet" type="text/css" href="../cosmetic/css/this.css">
	<link rel="stylesheet" href="../cosmetic/css/styles.css" type="text/css">
	<script type="text/javascript" src="../cosmetic/js/jquery-1.7.2.min.js"></script>
</head>
<body>
<div class="box">
	<div class＝"conter2">
		<div class="s_nav">陪伴你人生 “美” 一段旅程</div>

		<div class="follow_nav"><img src="images/logo_z.png"></div>
		<div class="follow_text">1 在微信“通讯录”点击“添加朋友”</div>
		<div class="follow_text">搜索微信号：<p>nanguagirl</p></div>
		<div class="follow_nav2"><img src="images/logo2.png"></div>
		<div class="follow_text2">2 或长按二维码，识别可关注我们。</div>

	</div>
</div>
<%= STATISTICS_SCRIPT %>
</body>
 
</html>