<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="Keywords" content="<%= PAGE_KEYWORDS %>" />
<meta name="Description" content="<%= PAGE_DESCRIPTION %>" />
<meta name="viewport" content="user-scalable=no,initial-scale=1.0,maximum-scale=1.0,width=device-width">
<link rel="shortcut icon" href="/nggirl/h5/mobile/images/favicon.ico" />
<link rel="stylesheet" href="../cosmetic/css/forget_pwd_one.css" />
<title>忘记密码(1/2)</title>
<script type="text/javascript" src="../cosmetic/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../cosmetic/js/md5.js"></script>
<script type="text/javascript" src="../cosmetic/js/params.js"></script>
<script type="text/javascript" src="../cosmetic/js/forget_pwd_one.js"></script>
<script> 
  //声明_czc对象: 
  var _czc = _czc || []; 
  //绑定siteid，请用您的siteid替换下方"XXXXXXXX"部分
   _czc.push(["_setAccount", "<%= CNZZ_STAT_CODE_ID %>"]);
</script>

</head>
<body>
	<div class="box">
		<p class="box_title">重置密码 （1/2）</p>
        <img src="images/login_new_return_2.4.0.png" alt="" class="box_return" />
        <div class="box_input">
        	<input type="text" class="tel" placeholder="请输入手机号" />
            <img src="images/new_login_del.png" alt="" class="del_tel" />
        	<input type="text" class="yzm" placeholder="请输入验证码" />
            <img src="images/new_login_del.png" alt="" class="del_yzm" />
            <div class="get_yzm">获取验证码</div>
            <div class="yz_btn">验证</div>
        </div>
        <p class="box_p">注册账户表示同意南瓜姑娘的<a href="javascript:;">用户服务条款</a></p>
    </div>
    <script src="//s4.cnzz.com/z_stat.php?id=<%= CNZZ_STAT_CODE_ID %>&web_id=<%= CNZZ_STAT_CODE_WEB_ID %>" language="JavaScript"></script>
</body>
</html>
