<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="Keywords" content="<%= PAGE_KEYWORDS %>" />
<meta name="Description" content="<%= PAGE_DESCRIPTION %>" />
<meta name="viewport" content="user-scalable=no,initial-scale=1.0,maximum-scale=1.0,width=device-width">
<link rel="shortcut icon" href="/nggirl/h5/mobile/images/favicon.ico" />
<link rel="stylesheet" href="../cosmetic/css/grassListing.css" />
<script type="text/javascript" src="../cosmetic/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../cosmetic/js/TouchSlide.1.1.js"></script>
<script type="text/javascript" src="../cosmetic/js/md5.js"></script>
<script type="text/javascript" src="../cosmetic/js/params.js"></script>
<script type="text/javascript" src="../cosmetic/js/grassListing.js"></script>
<title>长草清单</title>
<script> 
    //声明_czc对象: 
    var _czc = _czc || []; 
    //绑定siteid，请用您的siteid替换下方"XXXXXXXX"部分
     _czc.push(["_setAccount", "<%= CNZZ_STAT_CODE_ID %>"]);
</script>
</head>
<body>
    <div id="leftTabBox" class="tabBox">
    	<div class="tab_hd">
            <div class="hd">
                <ul>
                    <li class="shou_ok"><p>已开售</p></li>
                    <li class="shou_no"><p>未开售</p></li>
                </ul>
            </div>
        </div>
        <div class="bd" id="leftTabBox_db">
            <div class="con">
            	<div class="no_cao tab_shou_ok">
                	<img src="images/cao.png" alt="" />
                    <p>暂时还没有开售的商品，<br/>快去去逛逛吧~</p>
                    <div class="go_find">去逛逛</div>
                </div>
                <ul class="tab_ok_shou"></ul>
            </div>
            <div class="con">
            	<div class="no_cao tab_shou_no">
                	<img src="images/cao.png" alt="" />
                    <p>您还没有长草的商品~<br/>快去去逛逛吧~</p>
                    <div class="go_find">去逛逛</div>
                </div>
                <ul class="tab_no_shou"></ul>
            </div>
        </div>
    </div>
    <%= STATISTICS_SCRIPT %>
</body>
</html>
