<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="Keywords" content="<%= PAGE_KEYWORDS %>" />
<meta name="Description" content="<%= PAGE_DESCRIPTION %>" />
<title>商品详情</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<meta content="telephone=no" name="format-detection" />
<link rel="shortcut icon" href="/nggirl/h5/mobile/images/favicon.ico" />
<link rel="stylesheet" href="../cosmetic/css/integralMallIndexDetails.css" />
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="../cosmetic/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../cosmetic/js/md5.js"></script>
<script type="text/javascript" src="../cosmetic/js/params.js"></script>
<script type="text/javascript" src="../cosmetic/js/jquery.lazyload.js"></script>
<script type="text/javascript" src="../cosmetic/js/integralMallIndexDetails.js"></script>
<script> 
	//声明_czc对象: 
	var _czc = _czc || []; 
	//绑定siteid，请用您的siteid替换下方"XXXXXXXX"部分
	 _czc.push(["_setAccount", "<%= CNZZ_STAT_CODE_ID %>"]);
</script>
</head>
<body>
    <div class="content">
    	<div class="content_cover">
        	<img src="" alt="" />
        </div>
        <div class="content_message">
        	<p class="cm_txt"></p>
            <div class="cm_integral">
            	<div class="left">
                    <img class="cm_integral_icon" src="images/integral_small_icon.png" alt="" />
                    <span class="integral_num"></span>
                    <del class="integral_del_num"></del>
                </div>
                <div class="right">
                	<p class="num">数量：<span></span></p>
                    <p class="yunfei">运费：<span class="type"></span></p>
                </div>
            </div>
        </div>
        <div class="voucher">
        	<!-- <img src="images/lottery_third_part_coupon.png" class="voucher_back" /> -->
            <div class="voucher_back"></div>
            <div class="voucher_code" style="-webkit-user-select:initial;"></div>
        </div>
        <div class="cm_activity">
            兑换活动时间：<span class="time"><span class="start"></span><span class="end"></span></span>
        </div>
        <div class="details">
        	<div class="details_content">
            	<div class="dc_title">
                	<span>礼品详情说明</span>
                    <img src="images/integral_message.png" alt="" />
                </div>
            </div>
        </div>
        <div class="details_use">
        	<div class="details_content">
            	<div class="dc_title">
                	<span>使用说明</span>
                    <img src="images/integral_message.png" alt="" />
                </div>
            </div>
        </div>
        <div class="btn">立即兑换</div>
    </div>
    <div class="gray">
        <div class="integral_window">
        	<p class="iw_title">提示信息</p>
            <div class="iw_content"></div>
            <div class="integral_btn">
            	<div class="btn_ok">知道了</div>
            </div>
        </div>
    </div>
    <div class="gray_btn_double">
        <div class="integral_window">
        	<p class="iw_title">提示信息</p>
            <div class="iw_content"></div>
            <div class="integral_btn">
            	<div class="btn_left">暂时不去</div>
            	<div class="btn_right">去赚取</div>
            </div>
        </div>
    </div>
    <div class="gray_btn_double_ok">
        <div class="integral_window">
        	<p class="iw_title">提示信息</p>
            <div class="iw_content"></div>
            <div class="integral_btn">
            	<div class="btn_left">取消</div>
            	<div class="btn_right">确认</div>
            </div>
        </div>
    </div>
    <div class="gray_big_img">
    	<img src="" alt="" />
    </div>
    <div class="gray_three">
    	<div class="gt_img">
            <img src="images/zhongjiang.png" class="success" alt="" />
            <img src="images/freetryclose.png" alt="" class="close" />
        </div>
        <div class="success_message">
        	恭喜您获得<span class="gray_gift_name red"></span><br />
            兑换码将成功发送给您，请按照<br />
            使用说明提示操作哦~<br />
            兑换后可在<span class="red">"兑换记录"</span>中查看<br />
            <input type="button" value="知道了" class="sm_ok" />
        </div>
    </div>
    <%= STATISTICS_SCRIPT %>
</body>
</html>