<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="Keywords" content="<%= PAGE_KEYWORDS %>" />
<meta name="Description" content="<%= PAGE_DESCRIPTION %>" />
<meta name="viewport" content="user-scalable=no,initial-scale=1.0,maximum-scale=1.0,width=device-width">
<link rel="shortcut icon" href="/nggirl/h5/mobile/images/favicon.ico" />
<link rel="stylesheet" href="../cosmetic/css/login_new.css" />
<title>用户登录</title>
<script type="text/javascript" src="../cosmetic/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../cosmetic/js/md5.js"></script>
<script type="text/javascript" src="../cosmetic/js/params.js"></script>
<script type="text/javascript" src="../cosmetic/js/login_new.js"></script>
<script> 
    //声明_czc对象: 
    var _czc = _czc || []; 
    //绑定siteid，请用您的siteid替换下方"XXXXXXXX"部分
     _czc.push(["_setAccount", "<%= CNZZ_STAT_CODE_ID %>"]);
</script>
<script type="text/javascript">
	$(function(){
		if(isInWeixin()){
			$('.another_login').show();
			$('.lb_weixin').show();
		}else{
			$('.another_login').hide();
			$('.lb_weixin').hide();
		}
	});
</script>

</head>
<body>
	<div class="box">
    	<p class="box_p">南瓜姑娘</p>
		<img src="images/login_new_close_2.4.0.png" class="box_close" alt="" />
        <img src="images/login_new_2.4.0_logo.png" class="box_nggirl" alt="" />
        <div class="box_input">
        	<input type="tel" placeholder="请输入手机号" class="tel" maxlength="11" />
            <img src="images/new_login_del.png" alt="" class="tel_del" />
        	<input type="password" placeholder="请输入密码" class="pwd" id="pwd" />
            <img src="images/new_login_del.png" alt="" class="pwd_del" />
            <img src="images/new_login_pwd_eyes.png" alt="" class="eyes" pwd="no" />
        </div>
        <div class="login_btn">
        	<div class="btn_ok">登录</div>
            <div class="btn">
                <p class="lb_register">注册</p>
                <p class="lb_login">忘记密码</p>
            </div>
            <p class="another_login">———　使用其它方式快速登录　———</p>
            <a href="<%= WEIXIN_BOUND_DOMAIN_URL %>/nggirl/h5/cosmetic/wxauthvisiblelogin.html?v=<%= VERSION %>" class="weixin">
            	<img src="images/new_login_weixin.png" class="lb_weixin" alt="" />
            </a>
        </div>
    </div>
    <%= STATISTICS_SCRIPT %>
</body>
</html>
