<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="Keywords" content="<%= PAGE_KEYWORDS %>" />
<meta name="Description" content="<%= PAGE_DESCRIPTION %>" />
<meta name="viewport" content="user-scalable=no,initial-scale=1.0,maximum-scale=1.0,width=device-width">
<meta content="telephone=no" name="format-detection" />
<link rel="shortcut icon" href="/nggirl/h5/mobile/images/favicon.ico" />
<link rel="stylesheet" href="../cosmetic/css/mineAttention.css" />
<script type="text/javascript" src="../cosmetic/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../cosmetic/js/TouchSlide.1.1.js"></script>
<script type="text/javascript" src="../cosmetic/js/md5.js"></script>
<script type="text/javascript" src="../cosmetic/js/params.js"></script>
<script type="text/javascript" src="../cosmetic/js/jquery.lazyload.js"></script>
<script type="text/javascript" src="../cosmetic/js/mineAttention.js"></script>
<title>我的关注</title>
<script> 
    //声明_czc对象: 
    var _czc = _czc || []; 
    //绑定siteid，请用您的siteid替换下方"XXXXXXXX"部分
     _czc.push(["_setAccount", "<%= CNZZ_STAT_CODE_ID %>"]);
</script>
</head>
<body>
    <div id="leftTabBox" class="tabBox">
    	<div class="tab_hd">
            <div class="hd">
                <ul>
                    <li class="dresser"><p>化妆师</p></li>
                    <li class="user"><p>用户</p></li>
                </ul>
            </div>
        </div>
        <div class="bd" id="leftTabBox_db">
        	<div class="con">
            	<div class="no_dresser">
                	<img src="images/mine_attention.png" alt="" />
                    <p>哎呀，您还没有关注任何化妆师，<br />快去上门美妆中看看吧，一定有您喜欢的那一个</p>
                    <div class="no_dresser_find">去发现</div>
                </div>
                <ul class="tab_dresser clearfix"></ul>
                <span class="pullUpIcon"></span>
            </div>
            <div class="con">
            	<div class="no_user">
                	<img src="images/mine_attention.png" alt="" />
                    <p>哎呀，您还没有关注任何用户，<br />快去帖子中看看吧，一定有您喜欢的那一个</p>
                    <div class="no_user_find">去发现</div>
                </div>
                <ul class="tab_user clearfix"></ul>
            </div>
        </div>
    </div>
<script type="text/javascript">
TouchSlide( { slideCell:"#leftTabBox",
	endFun:function(i){ //高度自适应
		var bd = document.getElementById("leftTabBox_db");
		effect:"leftLoop";
		if(i == 0){
			$('.tab_dresser').show();
			$('.tab_user').hide();
		}else if(i ==1){
			$('.tab_dresser').hide();
			$('.tab_user').show();
		}
	}
 });
</script>
<script src="//s4.cnzz.com/z_stat.php?id=<%= CNZZ_STAT_CODE_ID %>&web_id=<%= CNZZ_STAT_CODE_WEB_ID %>" language="JavaScript"></script>
</body>
</html>
