<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="Keywords" content="<%= PAGE_KEYWORDS %>" />
<meta name="Description" content="<%= PAGE_DESCRIPTION %>" />
<title>更多装束</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
<link rel="stylesheet" type="text/css" href="../cosmetic/css/this.css">
<link rel="stylesheet" type="text/css" href="../cosmetic/css/styles.css" >
<link rel="shortcut icon" href="/nggirl/h5/mobile/images/favicon.ico" />
<script type="text/javascript" src="../cosmetic/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../cosmetic/js/jquery.lazyload.js"></script>
<script type="text/javascript" src="../cosmetic/js/params.js"></script>
<script type="text/javascript" src="../cosmetic/js/md5.js"></script>
<script type="text/javascript" src="../cosmetic/js/more2.js"></script>
<style>
/*0318修改页面样式*/
.head01 .center_img { width: 89px; height: 89px;}
.head01 .search_main_ctwo {width: 100%; height:auto; margin-bottom:8px; }
.head01 .search_main_ctwo p{ line-height:1; padding:3px 7px; margin-right:2px;}
.head01 .center_text .search_one_top p span{ font-size:18px; padding-left:5px;}
.head01 .center_text {padding-left: 114px;}
.love-item-title span { color: #8c96a0;}
.head01 .center_img>img{ margin-left:15px;}
.s_btn{ border-top:none;}
a[title*="站长统计"]{ display:none;}
</style>
<script> 
    //声明_czc对象: 
    var _czc = _czc || []; 
    //绑定siteid，请用您的siteid替换下方"XXXXXXXX"部分
     _czc.push(["_setAccount", "<%= CNZZ_STAT_CODE_ID %>"]);
</script>
</head>
<body>

<!--搜索装束-->
<div class="box3">
	<div class="conter4">
		<div class="search_one_main"></div>
	</div>
</div>
<script src="//s4.cnzz.com/z_stat.php?id=<%= CNZZ_STAT_CODE_ID %>&web_id=<%= CNZZ_STAT_CODE_WEB_ID %>" language="JavaScript"></script>
</body>
</html>