<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="Keywords" content="<%= PAGE_KEYWORDS %>" />
	<meta name="Description" content="<%= PAGE_DESCRIPTION %>" />
	<title>婚博会专场-更多作品</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="black" name="apple-mobile-web-app-status-bar-style" />
	<meta content="telephone=no" name="format-detection" />
	<link rel="stylesheet" type="text/css" href="../cosmetic/css/this.css">
	<link rel="stylesheet" type="text/css" href="../cosmetic/css/styles.css" >
	<script type="text/javascript" src="../cosmetic/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="../cosmetic/js/yxMobileSlider.js"></script>
	<script type="text/javascript" src="../cosmetic/js/params.js"></script>
	<script type="text/javascript" src="../cosmetic/js/md5.js"></script>
	<script type="text/javascript" src="../cosmetic/js/more-hbh.js"></script>
</head>
<body>
    <div class="box">
        <div class="conter">
            <a href="#"></a>
            <div class="more_w">
                <div class="more_nav">|婚博会专场|</div>
                <!--装束类型  更多-->
                <div class="more_main"></div>
            </div>
            <div class="s_btn">查看更多</div>
            <a href="#s_nav"></a>
        </div>
        <div class="more_top">
            <img src="images/more_top.png">
        </div>
    </div>
    <script src="//s4.cnzz.com/z_stat.php?id=<%= CNZZ_STAT_CODE_ID %>&web_id=<%= CNZZ_STAT_CODE_WEB_ID %>" language="JavaScript"></script>
</body>
</html>