<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="Keywords" content="<%= PAGE_KEYWORDS %>" />
<meta name="Description" content="<%= PAGE_DESCRIPTION %>" />
<meta name="viewport" content="user-scalable=no,initial-scale=1.0,maximum-scale=1.0,width=device-width">
<link rel="shortcut icon" href="/nggirl/h5/mobile/images/favicon.ico" />
<title>在南瓜姑娘做当家达人啦~</title>
<style type="text/css">
* {margin: 0px;padding: 0px;border: none;text-decoration: none;list-style: none;-webkit-appearance:none;-webkit-text-size-adjust:none; -webkit-tap-highlight-color: transparent; color:#3a3a3a; font-family:"微软雅黑";}
body img{ width:100%; display:block;}
body .level{ color:#ee6b23; text-align:center; margin-top:-50px;}
body .test{color:#ee6b23; text-align:center;}
a[title="站长统计"]{ display:none;}
</style>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="../cosmetic/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../cosmetic/js/md5.js"></script>
<script type="text/javascript" src="../cosmetic/js/params.js"></script>
<script> 
	//声明_czc对象: 
	var _czc = _czc || []; 
	//绑定siteid，请用您的siteid替换下方"XXXXXXXX"部分
	 _czc.push(["_setAccount", "<%= CNZZ_STAT_CODE_ID %>"]);
</script>
<script type="text/javascript">
$(function(){
	$('.level').click(function(e) {
        window.location.href="nanGuaLevel.html?v=<%= VERSION %>";
    });
	$('.test').click(function(e) {
        window.location.href="nanGuaPeopleTest.html?v=<%= VERSION %>";
    });
	if (/iphone|ipad|ipod/.test(ua)) {
		_czc.push(['_trackEvent','phoneType=iOS','如何成为南瓜达人']);	
	} else if (/android/.test(ua)) {
		_czc.push(['_trackEvent','phoneType=and','如何成为南瓜达人']);
	};
	
	//微信分享
	if(isInWeixin()){
		var title = '在南瓜姑娘做当家达人啦~';
		var desc = '点开就有通关秘籍哟~';
		var link = window.location.href;
		var imgUrl = 'https://photosd.nggirl.com.cn/work/e6b8bd3473e6424f8f8679416ec7a56c.jpg';
		var from = getParam('apptype');
		if(!strIsEmpty(from) && from == 'appb'){
			desc = '点开就有通关秘籍哟~';
		}
		weixinConfig(title,desc,link,imgUrl);
		$('.test').hide();
	}else{
		$('.test').show();
	}
	
	//h5,app同步分享内容
	if(isInApp()){
		window.shareTitle = '在南瓜姑娘做当家达人啦~';
		window.shareContent = '点开就有通关秘籍哟~';
		window.sharePicture = 'https://photosd.nggirl.com.cn/work/e6b8bd3473e6424f8f8679416ec7a56c.jpg';
		window.shareUrl = window.location.href;
		$('.test').show();
	};
	//给安卓传值
	if(typeof(window.ngjsInterface)!="undefined" && typeof(window.ngjsInterface.conFigShareInfo)!="undefined"){
		$('.test').show();
		window.ngjsInterface.conFigShareInfo('在南瓜姑娘做当家达人啦~', '点开就有通关秘籍哟~','https://photosd.nggirl.com.cn/work/e6b8bd3473e6424f8f8679416ec7a56c.jpg',window.location.href);
	};

	//微信分享
	function weixinConfig(title,desc,link,imgUrl) {
		wx.ready(function(){
			//获取“分享到朋友圈”按钮点击状态及自定义分享内容接口
			wx.onMenuShareTimeline({
				title: title, // 分享标题
				link: link, // 分享链接
				imgUrl: imgUrl, // 分享图标
				success: function () {
					// 用户确认分享后执行的回调函数
				},
				cancel: function () {
					// 用户取消分享后执行的回调函数
				}
			});
	
			//获取“分享给朋友”按钮点击状态及自定义分享内容接口
			wx.onMenuShareAppMessage({
				title: title, // 分享标题
				desc: desc, // 分享描述
				link: link, // 分享链接
				imgUrl: imgUrl, // 分享图标
				type: 'link', // 分享类型,music、video或link，不填默认为link
				dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
				success: function () {
					// 用户确认分享后执行的回调函数
				},
				cancel: function () {
					// 用户取消分享后执行的回调函数
				}
			});
		});
		var currenturl =window.location.href;
		//初始化配置信息
		$.ajax({
			url: '<%= CLI_HOST_API_URL %>/nggirl/app/cli/weixinjs/config',
			type: 'post',
			dataType: 'json',
			data: getFinalRequestObject({url: currenturl, accessToken: getAccessToken()}),
			success: function (data) {
				//初始化配置
				wx.config({
					debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
					appId: data.data.appId, // 必填，公众号的唯一标识
					timestamp: data.data.timestamp, // 必填，生成签名的时间戳
					nonceStr: data.data.noncestr, // 必填，生成签名的随机串
					signature: data.data.signature,// 必填，签名，见附录1
					jsApiList: ["onMenuShareTimeline","onMenuShareAppMessage"] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
				});
			}
		});
	}
});
</script>
</head>
<body>
	<img src="images/nanGuaPeople/na_da_ren_01.jpg" alt="" />
	<img src="images/nanGuaPeople/na_da_ren_02.jpg" alt="" />
	<img src="images/nanGuaPeople/na_da_ren_03.jpg" alt="" />
	<img src="images/nanGuaPeople/na_da_ren_04.jpg" alt="" />
    <p class="test">达人（彩妆 / 护肤） 认证测试>></p>
	<img src="images/nanGuaPeople/na_da_ren_05.jpg" alt="" />
    <p class="level">精华帖筛选标准 >></p>
	<%= STATISTICS_SCRIPT %>
</body>
</html>
