<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="Keywords" content="<%= PAGE_KEYWORDS %>" />
<meta name="Description" content="<%= PAGE_DESCRIPTION %>" />
<title>彩妆/护肤测评题</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<meta content="telephone=no" name="format-detection" />
<link rel="shortcut icon" href="/nggirl/h5/mobile/images/favicon.ico" />
<link rel="stylesheet" href="../cosmetic/css/nanGuaPeopleTest.css" />
<script type="text/javascript" src="../cosmetic/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../cosmetic/js/md5.js"></script>
<script type="text/javascript" src="../cosmetic/js/params.js"></script>
<script type="text/javascript" src="../cosmetic/js/nanGuaPeopleTest.js"></script>
<script> 
	//声明_czc对象: 
	var _czc = _czc || []; 
	//绑定siteid，请用您的siteid替换下方"XXXXXXXX"部分
	 _czc.push(["_setAccount", "<%= CNZZ_STAT_CODE_ID %>"]);
</script>
</head>
<body>
	<div class="bar"></div>
	<div class="box">
	<div class="leve_type">
    	<p class="leve_type_zhuang" testType="1">彩妆类</p>
    	<p class="leve_type_fu" testType="2">护肤类</p>
    </div>
    
    <!--  彩妆类 -->
    <div class="leve_type_caizhuang question_hide">
    	<p class="leve_type_cai_title">- 彩妆类 -</p>
        <!--彩妆类问题   -->
        <div class="leve_type_question_box">
            <div class="box_question question_01 ">
                <div class="bq_box">
                	<p class="bb_circle">1/7</p>
                	<p class="bb_ques">1.平时用的底妆品牌是？</p>
                	<textarea name="" id="" class="bq_textarea" placeholder="添加描述..."></textarea>
                </div>
                <div class="btn_double">
                    <div class="bq_next_question next_question clear_float">下一题</div>
                </div>
            </div>
            <div class="box_question question_02 question_hide" >
                <div class="bq_box">
                	<p class="bb_circle">2/7</p>
                	<p class="bb_ques">2.平时用的口红品牌是？</p>
                	<textarea name="" id="" cols="30" rows="10" class="bq_textarea" placeholder="添加描述..."></textarea>
                </div>
                <div class="btn_double">
                    <div class="bq_next_question prve_question">上一题</div>
                    <div class="bq_next_question next_question">下一题</div>
                </div>
            </div>
            <div class="box_question question_03 question_hide">
                <div class="bq_box">
                	<p class="bb_circle">3/7</p>
                	<p class="bb_ques">3.除了pony，最常看的彩妆博主是？</p>
                	<textarea name="" id="" cols="30" rows="10" class="bq_textarea" placeholder="添加描述..."></textarea>
                </div>
                <div class="btn_double">
                    <div class="bq_next_question prve_question">上一题</div>
                    <div class="bq_next_question next_question">下一题</div>
                </div>
            </div>
            <div class="box_question question_04 question_hide">
                <div class="bq_box">
                	<p class="bb_circle">4/7</p>
                	<p class="bb_ques">4.自己最擅长什么类型的妆容？</p>
                	<textarea name="" id="" cols="30" rows="10" class="bq_textarea" placeholder="添加描述..."></textarea>
                </div>
                <div class="btn_double">
                    <div class="bq_next_question prve_question">上一题</div>
                    <div class="bq_next_question next_question">下一题</div>
                </div>
            </div>
            <div class="box_question question_05 question_hide">
                <div class="bq_box">
                	<p class="bb_circle">5/7</p>
                	<p class="bb_ques">5.自己用过最鸡肋的彩妆/护肤产品是？</p>
                	<textarea name="" id="" cols="30" rows="10" class="bq_textarea" placeholder="添加描述..."></textarea>
                </div>
                <div class="btn_double">
                    <div class="bq_next_question prve_question">上一题</div>
                    <div class="bq_next_question next_question">下一题</div>
                </div>
            </div>
            <div class="box_question question_06 question_hide">
                <div class="bq_box">
                	<p class="bb_circle">6/7</p>
                	<p class="bb_ques">6.新一季的彩妆新品，你所了解得有哪些牌子？</p>
                	<textarea name="" id="" cols="30" rows="10" class="bq_textarea" placeholder="添加描述..."></textarea>
                </div>
                <div class="btn_double">
                    <div class="bq_next_question prve_question">上一题</div>
                    <div class="bq_next_question next_question">下一题</div>
                </div>
            </div>
            <div class="box_question question_07 question_hide">
                <div class="bq_box">
                	<p class="bb_circle">7/7</p>
                	<p class="bb_ques">7.最近最想入手的彩妆品牌是？</p>
                	<textarea name="" id="" cols="30" rows="10" class="bq_textarea" placeholder="添加描述..."></textarea>
                </div>
                <div class="btn_double">
                    <div class="bq_next_question prve_question">上一题</div>
                    <div class="bq_next_question next_question">提交</div>
                </div>
            </div>
        </div>
    </div>
    <!--  护肤类 -->
    <div class="leve_type_hufu question_hide">
    	<p class="leve_type_cai_title">- 护肤类 -</p>
        <!--护肤类问题   -->
        <div class="leve_type_question_box">
            <div class="box_question question_01">
                <div class="bq_box">
                	<p class="bb_circle">1/7</p>
                	<p class="bb_ques">1.请描述你的皮肤状况。</p>
                	<textarea name="" id="" cols="30" rows="10" class="bq_textarea" placeholder="添加描述..."></textarea>
                </div>
                <div class="btn_double">
                    <div class="bq_next_question next_question clear_float">下一题</div>
                </div>
            </div>
            <div class="box_question question_02 question_hide">
                <div class="bq_box">
                	<p class="bb_circle">2/7</p>
                	<p class="bb_ques">2.最喜欢的化妆水是哪款？</p>
                	<textarea name="" id="" cols="30" rows="10" class="bq_textarea" placeholder="添加描述..."></textarea>
                </div>
                <div class="btn_double">
                    <div class="bq_next_question prve_question">上一题</div>
                    <div class="bq_next_question next_question">下一题</div>
                </div>
            </div>
            <div class="box_question question_03 question_hide">
                <div class="bq_box">
                	<p class="bb_circle">3/7</p>
                	<p class="bb_ques">3.使用过的最贵的精华是哪款？</p>
                	<textarea name="" id="" cols="30" rows="10" class="bq_textarea" placeholder="添加描述..."></textarea>
                </div>
                <div class="btn_double">
                    <div class="bq_next_question prve_question">上一题</div>
                    <div class="bq_next_question next_question">下一题</div>
                </div>
            </div>
            <div class="box_question question_04 question_hide">
                <div class="bq_box">
                	<p class="bb_circle">4/7</p>
                	<p class="bb_ques">4.目前都使用过哪些眼部产品？</p>
                	<textarea name="" id="" cols="30" rows="10" class="bq_textarea" placeholder="添加描述..."></textarea>
                </div>
                <div class="btn_double">
                    <div class="bq_next_question prve_question">上一题</div>
                    <div class="bq_next_question next_question">下一题</div>
                </div>
            </div>
            <div class="box_question question_05 question_hide">
                <div class="bq_box">
                	<p class="bb_circle">5/7</p>
                	<p class="bb_ques">5.你使用面膜的频率是？最喜欢哪些面膜呢？</p>
                	<textarea name="" id="" cols="30" rows="10" class="bq_textarea" placeholder="添加描述..."></textarea>
                </div>
                <div class="btn_double">
                    <div class="bq_next_question prve_question">上一题</div>
                    <div class="bq_next_question next_question">下一题</div>
                </div>
            </div>
            <div class="box_question question_06 question_hide">
                <div class="bq_box">
                	<p class="bb_circle">6/7</p>
                	<p class="bb_ques">6.你使用过哪些美容仪？</p>
                	<textarea name="" id="" cols="30" rows="10" class="bq_textarea" placeholder="添加描述..."></textarea>
                </div>
                <div class="btn_double">
                    <div class="bq_next_question prve_question">上一题</div>
                    <div class="bq_next_question next_question">下一题</div>
                </div>
            </div>
            <div class="box_question question_07 question_hide">
                <div class="bq_box">
                	<p class="bb_circle">7/7</p>
                	<p class="bb_ques">7.最近想入手的护肤产品是？</p>
                	<textarea name="" id="" cols="30" rows="10" class="bq_textarea" placeholder="添加描述..."></textarea>
                </div>
                <div class="btn_double">
                    <div class="bq_next_question prve_question">上一题</div>
                    <div class="bq_next_question next_question">提交</div>
                </div>
            </div>
        </div>
    </div>
    
    <!--  确认提交弹框 -->
    <div class="window_white_half sure question_hide">
        <div class="window_box">
            <div class="window_sure">
                <p class="window_sure_title">提示信息</p>
                <p class="window_sure_message">确认提交？</p>
                <div class="ws_double_btn">
                    <div class="ws_double_btn_cancle">取消</div>
                    <div class="ws_double_btn_ok">确认</div>
                </div>
            </div>
        </div>
    </div>
    
    <!--  提交成功提示弹框 -->
    <div class="window_white_half ok question_hide">
        <div class="window_box">
            <div class="window_sure">
                <p class="window_sure_title">提交成功！</p>
                <p class="window_sure_message">我们需要初步审核您回答的问题哦！坐等拥有“南瓜达人”入选的资格吧~！</p>
                <div class="ws_double_btn">
                    <div class="ws_double_btn_queren">好的</div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <%= STATISTICS_SCRIPT %>
</body>
</html>