<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="Keywords" content="<%= PAGE_KEYWORDS %>" />
<meta name="Description" content="<%= PAGE_DESCRIPTION %>" />
<meta name="viewport" content="user-scalable=no,initial-scale=1.0,maximum-scale=1.0,width=device-width">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="telephone=no">
<link rel="shortcut icon" href="/nggirl/h5/mobile/images/favicon.ico" />
<link rel="stylesheet" href="css/new_goods_pay.css" type="text/css">
<title>结算</title>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="../cosmetic/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../cosmetic/js/md5.js"></script>
<script type="text/javascript" src="../cosmetic/js/params.js"></script>
<script type="text/javascript" src="../cosmetic/js/jquery.lazyload.js"></script>
<script type="text/javascript" src="../cosmetic/js/new_goods_pay.js"></script>
<script> 
    //声明_czc对象: 
    var _czc = _czc || []; 
    //绑定siteid，请用您的siteid替换下方"XXXXXXXX"部分
     _czc.push(["_setAccount", "<%= CNZZ_STAT_CODE_ID %>"]);
</script>
</head>
<body>
	<div class="loading">
    	<img src="images/loadding2.gif" alt="" />
    </div>
	<div class="main">   
        <div class="top"></div>
        <div class="chooseType">
            <p class="type type1 on"><img src="images/weixin.png">微信支付</p>
            <p class="type type2 on"><img src="images/zhifubao.png">支付宝</p>
        </div>
        <div class="delivery">
        	<p>配送方式：<span class="way"></span></p>
            <p><span class="leveMan">买家留言：</span><input type="text" maxlength="2000" class="leveMessage"></p>
        </div>
        <div class="goodsDet"></div>
    </div>
    <div class="btn_box">
    	<div class="btn">合计：<span class="money"></span><span class="pay">去付款</span></div>
    </div>
    <%= STATISTICS_SCRIPT %>
</body>
</html>
