<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="../cosmetic/css/newGoodsDetails.css" />
<link rel="shortcut icon" href="/nggirl/h5/mobile/images/favicon.ico" />
<script type="text/javascript" src="../cosmetic/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="../cosmetic/js/Slide_pone.js"></script>
<script type="text/javascript" src="../cosmetic/js/params.js"></script>
<script type="text/javascript" src="../cosmetic/js/md5.js"></script>
<script type="text/javascript" src="../cosmetic/js/newGoodsDetails.js"></script>
<script>
	//声明_czc对象: 
	var _czc = _czc || []; 
	//绑定siteid，请用您的siteid替换下方"XXXXXXXX"部分
	 _czc.push(["_setAccount", "<%= CNZZ_STAT_CODE_ID %>"]);
</script>
</head>

</head>
<body>
	<div class="downLoad">
    	<img src="images/freetryclose.png" class="closeTip">
        <img src="images/newGoodsDownImg.png" class="imgDes">
        <span class="gtload">打开</span>
    </div>
    <div class="isWei hidden">
        <img src="<%=WEIXIN_GUIDE_BROWER_IMG%>" >
    </div>
	<div class="content">
    	<!--  banner -->
        <div class="banner" id="slideBox">
            <div class="top bd">
                <ul class="imgw"></ul>
            </div>
            <div class="bot hd">
                <ul class="clear"></ul>
            </div>
        </div>
        <!--  内容区域 -->
        <div class="box_content">
        	<p class="bc_title_main"></p>
        	<p class="bc_title_fu"></p>
            <p class="bc_title_price"></p>
            <div class="bc_title_property">
            	<p class="select">已选</p>
                <p class="title"></p>
                <img src="images/back_right.png" class="arr_right" alt="" />
            </div>
        </div>
        <!--  规格 -->
        <div class="bc_norm canshu">
            <p class="title">规格&参数</p>
            <ul></ul>
            <div class="bn_details norm_details">
            	<span>查看详细信息</span>
                <img src="images/back_right.png" alt="" />
            </div>
        </div>
        <!--  商品介绍 -->
        <div class="bc_norm">
            <p class="title">商品介绍</p>
            <div class="bn_content"></div>
        </div>
        <!--  购物须知 -->
        <div class="bc_norm padding_none">
            <p class="title">购物须知</p>
            <div class="bn_notice">
            	<div class="tags"></div>
                <div class="bn_p"></div>
            </div>
            <div class="bn_details">
                <span>更多说明</span>
                <img src="images/arr-down_03.png" alt="" />
            </div>
        </div>
    </div>
    
    <!--  footer -->
    <div class="footer_content">
        <div class="fc_pao">
            <img src="images/shopping.png" alt="" />
            <p>购物车</p>
            <span class="qipao"></span>
        </div>
        <div class="fc_join">加入购物车</div>
        <div class="fc_buy">立即购买</div>
    </div>
    
    <!--  灰色背景 -->
    <div class="gray_box hidden"></div>
    
    <!--  选择参数 -->
    <div class="gray_box_param hidden">
        <div class="gray_content">
            <div class="norm_content">
                <div class="nc_top">
                    <img src="" alt="" class="cover" />
                    <div class="nt_right">
                        <p class="price"></p>
                        <p class="title"></p>
                        <div class="select">已选: </div>
                    </div>
                    <img src="images/b_close.png" class="close" alt="" />
                </div>
            </div>
            <div class="scroll_box">
                <!--  规格 -->
                <div class="norm_box"></div>
                <!--  购买数量 -->
                <div class="nc_bottom">
                    <p class="title">购买数量</p>
                    <div class="count">
                        <div class="subtract">-</div>
                        <div class="num">1</div>
                        <div class="plus">+</div>
                    </div>
                </div>
            </div>
        </div>
        <!--  按钮 -->
        <div class="btn">
            <div class="sure_btn hidden">确定</div>
            <div class="kucun_btn hidden">该商品没有库存</div>
            <div class="double_btn hidden">
                <div class="left">加入购物车</div>
                <div class="right">立即购买</div>
            </div>
        </div>
    </div>
    
    <!--  返回顶部 -->
    <img src="images/backtop.png" class="back_top hidden" alt="" />

<script type="text/javascript">
</script>
    <%= STATISTICS_SCRIPT %>
</body>
</html>