<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<meta name="format-detection" content="telephone=no">
<link rel="shortcut icon" href="/nggirl/h5/mobile/images/favicon.ico" />
<link rel="stylesheet" href="../cosmetic/css/newGoodsList.css" />
<script type="text/javascript" src="../cosmetic/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../cosmetic/js/md5.js"></script>
<script type="text/javascript" src="../cosmetic/js/params.js"></script>
<script type="text/javascript" src="../cosmetic/js/newGoodsList.js"></script>
<script>
	//声明_czc对象: 
	var _czc = _czc || []; 
	//绑定siteid，请用您的siteid替换下方"XXXXXXXX"部分
	 _czc.push(["_setAccount", "<%= CNZZ_STAT_CODE_ID %>"]);
</script>
</head>

</head>
<body>
	<div class="downLoad">
    	<img src="images/freetryclose.png" class="closeTip">
        <img src="images/newGoodsDownImg.png" class="imgDes">
        <span class="gtload">打开</span>
    </div>
    <div class="isWei hidden">
        <img src="<%=WEIXIN_GUIDE_BROWER_IMG%>" >
    </div>
    <div class="content">
    	<img src="images/goods_list_img_cover.png" class="cover" alt="" />
        <div class="content_title">
        	<div class="title_group">
            	<span>正品直销</span>
            	<span>限时抢购</span>
            	<span>随时断货</span>
            </div>
            <div class="line"></div>
        </div>
        <ul class="tui_ul"></ul>
        <ul class="goods_list_ul"></ul>
        <span class="pullUpIcon"></span>
    </div>
    <div class="btn_box">
    	<div class="btn">种草更多好物 尽在南瓜姑娘APP>></div>
    </div>

<script type="text/javascript">
</script>
    <%= STATISTICS_SCRIPT %>
</body>
</html>