<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="Keywords" content="<%= PAGE_KEYWORDS %>" />
	<meta name="Description" content="<%= PAGE_DESCRIPTION %>" />
	<title>投诉</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="black" name="apple-mobile-web-app-status-bar-style" />
	<meta content="telephone=no" name="format-detection" />
	<link rel="stylesheet" type="text/css" href="../cosmetic/css/order_com.css">
	<link rel="stylesheet" href="../cosmetic/css/styles.css" type="text/css">
	<script type="text/javascript" src="../cosmetic/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="../cosmetic/js/params.js"></script>
	<script type="text/javascript" src="../cosmetic/js/md5.js"></script>
	<script> 
	    //声明_czc对象: 
	    var _czc = _czc || []; 
	    //绑定siteid，请用您的siteid替换下方"XXXXXXXX"部分
	     _czc.push(["_setAccount", "<%= CNZZ_STAT_CODE_ID %>"]);
	</script>
</head>
<script type="text/javascript">
	$(function(){
		$('.complain_footer').click(function(){			
			if(strIsEmpty($('#reservationComplaint').val())){
				alert('您还没有输入投诉信息!');
				return;
			}
			
			$.ajax({//采用异步
				type: "post",
				url: '<%= CLI_HOST_API_URL %>/nggirl/app/cli/works/createComplaint',
				data: getFinalRequestObject({
					accessToken: getAccessToken(),
					reservationId: getParam('reservationId'),
					complaintContent: $('#reservationComplaint').val()
				}),
				dataType: "json",
				success: function(data){
					if(data.code == 0){
						alert('投诉提交成功，我们会尽快给您答复！');
						goBack();
					}else{
						alert('投诉提交失败');
					}				
				},
			});
		});
	});
</script>
<body>
    <!--搜索装束-->
    <div class="box">
        <div class="complain">
            <textarea id="reservationComplaint" placeholder="请输入投诉内容" style="height:200px;"></textarea>
        </div>
        <div class="complain_footer">
            <p>提交投诉</p>
        </div>
    </div>
    <script src="//s4.cnzz.com/z_stat.php?id=<%= CNZZ_STAT_CODE_ID %>&web_id=<%= CNZZ_STAT_CODE_WEB_ID %>" language="JavaScript"></script>
</body>
</html>