<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="Keywords" content="<%= PAGE_KEYWORDS %>" />
<meta name="Description" content="<%= PAGE_DESCRIPTION %>" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<meta name="format-detection" content="telephone=no">
<title>南瓜姑娘赚积分冲榜赢“乖萌玩偶”</title>
<link rel="shortcut icon" href="/nggirl/h5/mobile/images/favicon.ico">
<link rel="stylesheet" href="../cosmetic/css/pointsActive.css" type="text/css">
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="../cosmetic/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../cosmetic/js/params.js"></script>
<script type="text/javascript" src="../cosmetic/js/md5.js"></script>
<script type="text/javascript" src="../cosmetic/js/pointsActive.js"></script>
<script> 
	//声明_czc对象: 
	var _czc = _czc || []; 
	//绑定siteid，请用您的siteid替换下方"XXXXXXXX"部分
	 _czc.push(["_setAccount", "<%= CNZZ_STAT_CODE_ID %>"]);
</script>
</head>
<body >
	<div class="part1" status="0">
        <div class="banner">
            <img src="images/points/banner.jpg">
            <p class="hidden"></p>
        </div>
        <div class="rulerintro">
            <p class="">来南瓜姑娘赚积分、冲榜啦~<br/>活动期间新增积分前50的小公举，获得南瓜姑娘乖萌玩偶及精美好礼~</p>
        </div>
        <div class="rulerBtn">活动规则>></div>
        <div class="innercontent">
            <p class="innertit">活动规则</p>
            <div class="rulerdetail">
            <div class="rulerdetail2">
                <p> 1.活动时间：2016年9月14日—2016年9月28日；<br/>
                    2.中奖形式：在活动期间内，将用户所获得的新增积分进行排行（排行每5分钟更新一次），活动结束后，新增积分前50名的用户可以获得相应的礼品奖励，获得相同积分时，优先为先得到积分的用户提供奖品；<br/>
                    <span class="redColor">3.积分获取方式：每日签到、互动（喜欢/评论/收藏/点赞）；</span><br/>
                    4.奖品：<br/>
                    No.1-5 南瓜玩偶+南瓜周边礼包+Primera面膜／2片（随机）；<br/>
                    No.6-10 南瓜玩偶+南瓜周边礼包；<br/>
                    No.11-30 南瓜玩偶＋随机南瓜周边；<br/>
                    No.31-50 南瓜玩偶；<br/>
                    5.同一设备仅限一个账户参与活动，凡采用不正当手段，如：作弊、扰乱系统、实施网络攻击等进行刷分，一经发现，南瓜姑娘有权取消该账户参与资格，并对账户作冻结处理；<br/>
                    6.中奖说明：实物类奖品中奖后需填写收货地址，奖品包邮，请务必确保您的收货地址、联系电话正确有效且完整，奖品于2016.10.15前全部发出；<br/>
                    7.本次活动的最终解释权归北京旭洋群美科技有限公司所有。
                </p> 
                </div>
            </div>
        </div>
        <div class="prize">
            <p class="atit">活动奖品</p>
            <ul class="prizeflow clearfix">
                <li>
                    <img src="images/points/points1.png" id="0"><p>南瓜玩偶</p>
                </li>
                <li class="mrno"> 
                    <img src="images/points/points3.png" id="2"><p>Primera面膜</p>
                </li>
                 <li>
                    <img src="images/points/points2.jpg" id="1"><p>南瓜周边礼包</p>
                </li>
            </ul>
        </div>
        <div class="myRanking">
        	<div class="left">
                <span>新增积分：<b class="newPoints"></b></span>
            </div>
            <div class="right">
                <span>排名：<b class="ranking"></b></span>
            </div>
        </div>
        <div class="rankingList">
        	<p class="atit">新增积分榜单</p>
            <div class="nonePeo hidden">
            	<img src="images/points/nonePoints.png">
                <p>还没有人获得积分呢，<br/>抢先争取登上积分榜首吧~</p>
            </div>
            <div class="havePeo hidden">
            </div>
        </div>
        <div class="pointsBtn hidden" id="pointsBtn">ss</div>
    </div>
    <div class="guideTop hidden">
        <img src="images/guideTop.png" class="freeguideimg">
        <img src="images/freetryclose.png" class="freetryclose">
    </div>
    <div class="guide hidden">
     	<img src="<%=WEIXIN_GUIDE_BROWER_IMG%>" >
    </div>
     
    <div class="boxshadow"> </div>
    <div class="imgbox">
        <ul class="imgSingle">
        	<li></li>
        </ul>
    </div>
    <div class="result"> 
        <div class="getPrize"></div>
    </div>
<!--地址-->
     <div class="part2 hidden">
     	<div class="message">
            <div class="box box1">
                <label>收货人：</label><input type="text" placeholder="请输入收货人姓名">
            </div>
            <div class="box box2">
                <label>手机号码：</label><input type="tel" autocomplete="on" maxlength="11" placeholder="请输入收货人的联系电话">
            </div>
            <div class="box box3">
                <label>详细地址：</label><input type="text" placeholder="为了方便给您邮寄奖品请填写详细地址">
            </div>
        </div>
        <div class="mesbtn greyBtn">确认地址</div>
    </div>
    <script src="//s4.cnzz.com/z_stat.php?id=<%= CNZZ_STAT_CODE_ID %>&web_id=<%= CNZZ_STAT_CODE_WEB_ID %>" language="JavaScript"></script>
</body>
</html>
