<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="Keywords" content="<%= PAGE_KEYWORDS %>" />
<meta name="Description" content="<%= PAGE_DESCRIPTION %>" />
<meta name="viewport" content="user-scalable=no,initial-scale=1.0,maximum-scale=1.0,width=device-width">
<meta name="format-detection" content="telephone=no">
<link rel="shortcut icon" href="/nggirl/h5/mobile/images/favicon.ico" />
<link rel="stylesheet" href="../cosmetic/css/productDeatils.css" />
<title></title>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="../cosmetic/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../cosmetic/js/md5.js"></script>
<script type="text/javascript" src="../cosmetic/js/params.js"></script>
<script type="text/javascript" src="../cosmetic/js/productDeatils.js"></script>
<script>
	//声明_czc对象: 
	var _czc = _czc || []; 
	//绑定siteid，请用您的siteid替换下方"XXXXXXXX"部分
	 _czc.push(["_setAccount", "<%= CNZZ_STAT_CODE_ID %>"]);
</script>
</head>
<body>
	<div class="gray"></div>
	<div class="pd_box">
        <img alt="" class="pd_box_img" />
        <div class="pd_box_content">
        	<p class="pbc_title"></p>
            <div class="pbc_part01 pbc_part02">
            	<p class="pp_price">
                	<label for="" class="price">参考价：</label><span class="price_txt"></span>
                </p>
                <div class="pp_cao">长草</div>
            </div>
            <div class="pbc_part01">
            	<p class="pp_price">
                	<label for="" class="price">推荐度：</label>
                    <span class="recom_start"></span>
                </p>
                <div class="pp_num"><span></span>人已采集</div>
            </div>
        </div>
        <p class="pd_box_content_txt"></p>
        <ul class="pd_box_ul">
        	<li>
            	<div class="pbu_li">
                	<img class="pbu_li_img" alt="" />
                    <div class="pbu_li_txt">
                    	<div class="pbu_li_brand"></div>
                    	<div class="pbu_li_country"></div>
                    </div>
                    <div class="pbu_li_off">展开</div>
                </div>
                <div class="pbu_li_content"></div>
            </li>
        </ul>
        <div class="go_shopping">
        	<p><img src="images/che.png" class="che" alt="" /><span>打开APP</span></p>
        </div>
        <div class="isWei">
        	<img src="<%=WEIXIN_GUIDE_BROWER_IMG%>" >
        </div>
    </div>
    <!--  灰色背景 -->
    <div class="gray_window">
    	<img src="" alt="" />
    </div>
    <script src="//s4.cnzz.com/z_stat.php?id=<%= CNZZ_STAT_CODE_ID %>&web_id=<%= CNZZ_STAT_CODE_WEB_ID %>" language="JavaScript"></script>
</body>
</html>
