<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="Keywords" content="<%= PAGE_KEYWORDS %>" />
	<meta name="Description" content="<%= PAGE_DESCRIPTION %>" />
	<title>服务商圈</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="black" name="apple-mobile-web-app-status-bar-style" />
	<meta content="telephone=no" name="format-detection" />
	<link rel="stylesheet" type="text/css" href="../cosmetic/css/aboutmedetail.css">
	<link rel="stylesheet" type="text/css" href="../cosmetic/css/dropload.min.css">
    <link rel="stylesheet" type="text/css" href="../cosmetic/css/beautylist.css" type="text/css">
	<script type="text/javascript" src="../cosmetic/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="../cosmetic/js/jquery.lazyload.js"></script>
	<script type="text/javascript" src="../cosmetic/js/dropload.min.js"></script>
	<script type="text/javascript" src="../cosmetic/js/params.js"></script>
	<script type="text/javascript" src="../cosmetic/js/md5.js"></script>
    <script type="text/javascript" src="../cosmetic/js/TouchSlide.1.1.js"></script>
    <script type="text/javascript" src="../cosmetic/js/servicecircle.js"></script>
	<script> 
		//声明_czc对象: 
		var _czc = _czc || []; 
		//绑定siteid，请用您的siteid替换下方"XXXXXXXX"部分
		 _czc.push(["_setAccount", "<%= CNZZ_STAT_CODE_ID %>"]); 
	</script>

</head>
<body class="bg3">
	<div class="se_service">
    	<div class="se_top">
        	<ul>
            	<li class="areas">区域</li>
                <li>商圈</li>
            </ul>
        </div>
        <div class="se_main clearfix se_main1">
        	<div class="semain_left ">
            	<ul class=" clearfix"></ul>
            </div>
            <div class="semain_rightbox">
                <div class="semain_right">
                </div>
            </div>
        </div>
    </div>
<script src="//s4.cnzz.com/z_stat.php?id=<%= CNZZ_STAT_CODE_ID %>&web_id=<%= CNZZ_STAT_CODE_WEB_ID %>" language="JavaScript"></script>
</body>

</html>