.now_position{
	width: 100%;height: 24px;font-size: 14px;line-height: 24px;
}
.now_position_later{color: #D83C28}
.find_something{width: 100%;height: 40px;line-height: 40px;}
.find_something .evaluateManagement_input_one{
	height: 33px;display: inline-block;width: 120px;text-align: center;font-size: 16px;
}
.evaluateManagement_input_two{
	width: 160px;height: 24px;font-size: 16px;text-align: center;background: url(../images/time_01.png) no-repeat 140px 4px;
}
.find_something .my_search_first{
	background: #A6AAA9;width: 60px;height: 32px;text-align: center;color: #DEDFDA;font-size: 16px;cursor: pointer;
}
.find_something .all_cancel{
	width:72px;height: 33px;font-size: 16px;background: #A6AAA9;color: #DEDFDA;cursor: pointer;
}
.pingjia_shangxian{width: 98px;height: 32px;background: #A6AAA9;font-size: 16px;padding-left: 7px;}
.management_controller_sort{
	width: 100%;height: 44px;background: skyblue;position: relative;
}
.management_controller_checkout{width: 23px;height: 22px;margin: 8px 9px;}
.management_controller_shangxian .management_controller_xiaxian{width: 80px;height: 40px;}
.management_controller_evaluatePond{position: absolute;right: 0px;top: 3px;width: 136px;height: 38px;border-radius: 5px;background: #008937;color: #E2EFE8;}
.management_top_shuoming{width: 100%;height: 40px;line-height: 40px;background: #0063BB; overflow: hidden;display: flex;}
.management_top_shuoming li{height: 40px;line-height: 40px;padding: 0px 20px;float: left;flex: 1;text-align: center;}
.management_Summary_comment{width: 100%;height: auto;border: 1px solid black;border-top: none;}
.management_Summary_comment tr{display: flex;}
.management_Summary_comment tr td{flex: 1;text-align: center;margin-top: 1.4%;}
.management_Summary_comment_checkbox{width: 40px;height: 30px;display: inline-block;}
.management_Summary_comment_number{display: inline-block;width: 30px;height: 30px;line-height: 30px;text-align: center;font-size: 34px;color: black;}
.management_Summary_comment_time .management_Summary_comment_people .management_Summary_comment_mianmo{word-wrap:break-word;}

.management_tubiao_huifu{width: 30px;height: 30px;margin-left: 34px;}
.tupianSize{width: 30px;height: 30px;display: inline-block;}