<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="Keywords" content="<%= PAGE_KEYWORDS %>" />
<meta name="Description" content="<%= PAGE_DESCRIPTION %>" />
<title>首页_搜索结果</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<meta content="telephone=no" name="format-detection" />
<link rel="shortcut icon" href="/nggirl/h5/mobile/images/favicon.ico" />
<link rel="stylesheet" href="../cosmetic/css/indexSearchResult.css" />
<script type="text/javascript" src="../cosmetic/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../cosmetic/js/md5.js"></script>
<script type="text/javascript" src="../cosmetic/js/params.js"></script>
<script type="text/javascript" src="../cosmetic/js/TouchSlide.1.1.js"></script>
<script type="text/javascript" src="../cosmetic/js/indexSearchResult.js"></script>
<script> 
	//声明_czc对象: 
	var _czc = _czc || []; 
	//绑定siteid，请用您的siteid替换下方"XXXXXXXX"部分 
	_czc.push(["_setAccount", "<%= CNZZ_STAT_CODE_ID %>"]);
</script>
</head>
<body >
	<div class="search_box">
    	<img src="images/blue-arr-left.png" class="sb_left_arr" alt="" />
    	<input type="search" class="search" placeholder="搜索帖子、用户、商品" />
        <img src="images/index_close.png" class="sb_del" alt="" />
    </div>
    <div id="leftTabBox" class="tabBox">
    	<div class="tab_hd">
            <div class="hd">
                <ul>
                    <li class="tag"><p>帖子</p></li>
                    <li class="user"><p>用户</p></li>
                    <li class="commodity"><p>商品</p></li>
                </ul>
            </div>
        </div>
        <div class="bd" id="leftTabBox_db">
            <div class="tab_tag_content">
            	<div class="no_tag">
                	<img src="images/fangda.png" alt="" />
                    <p>没有匹配到搜索结果</p>
                </div>
                <ul class="tab_tag_tag"></ul>
            </div>
            <div class="tab_user_content">
            	<div class="no_user">
                	<img src="images/fangda.png" alt="" />
                    <p>没有匹配到搜索结果</p>
                </div>
                <ul class="tab_user"></ul>
            </div>
            <div class="tab_commodity_content">
            	<div class="no_commodity">
                	<img src="images/fangda.png" alt="" />
                    <p>没有匹配到搜索结果</p>
                </div>
                <ul class="tab_commodity"></ul>
            </div>
        </div>
    </div>
	<script type="text/javascript">
        TouchSlide({slideCell:"#leftTabBox"});
    </script>
    <script src="//s4.cnzz.com/z_stat.php?id=<%= CNZZ_STAT_CODE_ID %>&web_id=<%= CNZZ_STAT_CODE_WEB_ID %>" language="JavaScript"></script>
</body>
</html>