<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="Keywords" content="<%= PAGE_KEYWORDS %>" />
<meta name="Description" content="<%= PAGE_DESCRIPTION %>" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<meta name="format-detection" content="telephone=no">
<link rel="shortcut icon" href="/nggirl/h5/mobile/images/favicon.ico" />
<link rel="stylesheet" href="../cosmetic/css/myHomePage.css" />
<title></title>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="../cosmetic/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../cosmetic/js/md5.js"></script>
<script type="text/javascript" src="../cosmetic/js/params.js"></script>
<script type="text/javascript" src="../cosmetic/js/myHomePage.js"></script>
<script type="text/javascript" src="../cosmetic/js/jquery.lazyload.js"></script>
</head>

<body>
	<div class="custom_top">
	 	<div class="head_custom">
        	<div class="head_img"><img src="" alt=""/></div>
            <div class="head_attention"></div>
        </div>
        <p class="usermessage"><span class="username"></span><img src="" class="usersex" /><span class="level">LV0</span></p>
        <p class="userrole"></p>
    </div>
    <div class="myartical">
    	<h3>帖子</h3>
        <div class="box">
        	<div class="nonelist">
                <p class="nonetit"><span>TA</span>还没有发布的帖子哦</p>
                <p>
                	投稿做达人~<br>
                    如果你是这样的女生：<br>
                    对时尚有想法，对美妆有心得，<br/>
                    欢迎加入达人团!<br/>
                    投稿邮箱：xyqm@nggirl.com.cn<br/>
                    进阶达人身份，专享惊喜福利~
                </p>
            </div>
        	<ul class="conlumn_list clearfix"></ul>
        </div>
    </div>
    <script src="//s4.cnzz.com/z_stat.php?id=<%= CNZZ_STAT_CODE_ID %>&web_id=<%= CNZZ_STAT_CODE_WEB_ID %>" language="JavaScript"></script>
</body>
</html>
