<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="Keywords" content="<%= PAGE_KEYWORDS %>" />
	<meta name="Description" content="<%= PAGE_DESCRIPTION %>" />
	<title>评价</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="black" name="apple-mobile-web-app-status-bar-style" />
	<meta content="telephone=no" name="format-detection" />
	<link rel="stylesheet" type="text/css" href="../cosmetic/css/order_com.css">
	<link rel="stylesheet" href="../cosmetic/css/styles.css" type="text/css">
	<script type="text/javascript" src="../cosmetic/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="../cosmetic/js/params.js"></script>
	<script type="text/javascript" src="../cosmetic/js/md5.js"></script>
	<script type="text/javascript" src="../cosmetic/js/order_workDetails.js"></script>
	<script type="text/javascript" src="../cosmetic/js/jquery.ui.widget.js"></script>
	<script type="text/javascript" src="../cosmetic/js/jquery.iframe-transport.js"></script>
	<script type="text/javascript" src="../cosmetic/js/jquery.fileupload.js"></script>
</head>
<style type="text/css">
img{vertical-align:middle;}
a[title*="站长统计"]{ display:none;}
</style>
<body class="box1">

<div class="box ping">
	<div class="complain_con">
		<div class="complain">
			<textarea placeholder="请发表评价" style="height:100px; border-radius:0;"></textarea>
		</div>
		<div class="complain_btm">
			<div style="margin :0px auto;">
				<div class="complain_btm1">
					<input type="file"  name="file" id="doc"  style="width: 100px; height: 95px;position: absolute;margin-top: -20px;padding-left: 8px;-webkit-tap-highlight-color:rgba(255,255,255,0);" data-url="<%= PHOTOS_HOST_API_URL %>/uploadserver/app/image/uploads/3.0.0"/>
					<img src="images/work_xj.png" class="complain_tj" id="imgFile" type="file" class="file"/>
				</div>
				<div id="dd" style=" width:auto;">
					<div></div>
				</div>
			</div>
		</div>
		<div class="li_workDetails">
			<ul>
				<li class="comolain_title">化妆师评分 <p><img src="images/01-02.png"></p></li>
				<li>准时到达 
					<div class="evaluate onTimeEvaluation">
					    <input name="1" type="button" />
					    <input name="2" type="button" />
					    <input name="3" type="button" />
					    <input name="4" type="button" />
					    <input name="5" type="button" />
					</div><!--QuacorGrading end-->
				</li>
				<li>妆品一致<div class="evaluate descriptionEvaluation">
					    <input name="1" type="button" />
					    <input name="2" type="button" />
					    <input name="3" type="button" />
					    <input name="4" type="button" />
					    <input name="5" type="button" />
					</div><!--QuacorGrading end-->
				</li>
				<li>技法娴熟<div class="evaluate tecniqueEvaluation">
					    <input name="1" type="button" />
					    <input name="2" type="button" />
					    <input name="3" type="button" />
					    <input name="4" type="button" />
					    <input name="5" type="button" />
					</div><!--QuacorGrading end-->
				</li>
				<li>服务周到<div class="evaluate serviceEvaluation">
					    <input name="1" type="button" />
					    <input name="2" type="button" />
					    <input name="3" type="button" />
					    <input name="4" type="button" />
					    <input name="5" type="button" />
					</div><!--QuacorGrading end-->
				</li>
			</ul>
		</div>
	</div>
	<div class="complain_footer1">
		<p>完成评价</p>
	</div>
</div>
<style type="text/css">
	#dd img{
		border-radius:10px;
		float:left;
		margin-left:10px;
		width:80px;
		height: 80px;
		display:block;
	}
</style>
<script type="text/javascript">
/*==提交评价==*/
$(function(){
	/*====评价星级===*/
	$('.evaluate input').click(function(){
		$(this).parent().attr('num',$(this).attr('name'));
		$(this).parent().children().each(function(){
			if($(this).attr('name') <= $(this).parent().attr('num')){
				$(this).addClass('active');
			}
		});
	});

	$('#doc').fileupload({
		dataType: 'json',
		done: function (e, data) {
		var str = '<div style="float:left;margin-top:10px;"> <img class="imgs" src="';
		str += data.result.data.url;
		str += '" /></div>';
		$('#dd').prepend(str); 
		$('#dd').parent().append($('.complain_btm1'));
			return true;
		}
	});

	$(".complain_footer1").on('click',function(){
		var photospath = $('.imgs');
		
		var imgs = '';
		if(photospath.length>0){
			imgs = '[';
			for(var index =0; index < photospath.length; index++){
				var img = photospath[index];
				var path = "'"+$(img).attr('src')+"',";
			
				imgs = (imgs + path);
			}
			imgs = imgs.substring(0, imgs.length-1);
			imgs = imgs+']';
		}
		
		var onTimeE = $('.onTimeEvaluation .active').length;
		var descriptionE = $('.onTimeEvaluation .active').length;
		var tecniqueE = $('.tecniqueEvaluation .active').length;
		var serviceE = $('.serviceEvaluation .active').length;
		var evaluation = $('.complain textarea').val();
		//评价限制内容
		if($('.complain textarea').val() == ''){
			alert('请填写评价内容!!');	
		}else if($('.li_workDetails ul li .evaluate>.num') == 0){
			alert('请对化妆师评分！！')
		}else{
			$.ajax({//采用异步
				type: "post",
				url: '<%= CLI_HOST_API_URL %>/nggirl/app/cli/works/evaluate',
				data:getFinalRequestObject({accessToken: getAccessToken(), 
					reservationId: getParam('reservationId'),
					onTimeEvaluation: onTimeE,
					descriptionEvaluation: descriptionE,
					tecniqueEvaluation: tecniqueE,
					serviceEvaluation: serviceE,
					evaluation: evaluation,
					photos: imgs}),
					dataType:"json",
					success: function(data){
					console.log(data);
					var reservationId = getParam('reservationId');
					window.location.href="order_evaluate.html?reservationId="+reservationId+'&v=<%= VERSION %>';
				},
			});
		}
	});
})
</script>
<script src="//s4.cnzz.com/z_stat.php?id=<%= CNZZ_STAT_CODE_ID %>&web_id=<%= CNZZ_STAT_CODE_WEB_ID %>" language="JavaScript"></script>
</body>

</html>