<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="Keywords" content="<%= PAGE_KEYWORDS %>" />
	<meta name="Description" content="<%= PAGE_DESCRIPTION %>" />
	<title>化妆师</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="black" name="apple-mobile-web-app-status-bar-style" />
	<meta content="telephone=no" name="format-detection" />
	<link rel="stylesheet" type="text/css" href="../cosmetic/css/space.css">
	<link rel="stylesheet" type="text/css" href="../cosmetic/css/dropload.min.css">
    <link rel="stylesheet" type="text/css" href="../cosmetic/css/beautylist.css" >
    <script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script type="text/javascript" src="../cosmetic/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="../cosmetic/js/jquery.lazyload.js"></script>
	<script type="text/javascript" src="../cosmetic/js/dropload.min.js"></script>
	<script type="text/javascript" src="../cosmetic/js/params.js"></script>
	<script type="text/javascript" src="../cosmetic/js/md5.js"></script>
    <script type="text/javascript" src="../cosmetic/js/TouchSlide.1.1.js"></script>
    <script type="text/javascript" src="../cosmetic/js/space.js"></script>
    <script> 
	//声明_czc对象: 
	var _czc = _czc || []; 
	//绑定siteid，请用您的siteid替换下方"XXXXXXXX"部分
	 _czc.push(["_setAccount", "<%= CNZZ_STAT_CODE_ID %>"]);
	</script>

<style type="text/css">
	/*  返回首页logo */
	.return-index{ width:35px; height:35px; position:fixed; z-index:1; background:#000 url(images/return-index.png) no-repeat 50%; background-size:50%; border-radius:50%; right:2%; top:80%; border:1px solid #ccc; opacity:.3;}
	.s_btn{ margin-top:10px !important;}
	#s_btn1{margin-top:0 !important;}
	a[title*="站长统计"]{ display:none;}
</style>
</head>
<body class="bg4">
	
    <a href="home_page.html?v=<%= VERSION %>" class="return-index"></a>
    <div class="box">
        <div class="head_w">
        	<div class="head"><img src="" alt=""/></div>
            <div class="upheader">
            </div>
        </div>
        <!--main开始-->
        <div class="tabBoxs inner "id="tabBox1">
        	<div class="booklist hd clearfix">
            	<ul class="clearfix">
                	<li><p>上门美妆</p></li>
                    <li><p>服务实拍</p></li>
                    <li><p>美妆沙龙</p></li>
                </ul>
            </div>
            <div class="bd lists " id="tabBox1-bd">
                <div class="con">
                	<ul class="center clearfix">
                    	
                    </ul>
                </div>
                <div class="con">
                	<ul class="center1 clearfix">
                    </ul>
                </div>
                <div class="con">
                	<ul class="center2"></ul>
                </div>
            </div>
        </div>
    </div>
   <script src="//s4.cnzz.com/z_stat.php?id=<%= CNZZ_STAT_CODE_ID %>&web_id=<%= CNZZ_STAT_CODE_WEB_ID %>" language="JavaScript"></script>
</body>

</html>