@charset "utf-8";
/* CSS Document */
*{ margin: 0; padding: 0; border: 0; font-size: 100%; font-style: normal; list-style-type:none;  font:inherit; vertical-align: baseline;cursor:pointer; -webkit-tap-highlight-color: transparent;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.hidden{ display:none;}
body {line-height:1;color:#555;font-size:12px; font-family:"微软雅黑"; background-color: #f0f5f5; word-break:break-all;}
.beautylist { width:100%;  background:#fff; border-bottom:#dcdcdc solid 1px;}
.beautylist li{ width:50%; float:left; list-style-type:none; text-align:center; font-size:14px; color:#3a3a3a; padding: 7px 0;}
.beautylist li p{ height: 30px; line-height: 30px;}
.beautylist li.on{ color:#EE750C;}
.beautylist .beau p{ border-right: #dcdcdc solid 1px;box-sizing: border-box;}
.banner1 img{ display: block; width:100%; padding:20px 0;}
#slideBox {display:block; width:100%; }
#slideBox .hd1 ul li img{ width:100%; text-align: center; margin:20px auto;}
#slideBox .bd1 ul li{ position:absolute; opacity:0; height:.6rem; width:.6rem; border-radius:100px; background:#e8e6e6; float:left; margin:0 5px; overflow:hidden; line-height:100px;}

#tabBox1-bd .con ul .banner{ margin:7px; background-color: #fff; border-radius: 5px;}
#tabBox1-bd .con ul .intro,.success{ margin:7px; padding:20px;background-color: #fff; border-radius: 5px;}
#tabBox1-bd .con ul .intro h3{ font-size: 20px; text-align: center; padding-bottom: 20px; color: #EE750C;}
#tabBox1-bd .con ul .intro p.desc{ font-size: 12px; line-height: 20px; padding-bottom: 20px; color: #9a9a9a;}
#tabBox1-bd .con ul .intro p.introbot{ font-size: 11px; color: #3a3a3a;}
#tabBox1-bd .con ul .intro p.introbot span.right{ display: inline-block; float: right;}
#tabBox1-bd .con ul .selfmessage { background-color: #fff;padding-bottom: 15px; }
#tabBox1-bd .con ul .selfmessage .title{ font-size: 12px; color: #fff; line-height: 18px; padding:4px 28px 4px 24px; background-color: #ffb27d;}
#tabBox1-bd .con ul .selfmessage .title p{ text-indent: 12px; }
#tabBox1-bd .con ul .selfmessage .message{ margin-left: 15px; }
#tabBox1-bd .con ul .selfmessage .message p{ font-size:14px; color:#3a3a3a;padding:0 20px 0 0;height: 50px; line-height: 50px; border-bottom:#f6f7f7 solid 2px;}
#tabBox1-bd .con ul .selfmessage .message input.type{ float: right; text-align: right;font-size:12px; color: #4c4c4c; height:20px; line-height:20px; padding-top:15px; outline:none;}
#tabBox1-bd .con ul .selfmessage .message span{ float: right; text-align: right; }
#tabBox1-bd .con ul .selfmessage .message i{ font-size:12px;}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder,#tabBox1-bd .con ul .selfmessage .message span b{ font-size:12px;color: #9a9a9a;}
#tabBox1-bd .con ul .selfmessage .message .beizhu{ resize:none; outline:none; font-size: 12px; color: #4c4c4c; height: 90px; width: 100%; line-height: 17px; padding:20px 20px 20px 5px; box-sizing:border-box; border-bottom:#f6f7f7 solid 2px;}
#tabBox1-bd .con ul .selfmessage .tijiao{ text-align: center; margin:15px auto 0; width:180px; height: 45px; line-height: 45px; font-size: 18px; color: #fff; background-color: #ffb27d; border-radius: 5px;}
#tabBox1-bd .con ul .bottom{ background: #fff; margin-top:7px;}
#tabBox1-bd .con ul .bottom p{ line-height: 1; padding:20px 20px 0;} 
#tabBox1-bd .con ul .bottom img{ width: 33%; margin:30px auto 15px; text-align: center;    display: block; }
#tabBox1-bd .con ul .guanzhu{ text-align: center; padding-bottom: 20px; font-size: 14px; color: #9a9a9a;}
a[title*="站长统计"]{ display:none;}
.ot-date{ width:73px; font-size:12px;}
.success{ display: none;}
.success .successTop{ font-size: 14px; color: #EE750C; line-height: 20px;}
.success .touchTit{padding:20px 0; font-size: 14px; color: #4c4c4c;}
.success  .touchWay{font-size: 13px; color: #4c4c4c; line-height: 1; padding-bottom: 15px;}
.successBottom p{ margin-top:5px; font-size: 14px; color: #4c4c4c;}
.successBottom img{width: 39%; display: block; text-align: center;; margin: 60px auto 20px;}
.successBottom .guanzhu{  font-size: 14px; padding-bottom: 28px; color: #9a9a9a; text-align: center;}
.tushiBox{display:none;  width:100px; height: 40px; position: fixed; top:235px; left:50%; margin-left: -50px; line-height: 40px; background-color: #3a3a3a; color: #fff; text-align: center; border-radius: 5px;}
.opbg{ display:none; width:100%; height:100%; background:#000; opacity:.5; position:fixed; top:0; left:0;   z-index:19;}
.typeBottom{ display: none;}
.typeBottom ul{ position:fixed; bottom:0; left:0; z-index:20;width:100%; background-color: #fff; list-style-type: none;}
.typeBottom li{ height: 50px; line-height: 50px; text-align: center;  border-bottom:#f6f7f7 solid 2px; margin:0 20px;font-size: 16px; color: #3a3a3a;}
.typeBottom ul li:first-child{ color: #EE750C;}
/*选择省份*/
.title-btn-arr{ height:50px; line-height:50px; text-align:center; background:#fff; border-bottom:2px solid #e7e7e7; color:#3a3a3a; font-size:1.14rem;}
.title-btn-arr img{ float:left; width:14px; margin: 15px 0 0 15px; position:relative; z-index:1;}
.tba_title{ width:100%; position:absolute; left:0px; font-size:16px; color:#3a3a3a;}
.tba_ok{ float:right; font-size:13px; color:#4c4c4c; margin-right:15px; position:relative; z-index:1;}
.address_double{ width:100%; height:40px; border-bottom:1px solid #e2e2e2;}
.address_double .ad_right,.address_double .ad_left{ float:left; height:40px; line-height:40px; font-size:16px; color:#3a3a3a; width:49.5%; text-align:center;}
.address_double .ad_left{ border-right:1px solid #e2e2e2;}
.address_content{ padding:7px; width:100%; box-sizing:border-box;}
.ac_content_left,.ac_content_right{ width:50%; float:left; background:#fff; border-radius:5px 0 0 5px;}
.ac_content_left{ background:#ffc7a0; }
.ac_content{box-shadow: 0 2px 6px rgba(0,0,0,.3); border-radius:5px; overflow: hidden;}
.ac_content ul li{  display:block;line-height:40px; padding-left: 20px; box-sizing: border-box; font-size:14px; color:#4c4c4c;}
.sheng .current_sheng{ background:#fff; color:#ee750c; position:relative;}
.sheng .current_sheng:before{ content:''; display:inline-block; width:4px; height:40px; position:absolute; left:0px; background:#ee750c;}
.shi .current_shi{ color:#ee750c;}
.sheng,.shi{ overflow:scroll;}
.tba_ok_blue{ color:#ee750c;}
::-webkit-scrollbar {
    width: 1px;
} 
/* Track */
::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);*/ 
    -webkit-border-radius: 0;
    border-radius: 0;
}
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    background:none; 
    /*-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.5); */
}
::-webkit-scrollbar-thumb:window-inactive {
	background: none; 
}
.box_area{ display:none; background:#fff;}