<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="Keywords" content="<%= PAGE_KEYWORDS %>" />
<meta name="Description" content="<%= PAGE_DESCRIPTION %>" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
<title>美妆沙龙-定位</title>
<link rel="stylesheet" href="//cache.amap.com/lbs/static/main1119.css"/>
<link rel="shortcut icon" href="/nggirl/h5/mobile/images/favicon.ico" />
<style type="text/css">
#panel {display:none;}
a[title*="站长统计"]{ display:none;}
</style>
<script type="text/javascript" src="../cosmetic/js/md5.js"></script>
<script type="text/javascript" src="../cosmetic/js/params.js"></script>
<script type="text/javascript" src="//webapi.amap.com/maps?v=1.3&key=321841e104684531ec3f880aeec12f17"></script>
<script type="text/javascript" src="//cache.amap.com/lbs/static/addToolbar.js"></script>
<script> 
    //声明_czc对象: 
    var _czc = _czc || []; 
    //绑定siteid，请用您的siteid替换下方"XXXXXXXX"部分
     _czc.push(["_setAccount", "<%= CNZZ_STAT_CODE_ID %>"]);
</script>
</head>
<body>
<div id="container"></div>
<div id="panel"></div>
<script type="text/javascript">
    var map = new AMap.Map("container", {
        resizeEnable: true
    });
    AMap.service(["AMap.PlaceSearch"], function() {
        var placeSearch = new AMap.PlaceSearch({ //构造地点查询类
            pageSize: 5,
            city: "010", //城市
            map: map,
            panel: "panel"
        });
        //关键字查询
        placeSearch.search(getParam('location'));
    });
</script>
<%= STATISTICS_SCRIPT %>
</body>
</html>