<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="Keywords" content="<%= PAGE_KEYWORDS %>" />
<meta name="Description" content="<%= PAGE_DESCRIPTION %>" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<meta name="format-detection" content="telephone=no">
<title></title>
<link rel="shortcut icon" href="/nggirl/h5/mobile/images/favicon.ico">
<link rel="stylesheet" href="../cosmetic/css/freeTrial.css" type="text/css">
<link rel="stylesheet" href="../cosmetic/css/applyForTrial.css" />
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="../cosmetic/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../cosmetic/js/params.js"></script>
<script type="text/javascript" src="../cosmetic/js/md5.js"></script>
<script type="text/javascript" src="../cosmetic/js/freeTrial.js"></script>
<script type="text/javascript" src="../cosmetic/js/applyForTrial.js"></script>
<script> 
	//声明_czc对象: 
	var _czc = _czc || []; 
	//绑定siteid，请用您的siteid替换下方"XXXXXXXX"部分
	 _czc.push(["_setAccount", "<%= CNZZ_STAT_CODE_ID %>"]);
 </script>

<STYLE type=text/css>
::-webkit-scrollbar {
    width: 1px;
} 
/* Track */
::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);*/ 
    -webkit-border-radius: 0;
    border-radius: 0;
}
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: rgba(80,200,180,1); 
    /*-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.5); */
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(80,200,180,1); 
}
</STYLE> 

</head>

<body >
	<div class="part1" status="0">
    	
        <div class="activeDetail"> </div>
        <div class="freeflow">
            <p class="ftit">免费试用流程<span class="rules">详细规则>></span></p>
            <ul class="flow clearfix">
                <li>
                    <img src="images/shenqing.png" class="firstimg"><p>申请试用</p>
                </li>
                <li>
                    <img src="images/jiantou.png">
                </li>
                <li>
                    <img src="images/mingdan.png" class="secondimg"><p>公布名单</p>
                </li>
                <li>
                    <img src="images/jiantou.png" class="thirdimg">
                </li>
                <li>
                    <img src="images/shiyong.png"><p>收取试用</p>
                </li>
            </ul>
        </div>
        <div class="intro">
            <p class="introtit">活动介绍</p>
        </div>
        <div class="applynum">
            <p class="applytit">申请名单</p>
            <div class="nomessage">
                <p>还木有人申请</p>
                <p>快来抢占名额吧~</p>
            </div>
            <ul class="applylist clearfix"></ul>
            <div class="waitresult hidden">
            	<p>公布名单正在赶来的路上，尽请期待！</p>
            </div>
        </div>
        <div class="message">
            <p class="messagetit">申请留言</p>
            <div class="nomessage">
                <p>还木有人申请</p>
                <p>快来抢占名额吧~</p>
            </div>
            
        </div>
        <div class="applybtn" id="applybtn"></div>
       
        
     </div>
     <div class="guideTop hidden"><img src="images/close.png" class="freetryclose"><img src="images/downLoad.png" class="imgDes"><span class="freeguideimg">打开</span></div>
    <!-- <div class="guideTop hidden">
         <img src="images/guideTop.png" class="freeguideimg">
         <img src="images/freetryclose.png" class="freetryclose">
     </div>-->
     <div class="guide hidden">
     	<img src="<%=WEIXIN_GUIDE_BROWER_IMG%>" >
     </div>
     
      <div class="boxshadow"> </div>
        <div class="innercontent">
            <p class="innertit">详细规则</p>
            <div class="rulerdetail">
            <div class="rulerdetail2">
                <p>1.所有用户均可免费申请试用，申请成功后无需支付任何费用（包含邮费）；</p>
                <p>2.报名期间点击“申请试用”按钮，填写并成功提交申请表，就有机会免费获得试用妆品；注：不填写完整收件地址将自动取消申请资格；</p>
                <p>3.申请成功后，系统会通过手机短信的方式通知中奖用户，用户也可登录App查询；</p> 
                <p>4.收到试用妆品后，请用户需在规定的时间内提交真实、原创试用报告，逾期未提交者将被拉入黑名单，试用妆品无需返还；</p> 
                <p>5.优质的试用报告可提升下次申请成功几率，不合要求的试用报告将被限制或失去之后试用活动的申请资格；</p> 
                <p>6.用户需参与本次免费试用时提交的所有文字图片等内容，版权归南瓜姑娘所有；</p> 
                <p>7.本次活动最终解释权归北京旭洋群美科技有限公司所有。</p> 
                </div>
            </div>
        </div>
     <div class="part2 hidden">
        <div class="allmessage"><div class="messagesall clearfix"></div></div>
        <div class="mesbtn">返回首页</div>
    </div>
    
<!--  申请试用 -->
	<div class="apply_for_trial hidden">
        <div class="box">
            <div class="apply_person_message">
                <div class="apm_title">
                    <p class="at_title">申请人信息</p>
                </div>
                <div class="apm_name">
                    <p class="an_name"><img src="images/applyForTrail_no_xing.png" alt="" />姓名</p>
                    <input type="text" placeholder="请填写申请人姓名" class="an_name_input" />
                </div>
                <div class="apm_sex">
                    <p class="as_sex">性别</p>
                    <div class="as_right">
                        <span class="ar_nv" sel="on" sex='1'>
                            女
                            <img src="images/applyForTrail_no_selected.png" alt="" class="select_circle"/>
                        </span>
                        <span class="ar_nan" sel="off" sex='0'>
                            男
                            <img src="images/applyForTrail_no_select.png" alt="" class="select_circle"/>
                        </span>
                    </div>
                </div>
                <div class="apm_sex">
                    <p class="an_age">年龄</p>
                    <input type="tel" placeholder="请输入年龄" maxlength="2" class="an_age_input" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" />
                </div>
                <div class="apm_name">
                    <p class="an_name"><img src="images/applyForTrail_no_xing.png" alt="" />电话</p>
                    <input type="tel" placeholder="请填写收件人手机号" class="an_tel_input" />
                </div>
                <div class="apm_name weixin">
                    <p class="an_name"><img src="images/applyForTrail_no_xing.png" alt="" />微信</p>
                    <input type="text" placeholder="请输入微信号" class="an_weixin_input" />
                </div>
            </div>
            <div class="apply_person_skin">
                <div class="apm_title">
                    <p class="at_title">肤质</p>
                </div>
                <div class="skin_type">
                    <span class="blue">干性</span><span>油性</span><span>中性</span><span>混合偏干</span><span>混合偏油</span>
                </div>
            </div>
            <div class="apply_person_address">
                <div class="apm_title">
                    <p class="at_title"> * 收货地址</p>
                </div>
				<div class="emoji-wysiwyg-editor form-control apd" data-placeholder="为了您能够收到试用妆品，请填写详细地址" id="address" data-id="b8a3e9fa-d894-44b1-af80-091f2f555586" data-type="input"  contenteditable="true" >为了您能够收到试用妆品，请填写详细地址</div>
            </div>
            <div class="apply_person_yan">
                <div class="apm_title">
                    <p class="at_title">申请留言</p>
                </div>
				<div class="emoji-wysiwyg-editor form-control liuyan" id="liuyan" data-id="b8a3e9fa-d894-44b1-af80-091f2f555586" data-type="input"  contenteditable="true" onpaste="return false">申请的留言内容更精彩，<br>获得试用资格的机会更大哦~</div>
            </div>
        </div>
        <div class="btn_submit">提交申请</div>
    </div>
    
    <!--  弹框 -->
    <div class="gray_btn_double">
        <div class="integral_window">
        	<p class="iw_title">提示信息</p>
            <div class="iw_content">确认提交申请</div>
            <div class="integral_btn">
            	<div class="btn_left">取消</div>
            	<div class="btn_right">确认</div>
            </div>
        </div>
    </div>
    
    
<!--  申请成功 -->
	<div class="apply_for_success">
        <div class="box_success">
            <div class="box_content">
                <img src="" class="cover" alt="" />
                <div class="free_trial">免费试</div>
                <p class="bc_content"></p>
                <p class="bc_status">您已完成申请，请耐心等待名单公布！随手分享可提升申请成功几率哦！</p>
            </div>
        </div>
        <div class="btn">
            <div class="return_details">返回首页</div>
            <div class="return_applay_details">查看申请详情</div>
        </div>
    </div>
    
<!-- 申请详情 -->
    <div class="apply_for_details">
        <div class="box_details">
            <div class="box_content">
                <img src="" class="cover" alt="" />
                <div class="apply_status"></div>
                <div class="free_trial">免费试</div>
                <p class="bc_content"></p>
                <p class="bc_time">
                    申请时间：<span class="time"></span>
                </p>
                <p class="bc_status"></p>
            </div>
        </div>
        <div class="return_details_ok">返回首页</div>
    </div>
    <%= STATISTICS_SCRIPT %>
</body>
</html>
