<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="Keywords" content="<%= PAGE_KEYWORDS %>" />
<meta name="Description" content="<%= PAGE_DESCRIPTION %>" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<meta name="format-detection" content="telephone=no">
<link rel="shortcut icon" href="/nggirl/h5/mobile/images/favicon.ico" />
<link rel="stylesheet" href="../cosmetic/css/myHomePage.css" />
<title></title>
<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="../cosmetic/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../cosmetic/js/md5.js"></script>
<script type="text/javascript" src="../cosmetic/js/params.js"></script>
<script type="text/javascript" src="../cosmetic/js/myHomePage.js"></script>
<script type="text/javascript" src="../cosmetic/js/TouchSlide.1.1.js"></script>
<script> 
    //声明_czc对象: 
    var _czc = _czc || []; 
    //绑定siteid，请用您的siteid替换下方"XXXXXXXX"部分
     _czc.push(["_setAccount", "<%= CNZZ_STAT_CODE_ID %>"]);
</script>

</head>

<body>
	<div class="custom_top">
		<span class="attention_btn"></span>
		<img src="images/default.jpg" class="back_img">
	 	<div class="head_custom">
        	<div class="head_img"><img src="" alt=""/></div>
        </div>
        <p class="usermessage">
        	<span class="username"></span>
            <img src="" class="usersex" />
            <span class="desc_message"></span>
            <span class="another_message">
            	<span class="fen_num"></span> |
            	<span class="atten_num"></span>
            </span>
        </p>
    </div>
    <div class="gray_hr"></div>
    <div id="leftTabBox" class="tabBox">
    	<div class="tab_hd">
            <div class="hd">
                <ul>
                    <li class="shou_no"><p>帖子</p></li>
                    <li class="shou_no"><p>赞</p></li>
                    <li class="shou_no"><p>长草</p></li>
                </ul>
            </div>
        </div>
        <div class="bd" id="leftTabBox_db">
            <div class="con">
            	<div class="no_cao tab_shou_ok">
                	<img src="images/orange_tie.png" alt="" />
                    <p>还没有帖子哦</p>
                </div>
                <ul class="tab_tie_ok"></ul>
            </div>
            <div class="con">
            	<div class="no_cao tab_zan_no">
                	<img src="images/orange_tie.png" alt="" />
                    <p>还没有帖子哦</p>
                </div>
                <ul class="tab_tie_zan"></ul>
            </div>
            <div class="con">
            	<div class="no_cao tab_cao_no">
                	<img src="images/orange_tie.png" alt="" />
                    <p>还没有商品哦</p>
                </div>
                <ul class="tab_tie_cao"></ul>
            </div>
        </div>
    </div>
    <%= STATISTICS_SCRIPT %>
    <script type="text/javascript">
    	TouchSlide({slideCell:"#leftTabBox"});
    </script>
</body>
</html>
