/* common css star */
input:disabled{
	color: #fff;
}

.pr20{
	padding-right: 20px!important;
}

.border-1px {
    position: relative
}

.border-1px:before {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ffffff;
    content: " ";
}

@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5) {
    .border-1px:before {
        -webkit-transform: scaleY(0.7);
        transform: scaleY(0.7);
    }
}

@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2) {
    .border-1px:before {
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
    }
}

.border-none:before {
    display: none;
}

.arrow {
    position: absolute;
    width: 5px;
    height: 5px;
    border-bottom: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    transform: rotate(-45deg);
}

#wrapper {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.error-msg {
    display: none;
    position: absolute;
    top: 35%;
    left: 50%;
    margin-left: -150px;
    padding: 6px;
    width: 300px;
    line-height: 30px;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 101;
    /*transform: scale(0);*/
    /*-webkit-transform: scale(0);*/
    /*transform-origin: 50% 80%;*/
    /*transition: all .5s;*/
}

.error-msg.active {
    display: block;
    /*transform: scale(1);*/
    /*-webkit-transform: scale(1);*/
}

.w80 {
    width: 80px !important;
}

.clearFiex {
    zoom: 1;
}

.clearFiex:after {
    content: '';
    display: block;
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

/* common css end */
/* loading s */
.mask {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    _position: absolute;
    _top: expression(document.documentElement.scrollTop+document.documentElement.clientHeight/2-this.clientHeight/2);
    _left: expression(document.documentElement.clientWidth/2-this.clientWidth/2);
    background-color: #000;
    opacity: 0.2;
    filter: alpha(opacity=0.2);
    z-index: 999;
    display: none;
}

.mask-transparent {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    _position: absolute;
    _top: expression(document.documentElement.scrollTop+document.documentElement.clientHeight/2-this.clientHeight/2);
    _left: expression(document.documentElement.clientWidth/2-this.clientWidth/2);
    background-color: #000;
    opacity: 00;
    filter: alpha(opacity=0);
    z-index: 999;
    display: none;
}

.loader {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -0.6rem;
    z-index: 10000;
}

@-webkit-keyframes ball-spin-fade-loader {
    50% {
        opacity: 0.3;
        -webkit-transform: scale(0.4);
        transform: scale(0.4);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes ball-spin-fade-loader {
    50% {
        opacity: 0.3;
        -webkit-transform: scale(0.4);
        transform: scale(0.4);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.ball-spin-fade-loader {
    position: relative;
}

.ball-spin-fade-loader > div:nth-child(1) {
    top: 25px;
    left: 0;
    -webkit-animation: ball-spin-fade-loader 1s 0s infinite linear;
    animation: ball-spin-fade-loader 1s 0s infinite linear;
}

.ball-spin-fade-loader > div:nth-child(2) {
    top: 17.04545px;
    left: 17.04545px;
    -webkit-animation: ball-spin-fade-loader 1s 0.12s infinite linear;
    animation: ball-spin-fade-loader 1s 0.12s infinite linear;
}

.ball-spin-fade-loader > div:nth-child(3) {
    top: 0;
    left: 25px;
    -webkit-animation: ball-spin-fade-loader 1s 0.24s infinite linear;
    animation: ball-spin-fade-loader 1s 0.24s infinite linear;
}

.ball-spin-fade-loader > div:nth-child(4) {
    top: -17.04545px;
    left: 17.04545px;
    -webkit-animation: ball-spin-fade-loader 1s 0.36s infinite linear;
    animation: ball-spin-fade-loader 1s 0.36s infinite linear;
}

.ball-spin-fade-loader > div:nth-child(5) {
    top: -25px;
    left: 0;
    -webkit-animation: ball-spin-fade-loader 1s 0.48s infinite linear;
    animation: ball-spin-fade-loader 1s 0.48s infinite linear;
}

.ball-spin-fade-loader > div:nth-child(6) {
    top: -17.04545px;
    left: -17.04545px;
    -webkit-animation: ball-spin-fade-loader 1s 0.6s infinite linear;
    animation: ball-spin-fade-loader 1s 0.6s infinite linear;
}

.ball-spin-fade-loader > div:nth-child(7) {
    top: 0;
    left: -25px;
    -webkit-animation: ball-spin-fade-loader 1s 0.72s infinite linear;
    animation: ball-spin-fade-loader 1s 0.72s infinite linear;
}

.ball-spin-fade-loader > div:nth-child(8) {
    top: 17.04545px;
    left: -17.04545px;
    -webkit-animation: ball-spin-fade-loader 1s 0.84s infinite linear;
    animation: ball-spin-fade-loader 1s 0.84s infinite linear;
}

.ball-spin-fade-loader > div {
    background-color: #f1831e;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 2px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
}

/* loading e */

/* ticket loading star */
.ticket-loading {
	display: none;
    position: absolute;
    top: 205px;
    left: 50%;
    margin-left: -95px;
    width: 190px;
    height: 133px;
    border-radius: 4px;
    background-color: #fff;
    text-align: center;
    z-index: 999;
}

.ticket-loading .loading-img {
    margin: 25px auto 0;
    width: 86px;
    height: 60px;
}

.ticket-loading .text {
    margin-top: 9px;
    font-size: 14px;
    color: #666;
}

.ticket-loading .text span {
    opacity: 0;
}

.ticket-loading .text span:nth-of-type(1) {
    -webkit-animation: ticket-loading-loader1 .5s infinite alternate linear;
    animation: ticket-loading-loader1 .5s infinite alternate linear;
}

.ticket-loading .text span:nth-of-type(2) {
    -webkit-animation: ticket-loading-loader2 .5s infinite alternate linear;
    animation: ticket-loading-loader2 .5s infinite alternate linear;
}

.ticket-loading .text span:nth-of-type(3) {
    -webkit-animation: ticket-loading-loader3 .5s infinite alternate linear;
    animation: ticket-loading-loader3 .5s infinite alternate linear;
}

@keyframes ticket-loading-loader1 {
    0% {
        opacity: 0;
    }
    33% {
        opacity: 1;
    }
    66% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes ticket-loading-loader2 {
    0% {
        opacity: 0;
    }
    33% {
        opacity: 0;
    }
    66% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes ticket-loading-loader3 {
    0% {
        opacity: 0;
    }
    33% {
        opacity: 0;
    }
    66% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* ticket loading end */

/* ticket star */
.speed {
    position: relative;
    margin-bottom: 62px;
    height: 88px;
    width: 100%;
    background: -webkit-linear-gradient(left, #1A71FF , #1299F9);
    background: linear-gradient(left, #1A71FF , #1299F9);
}

.speed .img {
    position: relative;
    /* left: 50%; */
    /* margin-left: -187px; */
    top: 13px;
    /* width: 100%;
    height: 121px; */
}
.speed img{
	margin: 0 auto;
}

@media only screen and (max-width: 320px) {
    .speed .img {
        /* margin-left: -159px;
        width: 318px;
        height: 103px; */
        top: 22px
    }
}

.ticket-wrapper {
    padding: 10px 0 44px;
    width: 100%;
    height: 420px;
    -webkit-touch-callout: none;
}

/*@media only screen and (max-width: 320px) {*/
/*.tb-ticket-wrapper {*/
/*height: 380px;*/
/*}*/
/*}*/

.ticket-wrapper .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    border: 1px solid #979797;
    background-color: #d8d8d8;
    border-radius: 4px;
    transition: all .5s;
}

.ticket-wrapper .swiper-pagination-bullet-active {
    width: 17px;
    border-color: #0f90f9;
    background-color: #0f90f9;
}

.ticket-wrapper .ticket-list {

}

.ticket-wrapper .ticket-list .block {
    width: 80%;
    border-radius: 5px;
    background-color: rgba(15, 144, 249, 0.50);
    transition: all .5s;
    -webkit-transition: all .5s;
    transform: scale(.88);
    -webkit-transform: scale(.88);
}

.ticket-wrapper .ticket-list .swiper-slide-active {
    -webkit-box-shadow: 0 0 10px #bbd6fb;
    -moz-box-shadow: 0 0 10px #bbd6fb;
    box-shadow: 0 0 10px #bbd6fb;
    transform: scale(1);
    -webkit-transform: scale(1);
    background-color: #0f90f9;
}

.ticket-wrapper .ticket-list .ticket-item {
    padding: 0 26px;
}

.ticket-list .ticket-item .forget-pwd {
    position: absolute;
    right: 26px;
    bottom: 49px;
    line-height: 16px;
    font-size: 12px;
    color: #ffffff;
}

.ticket-item h2 {
    margin-top: 23px;
    line-height: 20px;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
}

.ticket-item .ipt-wrapper {
    margin-top: 15px;
}

.ticket-list .tips-msg {
    position: relative;
    padding-left: 18px;
    margin-top: 22px;
}

.ticket-list .tips-msg .img {
    position: absolute;
    left: 0;
    top: 3px;
    width: 15px;
    height: 15px;
    /*background: url("../images/auz/tips@2x.png") no-repeat;*/
    /*background-size: cover;*/
}

@media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3) {
    .ticket-list .tips-msg .img {
        
    }
}

.ticket-list .tips-msg .text {
    line-height: 20px;
    font-size: 12px;
    color: #FFFFFF;
}

.ticket-item .ipt-wrapper .ipt-item {
    margin-top: 15px;
    padding: 5px 0 5px;
    line-height: 30px;
    font-size: 0;
}

.ticket-item .ipt-wrapper .ipt-item .text {
    display: inline-block;
    width: 60px;
    font-size: 14px;
    color: #ffffff;
}

.ticket-item .ipt-wrapper .ipt-item .get-mobile-code {
    font-size: 14px;
    color: #ffe373;
}

.ticket-item .ipt-wrapper .ipt-item .get-mobile-code.active {
    color: #ddd;
}

.ticket-item .ipt-wrapper .ipt-item .title {
    position: absolute;
    /*top: -14px;*/
    /*left: 14px;*/
    bottom: 5px;
    right: 0;
    padding-right: 20px;
    width: 120px;
    font-size: 14px;
    color: #ffffff;
    text-align: right;
    z-index: 50;
}

.ticket-item .ipt-wrapper .ipt-item .ipt {
    position: relative;
    display: inline-block;
    height: 30px;
    width: 170px;
    font-size: 14px;
    background-color: transparent;
    filter: alpha(opacity=0);
    color: #ffffff;
    text-align: right;
}

.ticket-item .ipt-wrapper .ipt-item .get-mobile {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 20;
}

.ipt-item .select-text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.ipt-item .arrow {
    right: 0;
    top: 24px;
    margin-top: -3px;
}

.ipt-item .code {
    position: absolute;
    right: 0;
    top: 8px;
}

.ticket-item .ipt-wrapper .ipt-item .select {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
}

.ticket-item .ipt-wrapper .get-code-wrapper.active {
    display: none;
}

.ticket-item .ipt-wrapper .msg-list {
    margin-top: 40px;
    line-height: 20px;
    font-size: 12px;
    color: #ffffff;
}

.select-nexus {
    display: inline-block;
    position: relative;
    height: 30px;
    line-height: 30px;
}

.select-nexus .select-text {
    display: inline-block;
    position: relative;
    width: auto;
    height: 30px;
    line-height: 30px;
    vertical-align: top;
    top: 0;
}

.ticket-item .ipt-wrapper .ipt-item .select-nexus .select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ipt-item .select-nexus .arrow {
    display: inline-block;
    position: relative;
    left: 3px;
    top: -2px;
}

.select-arr_down {
    position: absolute;
    width: 13px;
    height: 6px;
}

.ipt-item .select-arr_down {
    top: 50%;
    margin-top: -3px;
    right: 3px;
}

@media only screen and (max-width: 320px) {
    .ticket-item .ipt-wrapper .ipt-item .ipt {
        width: 130px;
    }
}

.ticket-item .ipt-wrapper .ipt-item .ipt {
    width: 122px;
}

@media only screen and (max-width: 320px) {
    .ticket-item .ipt-wrapper .ipt-item .ipt {
        width: 122px;
    }
}

.ticket-item.ticket-item-perfect .ipt-wrapper .ipt-item .ipt {
    width: 90px;
    text-align: right;
}

@media only screen and (max-width: 320px) {
    .ticket-item.ticket-item-perfect .ipt-wrapper .ipt-item .ipt {
        width: 78px;
    }
}

.ticket-item .ipt-wrapper .ipt-item .ipt::-webkit-input-placeholder {
    font-size: 14px;
    opacity: 0.5;
    color: #ffffff;
}

.disabled .ipt-item .text, .disabled .ticket-item h2, .disabled .ticket-item .ipt {
    color: #ddd !important;
}

.ipt-item .tb-ipt-select {
    width: 172px;
}

@media only screen and (max-width: 320px) {
    .ipt-item .tb-ipt-select {
        width: 124px;
    }
}

.mask-item {
    display: none;
}

.mask-item span {
    position: absolute;
    left: 72%;
    margin-left: -42px;
    top: 17%;
    color: #FFFFFF;
    font-size: 14px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.disabled .mask-item {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 50;
}

.next-step {
    margin: 0 auto;
    width: 256px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 100px;
    /*background: -webkit-gradient(linear, 0 0, 0 left, from(#fdcd01), to(#ffb001));*/
    background-image: -webkit-linear-gradient(90deg, #FDCD01 0%, #FFB001 100%);
    background-image: linear-gradient(90deg, #FDCD01 0%, #FFB001 100%);
    -webkit-box-shadow: 0 5px 10px 0 #dfc794;
    -moz-box-shadow: 0 5px 10px 0 #dfc794;
    box-shadow: 0 5px 10px 0 #dfc794;
}

.next-step .text {
    font-size: 18px;
    text-align: center;
    color: #8d5000;
}

.next-final {
    margin: 0 38px;
}

.next-final a {
    float: right;
    width: 47%;
    height: 36px;
    line-height: 36px;
    font-size: 18px;
    color: rgba(151, 151, 151, 1);
    background: rgba(235, 235, 235, 1);
    text-align: center;
    border-radius: 50px;
    border: 1px solid rgba(235, 235, 235, 1);
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}

.next-final a:nth-of-type(1) {
    float: left;
    color: #0F90F9;
    background-color: #fff;
}

.next-final a.active{
    color: #fff;
    background: #0F90F9;
    border: 1px solid #0F90F9;
    box-shadow: 0 3px 10px 0 #0F90F9;
}

.ticket-item.lbTIntoInfoContact .conNam {
    width: 66px !important;
}

@media only screen and (max-width: 320px) {
    .ticket-item.lbTIntoInfoContact .conNam {
        width: 38px !important;
    }

    .ticket-item.lbTIntoInfoContact .conPhone {
        width: 96px !important;
    }

    .ticket-item #bankAccount {
        width: 108px;
    }
    
    .ticket-item #accountName{
    	width: 50px!important;
    }
    
    .ticket-item #bankCardAccount {
        width: 140px;
    }

    .ticket-item #bankReservedPhone {
        width: 90px;
    }

    .ticket-item #bankPwd , .ticket-item #bankCode {
        width: 70px;
    }
    
    .ticket-item #phoneAccount, .ticket-item #phonePwd, .ticket-item #phoneQueryPwd{
    	width: 106px;
    }
}

/* operator 运营商忘记密码 */
.operator-forgetpwd {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 100;
    background-color: #fff;
    transition: all .2s;
    -webkit-transition: all .2s;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
}

.operator-forgetpwd .goback {
    left: 23px;
    top: 34px;
    width: 16px;
    height: 16px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.operator-forgetpwd h2 {
    padding: 30px 0 35px;
    height: 18px;
    line-height: 18px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#0a81f8), to(#24aefd));
}

.updatePwd-list {
    margin-bottom: 50px;
}

.updatePwd-list .item {
    font-size: 0;
}

.updatePwd-list .item .text {
    display: inline-block;
    padding-left: 25px;
    height: 70px;
    line-height: 70px;
    width: 100px;
    font-size: 16px;
    color: #4A4A4A;
}

.updatePwd-list .item .ipt {
    height: 70px;
    line-height: 70px;
    width: 240px;
    font-size: 16px;
    color: #4A4A4A;
    border: none;
}

@media only screen and (max-width: 320px) {
    .updatePwd-list .item .ipt {
        width: 190px;
    }
}

.updatePwd-list .item.border-1px:after {
    border-top: 1px solid #CAC8CB;
}

.operator-forgetpwd.active {
    transform: translateX(0);
    -webkit-transform: translateX(0);
}

/* ticket end */
/* 信息认证 star */
.auz-info-wrapper {
}

/*.auz-info-wrapper .img {*/
    /*margin: 28px auto 0;*/
    /*width: 140px;*/
    /*height: 140px;*/
    /*!*background: url("../images/auz/shtg@2x.png") no-repeat;*!*/
    /*!*background-size: cover;*!*/
/*}*/

/*@media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3) {*/
    /*.auz-info-wrapper .img {*/
        /*background: url("../images/auz/shtg@3x.png") no-repeat;*/
    /*}*/
/*}*/

.auz-info-wrapper .title {
    margin-top: 80px;
    line-height: 20px;
    font-size: 15px;
    color: rgba(56, 65, 92, 1);
    text-align: center;
}

/*.auz-info-wrapper .text {*/
/*margin-top: 68px;*/
/*line-height: 16px;*/
/*font-size: 12px;*/
/*color: rgba(15, 144, 249, 1);*/
/*text-align: center;*/
/*}*/

.auz-info-wrapper .skip-wrapper {
    text-align: center;
}

.auz-info-wrapper .skip-wrapper .skip {
    line-height: 22px;
    font-size: 16px;
    color: rgba(74, 74, 74, 1);
    text-decoration: underline;
}

.auz-info-wrapper .btn {
    margin: 16px auto 0;
    width: 271px;
    height: 63px;
    /*background: url("../images/auz/Group@2x.png") no-repeat;*/
    /*background-size: cover;*/
}

.auz-info-wrapper .next-step {
    margin-top: 32px;
}

/*@media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3) {*/
    /*.auz-info-wrapper .btn {*/
        /*background: url("../images/auz/Group@3x.png") no-repeat;*/
    /*}*/
/*}*/

/* 信息认证 end */

/*suggest start*/

.suggest-bg {
    background: #f5f5f9;
}

.main {
    position: relative;
}

.s-text {
    width: 100%;
    height: 120px;
    padding: 10px 22px;
    border: none;
    font-size: 15px;
    color: #979797;
    line-height: 20px;
    resize: none;
}

.num {
    color: #979797;
    font-size: 10px;
    position: absolute;
    right: 22px;
    bottom: 15px;
}

.tj {
    width: 100%;
    position: fixed;
    bottom: 50px;
    left: 0;
}

.sub {
    width: 69%;
    line-height: 36px;
    text-align: center;
    border-radius: 100px;
    background: linear-gradient(to right, #fdcd01, #ffb101);
    color: #8d5000;
    margin: 0 auto;
}

/*suggest end*/

/*company start*/

.company-bg {
    background: #f5f5f9;
    position: relative;
}

.pic {
    position: absolute;
    left: 0;
    top: 67px;
    padding: 0 2.9%;
}

.pic > img {
    width: 100%;
    height: 100%;
}

.introduce {
    padding: 0 22px;
    color: #666;
    font-size: 14px;
    line-height: 20px;
}

.company-bg .c2 {
    width: 100%;
    height: 125px;
}

.address {
    color: #666;
    font-size: 14px;
    margin-top: 30px;
    padding: 0 22px;
}

.address > a {
    color: #0f90f9;
}

/*company end*/

/*helpCenter start*/

.helpCenter-bg {
    background: #f5f5f9;
}

.content {
    width: 100%;
}

.h-title {
    width: 100%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 16px;
    display: flex;
    background: #fff;
    margin-bottom: 12px;;

}

.h-title > li {
    flex: 1;
    line-height: 44px;
    float: left;
    text-align: center;
    position: relative;
    color: #666;
}

.h-title > li > div.active {
    width: 50%;
    height: 4px;
    background: #1299f9;
    position: absolute;
    left: 25%;
    top: 40px;
}

.h-title > li:nth-child(1) {
    color: #1299f9;
}

.con {
    position: relative;
}

.con > li {
    position: absolute;
    left: 0;
    top: 0;
}

.con > li:nth-child(2) {
    display: none;
}

.con > li:nth-child(1) > div {
    background: #fff;
    font-size: 15px;
    margin-bottom: 12px;
}

.con > li > div > h2 {
    font-size: 16px;
    line-height: 50px;
    border-bottom: 1px solid #cbcbcb;
    color: #38415c;
    padding-left: 6.4%;
}

.con > li:nth-child(1) > div > p {
    color: #333;
    border-bottom: 1px solid #cbcbcb;
    line-height: 22px;
    padding: 11px 0;
    margin: 0 22px;
}

.con > li:nth-child(1) > div:nth-child(1) > ul {
    padding: 9px 6%;
}

.con > li:nth-child(1) > div:nth-child(1) > ul > li {
    line-height: 35px;
    color: #666;
}

.con > li:nth-child(1) > div > ul > li > span {
    color: #0F90F9;
}

.con > li:nth-child(1) > div:nth-child(2) > ul {
    padding: 8px 0;
}

.con > li:nth-child(1) > div:nth-child(2) > ul > li {
    clear: both;
    display: flex;
}

.con > li :nth-child(1) > div:nth-child(2) > ul > li:nth-child(2n) {
    height: 60px;
}

.con > li:nth-child(1) > div:nth-child(2) > ul > li:nth-child(2n+1) {
    height: 83px;
}

.con > li:nth-child(1) > div:nth-child(2) > ul > li > div {
    margin: 25px 10% 0 10%;
    float: left;
    width: 9.5%;
}

.con > li:nth-child(1) > div:nth-child(2) > ul > li > div > img {
    width: 35.5px;
    height: 40.5px;
}

.con > li:nth-child(1) > div:nth-child(2) > ul > li > span {
    font-size: 15px;
    color: #333;
    display: block;
    float: right;
    padding-right: 5%;
    width: 70%;
}

.con > li:nth-child(1) > div:nth-child(2) > ul > li:nth-child(2n) > div {
    margin-top: 10px;
}

.con > li:nth-child(1) > div:nth-child(2) > ul > li:nth-child(2n+1) > div {
    margin-top: 25px;
}

.con > li:nth-child(1) > div:nth-child(2) > ul > li:nth-child(2n) > span {
    line-height: 65px;
    margin-top: 0;
    display: block;
}

.con > li:nth-child(1) > div:nth-child(2) > ul > li:nth-child(2n+1) > span {
    line-height: 22px;
    margin-top: 20px;
}

.con > li:nth-child(1) > div:nth-child(2) > ul > li:nth-child(3) > span {
    margin-top: 10px;
}

#arrow {
    position: relative;
}

#arrow > img {
    position: absolute;
    right: 6%;
    top: 43%;
    width: 5%;
    height: 16%;
}

#arrow > img:nth-child(2) {
    top: 47%;
    display: none;
}

.hidden {
    display: none;
}

.con > li:nth-child(1) > div:nth-child(3) {
    margin-bottom: 62px;
}

.con > li:nth-child(1) > div:nth-child(3) > ul {
    height: 269px;
    padding-top: 40px;
    background: #fff;
}

.con > li:nth-child(1) > div:nth-child(3) > ul > li {
    position: relative;
    border-left: 1px solid #1299f9;
    height: 77px;
    margin-left: 37px;
    padding-left: 22px;
}

.con > li:nth-child(1) > div:nth-child(3) > ul > li:last-child {
    border-left: 0;
}

.con > li:nth-child(1) > div:nth-child(3) > ul > li > img {
    position: absolute;
    left: -11px;
    top: -3px;
    width: 22px;
    height: 22px;
}

.con > li:nth-child(1) > div:nth-child(3) > ul > li > div {
    color: #38415C;
    font-size: 16px;
    margin-bottom: 14px;
}

.con > li:nth-child(1) > div:nth-child(3) > ul > li > p {
    color: #999;
    font-size: 15px;
}

.con > li:nth-child(2) > ul {
    background: #fff;
}

.con > li:nth-child(2) > ul > li {
    border-bottom: 1px solid #e0e0e0;
    margin: 0 22px;
    padding: 25px 0 18px 0;
}

.con > li:nth-child(2) > ul > li:last-child {
    border-bottom: 0;
}

.con > li:nth-child(2) > ul > li > div {
    color: #38415C;
    font-size: 16px;
    height: 33px;
}

.con > li:nth-child(2) > ul > li > p {
    color: #666;
    font-size: 15px;
    line-height: 23px;
}

@media only screen and (max-width: 320px) {
    .con > li:nth-child(1) > div .btm {
        width: 100%;
    }

    .con > li > div > h2 {
        padding-left: 6.5%;
    }

    .con > li:nth-child(1) > div > p {
        margin: 0 20px;
    }

    .con > li:nth-child(1) > div:nth-child(1) > ul {
        padding: 9px 6%;
    }

    .con > li:nth-child(1) > div:nth-child(2) > ul > li > span {
        padding-right: 5%;
        width: 225px;
    }
}

.btm {
    width: 100%;
    height: 50px;
    border-top: 1px solid #979797;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 8px;
    background: #fff;
}

.btm > li {
    flex: 1;
    text-align: center;
    height: 34px;
    line-height: 34px;
    border-right: 1px solid #979797;
}

.btm > li > a {
    color: #434961;
    font-size: 16px;
}

.btm > li:last-child {
    border-right: 0;
}

.customN {
    width: 100%;
    padding: 0 10px;
    margin-bottom: 10px;
    z-index: 5;
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
}

.customN > li {
    background: #fff;
    border: 1px solid #c6c6c8;
    line-height: 40px;
    text-align: center;
    font-size: 15px;
    color: #999;
    border-radius: 5px;
    margin-bottom: 5px;
}

.customN > li:nth-child(1) > a {
    color: #590ef0;
}

#fullBg {
    background: #000;
    opacity: 0.5;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: none;
}

#sure {
    width: 100%;
    position: fixed;
    left: 0;
    top: 26.5%;
    z-index: 5;
    display: none;
}

#sure > div {
    width: 50%;
    margin: 0 auto;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #c6c6c8;
    overflow: hidden;
}

#sure > div > div {
    line-height: 70px;
    text-align: center;
    font-size: 16px;
    color: #333;
    border-bottom: 1px solid #c6c6c8;
}

#sure > div > p {
    line-height: 40px;
    text-align: center;
    color: #590ef0;
    font-size: 15px;
}

/*helpCenter end*/

/* 央行征信认证tips star */
.credit-tips-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 70px;
    width: 100%;
    overflow: hidden;
}

.credit-tips-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 18px 0;
    background-color: #0F90F9;
    font-size: 0;
}

.credit-tips-footer a {
    display: inline-block;
    width: 100%;
    height: 34px;
    line-height: 34px;
    font-size: 15px;
    color: #fff;
    text-align: center;
    vertical-align: top;
}

.credit-tips-wrapper .tips-wrapper {
    padding: 20px 25px;
}

.credit-tips-wrapper .tips-list .title {
    padding: 6px 0;
    margin-bottom: 6px;
    line-height: 18px;
    font-size: 12px;
    color: rgba(74, 74, 74, 1);
}

.credit-tips-wrapper .tips-list .text {
    line-height: 20px;
    font-size: 12px;
}

.credit-tips-wrapper .tips-list .img {
    margin: 6px 0;
    width: 100%;
}

.tips-msg-wrapper {
    background-color: rgba(255, 243, 223, 1);
    padding: 0 25px;
}

.tips-msg-wrapper .tips-msg {
    margin-top: 5px;
}

.tips-msg-wrapper .tips-msg .text {
    color: #F5A623 !important;
}

/* 央行征信认证tips end */
/* 征信弹框1 start */
.credit-box {
    width: 100%;
    height: 100%;
    position: relative;
}

.credit-box .popover {
    margin: 0 auto;
    width: 80.4%;
    height: 49.5%;
    background: #fff;
    padding: 55px 0 27.5px;
    border-radius: 10px;
}

.credit-box .popover ul {
    width: 100%;
}

.credit-box .popover ul li {
    margin-bottom: 15px;
}

.credit-box .popover ul li:last-child {
    margin-bottom: 0;
}

.credit-box .popover ul li p {
    color: #7C7A7A;
    font-size: 15px;
    text-align: center;
    line-height: 36px;
}

.credit-box .popover ul li div {
    border: 1px solid #0F90F9;
    border-radius: 50px;
    width: 75%;
    line-height: 36px;
    text-align: center;
    color: #0F90F9;
    margin: 0 auto;
}

.credit-box .credit-close {
    position: absolute;
    right: 13%;
    top: 2%;
    width: 16px;
    height: 16px;
}

.credit-box .credit-fast {
    position: absolute;
    right: 43%;
    top: -15%;
    width: 50px;
    height: 94.5px;
}

.code-box {
    width: 100%;
    height: 100%;
    position: relative;
}

.code-box .code {
    margin: 0 auto;
    width: 80.4%;
    height: 49.5%;
    background: #fff;
    padding: 42.5px 0 43px;
    border-radius: 10px;
}

.code-box .code ul {
    width: 100%;
}

.code-box .code ul li p {
    color: #7C7A7A;
    font-size: 15px;
    text-align: center;
    line-height: 24px;
}

.code-box .code ul li div {
    border: 1px solid #0F90F9;
    border-radius: 50px;
    width: 75%;
    line-height: 36px;
    text-align: center;
    color: #0F90F9;
    margin: 15px auto 0;
}

.code .code-wait {
    width: 41.5px;
    height: 56px;
    margin: 0 auto 21px;
    display: block;
}

.code-box .credit-close {
    position: absolute;
    right: 13%;
    top: 2%;
    width: 16px;
    height: 16px;
}

.zx-pop-wrapper {
    position: absolute;
    top: 17%;
    width: 100%;
    z-index: 9999;
    display: none;
}

/* 征信弹框1 end */