* {margin: 0px;padding: 0px;border: none;text-decoration: none;list-style: none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-appearance:none;}
body, html {font-size: 14px;font-family: "微软雅黑";background: #fff;}
.box {max-width: 750px;margin: 0 auto 5rem;height: auto;background: #fff;}
.list-ul{ overflow: hidden}
.list-li{ border-bottom: 1px solid #ECEAEA; position:relative;padding: 0 4%; color: #666;-webkit-transform: translateX(0px);}
.list-li .con{ height:40px; margin:10px 0; position:relative; width:75%;overflow : hidden; text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical; line-height: 20px;}
.btn{ position: absolute; top: -10px; right: -80px; text-align: center; background: #fa6e64; color: #fff; width: 80px; height:61px; line-height:61px;}
.con-message{ width:74%; float:left;ext-overflow: -o-ellipsis-lastline; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3;-webkit-box-orient: vertical;}
.con-right{ float:right; color:#50c8b4; font-size:.96rem; width:2.14rem; text-align:center;position: absolute;top: 2px;right: 10px;}
.con-right img{ width:1.21rem; }
.btn-ok{ width:100%; height:50px; line-height:50px; background:#51c8b4; color:#fff; text-align:center; position:fixed; bottom:0px; left:0px; font-size:1.29rem;}
.btn-ok img{ width:1.1rem;}
.no img{ width:5.9rem;}
.no{ text-align:center; margin:10rem 0 0 0; display:none;}
.no p{ color:#9a9a9a; font-size:.86rem; text-align:center;}
.title-btn{ height:3.93rem; line-height:3.93rem; text-align:center; background:#fff; border-bottom:2px solid #e7e7e7; color:#3a3a3a; font-size:1.14rem;}
.title-btn img{ float:left; width:.79rem;margin: 1.3rem 0 0 1rem;}
.con-circle-img{ float:left; width:22px; margin:10px 10px 0 0; position:relative;}
.con-get-img{ position:absolute; width:13px; top:17px; left:18px; display:none;}
.alert_box{ width:300px; height:120px; border:1px solid #ccc; border-radius:10px; position:absolute; top:30%; left:50%; margin:0 0 0 -150px; background:#fff;}
.alert_box h3{ text-align:center; padding:10px 0;}
.alert_box p{ text-align:center; padding:10px;}
.alert_box .ab_ok{ text-align:center; width:100%; height:30px; line-height:30px; border-top:1px solid #ccc; position:absolute; bottom:0px; left:0px;}
.window_alert{ width:100%; position:fixed; top:0px; left:0px; background:rgba(0,0,0,.5); display:none;}
a[title*="站长统计"]{ display:none;}
