* {margin: 0px;padding: 0px;border: none;text-decoration: none;list-style: none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-appearance:none;}
body, html {font-size: 14px;font-family: "微软雅黑";background: #f5fafa;}
.box {max-width: 750px;margin: 0 auto;height: auto;background: #f5fafa;}
.hzs-cover{ padding:.71rem 1rem; background:#fff; margin:0 0 .71rem 0; border-bottom:1px solid #d2dce6; overflow:hidden;}
.hzs-img{ width:5.71rem; height:5.71rem; border:1rem; float:left; border-radius:.7rem;}
.hc-right{ float:left; width: 70%; float:right; margin:0 0 0 2.5%;}
.work-type{ padding:.36rem .86rem; background:rgba(0,0,0,.5); border-radius:2rem; color:#fff; font-size:.86rem; float:left; margin: 4% 0 0 0;}
.work-price{ color:#fa6e64; font-size:2rem; float:left; margin:0 0 0 1.2rem;}
.money{ font-size:1.07rem;}
.hr-bottom{overflow: hidden; clear: both; margin: 4% 0 0 0;}
.hr-top{ overflow: hidden; margin-top: 1.14rem; color:#141e28; font-size:1.01rem;}
.hc-left{ overflow:hidden; float:left;}
.hb-num{ color:#fa6e64; font-size:1.14rem;}
.hb-yuan{ color:#fa6e64; font-size:.76rem;}
.box-hzs {width: 100%;border: 1px solid #cbd3d3;border-left: none;border-right: none;overflow: hidden;background: #fff;padding:.71rem 1rem;box-sizing: border-box;}
.bh-left { border-radius:50%; border:#d7dcdc solid 1px; width:60px; height:60px;float: left;box-sizing: border-box;position: relative;}
.bh-right {float: left;width: 72%;padding: 0 0 0 1.1rem;box-sizing: border-box;}
.img-vip {width: 30%;position: absolute;top: -2%;}
.bh-name {color: #434343;font-size: 1.07rem;margin-top: 4%;}
.bh-start img {width: 15px; margin:5px 0 0 0;display: inline-block;}
.bh-start {margin-top: 1%; position:relative;}
.bl-photo{ border-radius:50%; width:60px; height:60px;}
.br-sex{ width:14px; margin-left: .4rem;}
.content {width: 100%;overflow: hidden;background: #fff;margin: .5rem 0 .5rem 0;border: 1px solid #e3e8e8;border-left: none;border-right: none;}
.content li {padding: 0 5%;border-bottom: 1px solid #e3e8e8;box-sizing: border-box;overflow: hidden;}
.content li .left {color: #434343;font-size: .93rem;float: left;width: 30%;padding: 1.2rem 0;text-align: left;}
.content li .right {color: #9ba0a0;font-size: .93rem;float: right;width: 60%;padding: 1.2rem 0 1.2rem 0;text-align: right;position: relative; background:none; }
.content li #right{ direction: rtl;}
.on-jian,.on-plus{ width:1.1rem;}
.on-r{ margin-bottom: -2rem;}
.on-num{ font-size:.95rem; color:#9ba0a0; display:inline-block; vertical-align: top;}
.content li .order-cost{ color:#fa6e64; font-size:.95rem;}
.order-tel{ text-align:right; color:#9BA0A0;}

.box-zhifu {position:relative; overflow: hidden; max-width: 750px; margin: 0 auto; display:none;}
.pay {border: 1px solid #e3e8e8;border-left: none;border-right: none;background: #fff;padding: 1rem 0;display: block;}
.pay img {width:60px;margin: 0 auto; display:block;}
.choose{width:7%;position:absolute;top:26%;right:8%;}
.use-voucherss{ width:100%; margin:.5rem 0 1% 0; border-top:1px solid #d7dcdc; border-bottom:1px solid #d7dcdc; background:#fff url(../images/black_right.png) no-repeat 99%; overflow:hidden;padding: 0 5%; box-sizing:border-box; font-size:.93rem; background-size:10px; max-width: 750px; margin: .5rem auto 0;}
.use-voucherss .uv-left{ float:left; padding:1.07rem 0; color:#434343;}
.use-voucherss .uv-right{ float:right; padding:1.07rem 0; color:#9ba0a0;}
.order-message{ overflow:hidden; width:100%; border-top: 1px solid #d7dcdc; border-bottom: 1px solid #d7dcdc;padding: 1rem 5%;box-sizing: border-box;font-size: .93rem; background:#fff; max-width: 750px; margin: .5rem auto 7rem;}
.order-message .om-left{ float:left;}
.order-message .om-right{ float:right; position:relative; width:1.29rem; height:1.29rem; border:1px solid #D7DCDC; text-align: center; }
.order-message .ol-left{ color:#141e28; font-size:.95rem;}
.order-message .ol-right{ color:#50c8b4; font-size:.95rem; text-decoration:underline;}
.or-get{width: 80%; margin-top: .2rem;}
.btn{ width:100%; max-width:750px; margin:0 auto; background:#fff; color:#fff; padding: .5rem 0; border-top:1px solid #ccc; position: fixed; bottom: 0px;}
.btn .btn-ok{ width:96%; background:#fa6e64; padding:.71rem 6% .5rem 6%; margin:0 auto; border-radius:1.8rem; overflow:hidden; box-sizing: border-box;}
.btn-ok .bo-left{ float:left; padding: .4rem;}
.btn-ok .bo-right{ float:right; border: 1px solid#fff; border-radius: 1rem; padding: .2rem .5rem;}
/*  优惠券 */
.box-vouchers{ padding:.3rem 1.5%; display:none; background:#f6fafb;}
.voucher,.voucher-no{width:100%; height:7.5rem; border-radius:.71rem; box-sizing:border-box; margin:0 0 .5rem 0;background:url(../images/xwc-vouchers_03.png) no-repeat; background-size:100% 100%; position:relative;}
.vt-left{ float:left; width:32%; text-align:center;}
.vt-right{ float:right; width:64%; }
.vl-top{ font-size:2.2rem; color:#50c8b4; font-weight:bold; margin-top: 1rem;}
.vl-bottom{ font-size:.73rem; color:#50c8b4;}
.vr-top{ font-size:.91rem; color:#9a9a9a; line-height:3rem;}
.vr-bottom{ color:#9a9a9a; font-size:1.1rem; margin-top: .8rem;}
.use-status{ text-align:center; width:32%; position:absolute; bottom:.45rem; left:0px; color:#fff; font-size:.85rem;}
.use-date{ text-align:center; width:68%; position:absolute; bottom:.45rem; right:0px; font-size:.85rem; color:#fff;}
.voucher-no{ background:url(../images/xwc-vouchers-no_03.png) no-repeat; background-size:100% 100%;}
.gray{ color:#9a9a9a;}
.vouchers-img{ margin:50% auto 0; width:30%; display: block;}
.voucher-p{ text-align:center; color:#CCC; line-height:2rem;}
.no-vouchers{ display:none;}
.loading{ position:fixed; width:100%; background:rgba(0,0,0,.4); top:0px; z-index:9999; display:none;}
.loading img{ margin:20% auto 0; display:block;}
.alert-box{ width:100%; background:rgba(0,0,0,.5); position:fixed; top:0px; left:0px; display:none;}
.alert-box .alert{ width:300px; background:#fff; margin:30% auto 0; border-radius:1rem; overflow:hidden;}
.a-content{ padding:10px; overflow:hidden; box-sizing:border-box; position:relative;}
.alert{ position:relative;}
.a-btn-ok{ position:relative; bottom:0px; padding:.8rem 0; width:100%; background:#50c8be; text-align:center; color:#fff; font-size:1rem;}
a[title*="站长统计"]{ display:none;}
