
*{
    margin:0;
    padding:0;
    font-size:14px;
    font-family: "Microsoft YaHei";
    list-style: none;
}
body{
    background-color: #eff4f5;
}

.awards li{
    margin:7px;
    padding: 15px 20px;
    height: 106px;
    background: #fff url(../images/order-arr-right_03.png) no-repeat 97% 50%;
    background-size: 7px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;

}
.awardimg{
    float: left;
    width: 76px;
    height: 76px;
    border-radius: 5px;
}
a[title*="站长统计"]{ display:none;}
.awards .left{
    float: left;
    margin: 0 0 0 10px;
}
.awardname{
    color:#4c4c4c;
    font-size:14px;
    margin:0 0 12px 0;
    height: 40px;
    /*word-break: break-all;*/
    /*white-space: nowrap;*/
    overflow: hidden;
    /*text-overflow: ellipsis*/
}
.smallword{
    font-size:12px;
    color: #9a9a9a;
    line-height:20px;
    position: relative;
}
.smallword img {
    position: absolute;
    width: 15px;

    top: 4px;
}
.smallword p{
    padding-left: 20px;
}


.noaward {
    display: none;
    text-align: center;
}
.noaward img {
    width: 84px;
    height: 84px;
    margin:219px 0 30px 0;
}

.noaward p{
    font-size: 12px;
    color: #9a9a9a;
}
.noaward .goAward {
    text-align: center;
    width: 80%;
    height:45px;
    line-height: 45px;
    color: #fff;
    font-size: 18px;
    background-color: #50c8b4;
    border-radius: 5px;
    margin: 110px auto 0;
}
