*{ margin:0px; padding:0px; border:none; text-decoration:none; list-style:none;}
body,html{ font-size:14px; font-family:"方正兰亭纤黑,微软雅黑";}

.hide{display:none;}

body,html{background:#eef3f4;color:#3a3a3a;font-size:16px;}

/*商品头部*/
.lottery .top{background:#ffffff;overflow: hidden;}
.lottery .details{background:#ffffff}
.lottery .headimg img{width:100%}
.lottery .name-fee .name{margin:20px auto 15px;font-size:16px;color:#3a3a3a;padding:0px 15px;}
.lottery .name-fee .fee{float:right;margin-right: 15px;color: #9a9a9a;font-size: 12px;margin-bottom: 20px;}
.lottery .invitecode{position: relative;background: url(../images/lottery_third_part_coupon.png) no-repeat;width:256px;background-size:256px 56px;margin-left: -128px;margin-top:15px;margin-bottom:15px;left:50%;padding: 19px 0px 19px 130px;font-size:18px;color:#fdfeff;}
.lottery .period{clear:both;padding:12px 15px;font-size:12px;color:#9a9a9a;border-top:1px solid #f6f7f7;}
.lottery .period.inactivity{color:#FFB27D;}
.lottery .period .time{display: inline;}

/*商品详情*/
.lottery .details{margin:7px 7px 62px 7px;border-radius: 7px;}
.lottery .details.nostatus{margin-bottom:7px;}
.lottery .details img{width:100%;}
.lottery .details .image{margin:15px 0px;}
.lottery .details .details-title{padding:26px 13px 3px;background: url(../images/artical.png) 118px 26px no-repeat;background-size: 14px 16px;}
.lottery .details .details-content{padding:20px 0px;}
.lottery .details .paragraph{font-size:14px;padding:0px 13px;line-height:24px;}

/*商品状态*/
.lottery .status{position:fixed;bottom:0;left:0;width:100%;height:55px;font-size:18px;text-align:center;}
.lottery .status .hint{width:100%;height:100%;padding-top:18px;}
.lottery .status .hint.finished{background:#b3b3b3;color:#ebebeb}
.lottery .status .hint.filladdress{background:#FFB27D;color:#fff}

/*填写商品地址*/
.mesbtn{ position:fixed; bottom:0; left:0; width:100%; height:55px; line-height:55px; text-align:center; background:#FFB27D; font-size:16px; color:#fff;}
.greyBtn{ background:#b3b3b3 !important;}

.part2{position:fixed;top:0px;left:0px;width:100%;height:100%;background:#ffffff;}
.part2 .message{ background:#fff; margin-top:7px; border-top:#d7dcdc solid 1px; border-bottom:#d7dcdc solid 1px; }
.part2 .box{margin-left:15px; border-bottom:#d7dcdc solid 1px; font-size:15px;}
.part2 .box3{ border-bottom:none !important;}
.part2 label{color:#3a3a3a;}
.part2 input{ border:none; height:50px; line-height:50px; font-size:15px; color:#4c4c4c; }
.part2 input::-webkit-input-placeholder {font-size:15px; color:#9a9a9a; }

a[title*="站长统计"]{ display:none;}

