@charset "utf-8";
/* CSS Document */
*{font-family:"兰亭黑-纤黑";font-size:12px; color:#9a9a9a; line-height:1.5; margin:0; padding:0;cursor:pointer; -webkit-tap-highlight-color: transparent;}
a[title*="站长统计"]{ display:none; }
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.hidden{ display:none;}
body{ background:#eff4f5;}
.top p{padding:5px 15px; color:#fff; background:#ffb27d;}
.rank,.pointsRuler{ margin:7px; border-radius:5px; background:#fff; box-shadow: 2px 2px 2px rgba(0,0,0,.1); overflow:hidden;}
.rankDet .right span{ color:#9a9a9a;} 
.rankDet{ border-top:#f6f7f7 solid 2px; }
.rankstyle div{ display:inline-block;height:40px; line-height:40px;}
.rankstyle>div.left{ padding-left:48px; }
.rankTit .right{ float:right; margin-right:88px;}
.rankTit div{ color:#3a3a3a;}
div.rankDet .left{color:#ffb27d;}
div.rankDet .right{ float:right; margin-right:0px;}
div.rankDet .right .rightR{ display:inline-block; width:53px;}
.rankDet .range{ width:100px; height:7px; border-radius:5px; background:#ffb27d; display:inline-block; margin:0 5px;}
.pointsRuler h3{ font-size:16px; color:#3a3a3a; text-align:center; font-weight:normal; height:40px; line-height:40px;}
.pointsRuler p{ line-height:1; padding:5px 0px 5px 37px;}
.pointsRuler div{ border-top:#D7DCDC solid 1px; padding:5px 0;}
.pointsRuler .rulerTit{ font-size:14px; color:#4c4c4c; }
.pointsRuler .rulerTit span{ font-size:12px;color:#4c4c4c; padding: 0;}
.pointsRuler p span{ display:inline-block; line-height:1; padding:0 4px 0 8px;}
.pointsRuler .rulerTit0{ background:url(../images/points/rulerTit0.png) 13px center no-repeat; background-size:15px 15px;}
.pointsRuler .rulerTit1{ background:url(../images/points/rulerTit1.png) 13px center no-repeat; background-size:15px 15px;}
.pointsRuler .rulerTit2{ background:url(../images/points/rulerTit2.png) 13px center no-repeat; background-size:12px 18px;}
.pointsRuler .rulerTit3{ background:url(../images/points/rulerTit3.png) 13px center no-repeat; background-size:8px 19px;}
.pointsRuler .rulerTit4{ background:url(../images/points/rulerTit4.png) 13px center no-repeat; background-size:15px 15px;}
.pointsRuler .rulerTit5{ background:url(../images/points/rulerTit5.png) 13px center no-repeat; background-size:15px 15px;}
.pointsRuler .rulerTit6{ background:url(../images/points/rulerTit6.png) 13px center no-repeat; background-size:15px 13px;}
