* {margin: 0px;padding: 0px;border: none;text-decoration: none;list-style: none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-appearance:none; background:none;}
body, html {font-size: 14px;font-family: "微软雅黑";background: #f0f5f5;}
.box{ padding:8px 8px 0px 8px; box-sizing:border-box; width:100%;margin-bottom: 15%;}
.apply_person_message,.apply_person_skin,.apply_person_address,.apply_person_yan{ width:100%; background:#fff; border-radius:5px; box-shadow: 0px 0px 5px rgba(0,0,0,.3);}
.apm_title{ height:70px; border-bottom:1px solid #f0f5f5; padding-top: 15px; box-sizing: border-box;}
.at_title{ color:#fff; height:40px; background:#6fd7c8; width:122px; line-height:40px; border-radius:0 20px 20px 0; text-align:center; font-size:16px;}
.apm_name,.apm_sex{ height:50px; border-bottom:1px solid #f0f5f5;}
.an_name,.an_age{ width:70px; float:left; font-size:15px; color:#3a3a3a; line-height:50px;}
.an_name img{ width:8px; margin:0 3px 0 8px; vertical-align: text-top;}
.an_name_input,.an_age_input,.an_tel_input,.an_weixin_input{ float:left;padding: 16px 0px; color:#3a3a3a; font-size:15px;}
.apm_sex .as_sex{ width:55px; float:left; font-size:15px; color:#3a3a3a; line-height:50px;padding: 0 0 0 19px;}
.apm_sex .as_right{ float:left; font-size:15px; color:#3a3a3a; line-height:50px;}
.select_circle{ width:15px;}
.ar_nv{ margin:0 20px 0 0 ;}
.an_age{padding: 0 0 0 19px; box-sizing: border-box;}
.skin_type{ height:60px; line-height:60px;}
.apply_person_skin{ margin:7px 0 0 0; overflow:hidden;}
.weixin{ border:none;}
.skin_type span{ padding:0 2.75%; height:60px; background:#fff; display:inline-block; border:1px solid #f0f5f5; color:#6fd7c8; font-size:15px; border-left:none; border-top:none;}
.skin_type .blue{ background:#a0d7dc; color:#fff;}
.apply_person_address{ margin:7px 0 0 0; overflow:hidden;}
.apply_person_skin .apm_title{border-bottom: 1px solid #f0f5f5;}
.apd{color:#4c4c4c; padding: 18px; display:block; width:100%; font-size:15px;box-sizing: border-box; word-break:break-all; outline:none;}
.liuyan{ width:100%; padding:20px; font-size:15px; color:#4c4c4c; box-sizing:border-box; line-height:22px; resize:none;outline:none;}
.btn_submit{ width:100%; height:55px; background:#b3b3b3; text-align:center; line-height:55px; color:#fff; font-size:18px; position:fixed; bottom:0px;}
.apply_person_yan{ margin:7px 0 0 0;}
.apply_for_success{ display:none;}
.box_success{ padding:40px 20px 0 20px; box-sizing:border-box;}
.box_success .cover{ width:100%; position:relative;}
a[title*="站长统计"]{ display:none;}
.apply_status{ width:80px; height:30px; border-radius:5px; text-align:center; line-height:30px; color:#fff; font-size:13px; background:#6fd7c8; position:absolute; top:10px; right:8px;}
.box_content{ position:relative; border-radius:5px; overflow:hidden; box-shadow: 0px 0px 5px rgba(0,0,0,.3); margin-bottom: 30%;}
.free_trial{ text-align:center; border-radius:0 15px 15px 0; color:#fff; font-size:13px; height:30px; line-height:30px; background:#6fd7c8; width:67px; margin:10px 0 0 0;}
.bc_content{ padding:25px 70px; box-sizing:border-box; text-align:center; color:#3a3a3a; font-size:15px; line-height:20px; margin-top: -45px;}
.bc_time{ font-size:14px; color:#3a3a3a; text-align:center; height:50px; line-height:50px; border-top:1px solid #e6e6e6; border-bottom:1px solid #e6e6e6;}
.apply_for_success .bc_status{ padding:15px 40px; box-sizing:border-box; text-align:center; font-size:14px; color:#3a3a3a;}
.apply_for_success .return_details,.return_applay_details{ width:50%; height:55px; line-height:55px; text-align:center; color:#fff; font-size:18px; background:#50c8b4; float:left;}
.btn{ width:100%; position:fixed; bottom:0px; background:#f0f5f5;}
.return_applay_details{ float:right; width:49.5%;}
.apply_for_details{ display:none;}
.box_details{ padding:40px 20px 0 20px; box-sizing:border-box;}
.box_details .cover{ width:100%; position:relative;}
.apply_status{ width:80px; height:30px; border-radius:5px; text-align:center; line-height:30px; color:#fff; font-size:13px; background:#6fd7c8; position:absolute; top:10px; right:8px;}
.box_content{ position:relative; border-radius:5px; overflow:hidden; box-shadow: 0px 0px 5px rgba(0,0,0,.3);background: #fff;}
.free_trial{ text-align:center; border-radius:0 15px 15px 0; color:#fff; font-size:13px; height:30px; line-height:30px; background:#6fd7c8; width:67px; margin:10px 0 0 0;}
.bc_content{ padding:25px 30px; box-sizing:border-box; text-align:center; color:#3a3a3a; font-size:15px; line-height:20px; margin-top: -5px;border-bottom: 1px solid #e6e6e6;}
.bc_time{ font-size:14px; color:#3a3a3a; text-align:center; height:50px; line-height:50px; border-top:1px solid #e6e6e6; border-bottom:1px solid #e6e6e6;}
.apply_for_details .bc_status{ height:70px; line-height:70px; text-align:center; font-size:14px; color:#3a3a3a;}
.return_details_ok{ width:100%; height:55px; line-height:55px; text-align:center; color:#fff; font-size:18px; background:#50c8b4; position:fixed; bottom:0px;}
.an_name,.as_sex,.an_age{ position:relative;}
.an_name:after{content:"";display:ininline-block; position:absolute; left:59px; color:#f0f5f5; width:1px; background:#f0f5f5; top:10px; height:30px;}
.as_sex:after{content:"";display:ininline-block; position:absolute; left:59px; color:#f0f5f5; width:1px; background:#f0f5f5; top:10px; height:30px;}
.an_age:after{content:"";display:ininline-block; position:absolute; left:59px; color:#f0f5f5; width:1px; background:#f0f5f5; top:10px; height:30px;}
.form-control{ width:100%; display:block;box-sizing:border-box; line-height:19px; word-break:break-all; font-size:15px; color:#A9A9A9; outline:none; text-align:justify; overflow:auto; box-sizing:border-box;}

.gray_btn_double{ width:100%; height:100%; background:rgba(0,0,0,.3); position:fixed; top:0px; left:0px; display:none;}
.gray_btn_double .integral_window{ width:71%; padding:0 15px; box-sizing:border-box; background:#fff; margin:0 auto; overflow:hidden; border-radius:5px;}
.iw_title{ background:#fff; width:100%; height:50px; line-height:50px; text-align:center; font-size:16px; color:#50c8b4; border-bottom:1px solid #50c8b4;}
.iw_content{ width:100%; margin:20px 0; font-size:14px; color:#4c4c4c;line-height: 20px; text-align: center;}
.integral_btn{ width:100%; margin:20px 0; overflow:hidden;border-top: 1px solid #50c8b4; padding: 20px  0 0 0; box-sizing:border-box;}
.integral_btn .btn_ok{ width:100px; height:32px; background:#50c8b4; color:#fff; margin:0 auto; text-align:center; line-height:32px; box-sizing:border-box; border-radius:5px; font-size:14px;}
.integral_btn .btn_left{ float:left; border:1px solid #50c8b4; color:#50c8b4; background:#fff;}
.integral_btn .btn_right{ float:right; background:#50c8b4; color:#fff; }
.integral_btn .btn_left,.integral_btn .btn_right{border-radius:5px; width:48%; height:32px; line-height:32px; box-sizing:border-box; text-align:center;}
