/* CSS Document清除默认样式 */
html, body, div, span,iframe,h1, h2, h3, h4, h5, h6, p, pre,a, em, img,small,strong,b, i,dl, dt, dd, ol, ul, li, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td, footer, header,  menu, nav, section,input{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font:inherit;
    vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
aside, footer, header,  menu, nav, section {display: block;}
ol, ul {list-style: none;}
table {border-collapse: collapse;border-spacing: 0;}
/*全局控制*/
body { font-family:"微软雅黑";}
a{display:block; text-decoration:none; cursor:default;}
.no_margin{ margin:0;}
.pink, a.pink, .pr_1 > .btn > li > a.pink, .you_heart .scoll_date > .state_1 .re .btn > li > a.pink{ color:#E95B97;}
.yellow{ color:#FFF17E;}
.blue{ color:#75B9C6;}
.gray{ color:#C4C4C4;}
.float{ float:left;}
img{ vertical-align:middle;}



.footer{ width:100%; height:auto; background:#fff; position:fixed; bottom:0px; z-index:99; color:#828888; font-size:.7rem; padding:.43rem 0 .2rem 0; border-top:1px solid #c3c8c8;}
.footer-left,.footer-center,.footer-right{ width:25%; float:left;text-align:center;}
.footer-left{ float:left;}
.footer-right{ float:right;}
.footer img{ display:inline-block; width:1.57rem;}
.footer a{ color:#828888;}
.footer p{ padding-top: 3px;}
.footer_bot{
	margin-bottom: 50px;
}
.footer-left img,.footer-center img,.footer-right img{filter:Gray; width:auto; height:25px;}




.box-list .order-list{ overflow:hidden; padding:0;position:relative;}
.order-list .ol-left{ float:left; width:50%; height:40px; background:#fff;}
.order-list .ol-right{ float:right; width:50%; background:#fff;}

