@charset "utf-8";
/* CSS Document */
a[title*="站长统计"]{ display:none;}
input{ outline:none;}
*{ margin:0; padding:0;cursor:pointer; -webkit-tap-highlight-color: transparent;}
body{ background:#f0f5f5; color:#3a3a3a; margin-bottom:62px;}
.banner{ position:relative; overflow:hidden;}
.banner img{ display:block; width:100%;}
.banner p{ position:absolute; bottom:0; left:0; width:100%; text-align:center; background:#50c8b4; filter:alpha(opacity=80); opacity:.8; height:30px; line-height:30px; color:#fff; font-size:14px;}
.banner .bgb3{ background:#b3b3b3 !important;}
.trialDetail,.freeflow,.intro,.applynum,.message{ margin:0 7px 7px; border-radius:5px; background:#fff; box-shadow: 2px 2px 2px rgba(0,0,0,.1); overflow:hidden;}
.trialDetail .dtop{ padding:16px 12px; line-height:23px; font-size:15px;}
.trialDetail .dtop span{ color:#fff; background:#50c8b4; text-align:center; display:inline-block; width:80px; height:22px; margin-right:5px;}
.applyDetail{ border-top:#d4f2ed solid 1px;}
.applyDetail div{ width:50%; box-sizing:border-box; display:inline-block;}
.applyDetail .aleft{ padding: 20px 0 20px 23px; border-right:#d4f2ed solid 1px; float:left;}
.applyDetail .aleft p{ line-height:25px; font-size:15px;}
.applyDetail .aleft p span{ color:#50c8b4;}
.applyDetail .aright{ float:right;}
.applyDetail .aright .arighttop{ background:#50c8b4; text-align:center; font-size:18px; font-weight:600; color:#fff;}
.applyDetail .aright p{ height:45px; line-height:45px;}
.applyDetail .aright .arightbot{ font-size:15px; color:#50c8b4; text-align:center;}
.freeflow .ftit{ height:60px; font-size:16px;line-height:60px; border-bottom:#d7dcdc solid 1px; padding: 0 12px; position:relative;}
.freeflow .ftit .rules{ position:absolute; right:14px;top:0;display:inline-block; heigh:60px; line-height:60px; font-size:14px;  }
.freeflow .flow{padding:20px 6.6%;}
.freeflow .flow li{ width:20%; float:left; text-align:center; display:inline-block;}
.freeflow .flow li:nth-child(odd) img{ width:56.7%;}
.freeflow .flow li:nth-child(even) img{  width:96.7%; vertical-align:middle; margin-top:24%;}
.freeflow .flow li p{ font-size:14px; color:#4c4c4c; line-height:1; padding-top:10px;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.boxshadow{display:none; position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%;background: #000; filter: alpha(opacity=0.5); -moz-opacity: .5; -khtml-opacity: .5; opacity: .5; z-index:100; cursor:pointer;}
.innercontent{ display:none; width:72%; position:fixed; top:50%;  left:14%; margin:-169px 0 0 0; z-index:101; box-sizing:border-box; background:#fff; border-radius:5px; padding:20px 15px 20px 20px;}
.innercontent .innertit{ font-size:16px; color:#50c8b4; line-height:1; padding-bottom:20px; border-bottom:#50c8b4 solid 2px; margin-bottom:17px; text-align:center; margin-right:5px;}
.innercontent .rulerdetail{ height:245px; overflow:auto; font-size:14px; line-height:20px; padding-right:5px;}
.intro .introtit,.applynum .applytit,.message .messagetit{ font-size:16px; height:62px; line-height:62px; padding-left:12px; border-bottom:#d7dcdc solid 1px;}
.nomessage{ text-align:center; font-size:12px; color:#50c8b4;line-height:21px; padding:20px 0;}
#applybtn,.mesbtn{ position:fixed; bottom:0; left:0; width:100%; background:#50c8b4; font-size:18px; color:#fff; height:54px; line-height:54px; text-align:center;}
.mesbtn a{ text-decoration:none; color:#fff; display:block;}
.allmessage,.allmessage2{/* position:fixed;*/ margin:7px; box-sizing:border-box; background:#fff;box-shadow: 2px 2px 2px rgba(0,0,0,.1); border-radius:5px; /*overflow:auto;*/}
.userphoto{width: 38px; height: 38px;  border:#d7dcdc solid 1px;float: left;  border-radius: 50%; overflow: hidden; display: inline-block; margin: 20px 7px 0 12px;}
.userphoto img{ width:100%;}
.username p:first-child{ padding-top: 23px; font-size: 13px; color: #3a3a3a;line-height: 1;}
.username p:last-child{ font-size: 10px; color: #9a9a9a; line-height: 1;padding: 11px 0 1px;}
.messagedetail{ font-size:14px; line-height:20px; padding:17px 12px; border-bottom:#d7dcdc solid 1px; box-sizing:border-box; word-break:break-all;}
.introdes .introtitle{margin: 15px 12px; font-size:14px;}
.introdes .intropro,.introdes div{ margin: 15px 12px; font-size:14px; line-height:23px; word-break:break-all; text-align:justify;}
.introdes .introimg{ width:100%;}
.introdes .introtip{ text-align:center;font-size:12px; line-height:20px; padding:11px 0;}
.lookmore{ height:50px; line-height:50px; font-size:13px; text-align:right; background:url(../images/back_right.png) right center no-repeat; background-size:7px 11px; padding: 0 19px; margin-right:12px;}
.applynum ul{ padding:20px 20px 0; box-sizing:border-box; max-height:302px; display:none;}
.applynum ul li{ float:left; list-style-type:none; width:20%; height:88px; text-align:center;}
.applynum ul li div{width:38px; height:38px; margin:0 auto;border:#d7dcdc solid 1px;border-radius:50%; overflow:hidden;}
.applynum ul li img{ width:38px; height:38px; }
.applynum ul li p{ text-align:center; line-height:1; padding:15px 0 20px; font-size:13px; overflow:hidden; white-space:nowrap; text-overflow: ellipsis;}
.applynum ul li .sangedian{ width:36px; height:8px !important; margin-top:40px;}
.hidden{display:none;}
.waitresult p{ text-align:center;font-size:12px; color:#50c8b4;line-height:21px; padding:20px 0;}
.applynum{ padding-bottom:5px;}
.grey{ background:#b3b3b3 !important;}
.tcstyle{ position:fixed; height:100%; top:0; left:0;}
.guideTop{ position:fixed; top:0; left:0; width:100%;z-index:98;}
.freeguideimg{ width:100%;}
.guideTop .freetryclose{ position:absolute; top:50%; margin-top:-1.5%; left:2.5%; width:3.2%; opacity:0;}
.guide{ position:absolute; top:0; left:0; z-index:99;}
.guide img{ width:100%; display:block;}