@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
body{ background:#eff4f5;}
.goodsList{ list-style-type:none;cursor:pointer;-webkit-tap-highlight-color: transparent; box-sizing:border-box; padding:3.5px;}
.goodsList li{ width:50%; display:inline-block; box-sizing:border-box; padding:3.5px;}
.goodsList li div.box{ border-radius:5px; overflow:hidden; background:#fff;}
.goodsList li img{ width:100%;display: block;}
p.zhongcaonum{ text-align:right; color:#9a9a9a; font-size:12px; line-height:1; }
.goodsList p.goToBuy,.goodsList p.zhongcao{ width:50%; /*display:inline-block;*/ float:left; text-align:center;height:40px; line-height:40px; font-size:12px; color:#9a9a9a;}
.goodsList p.zhongcao1:before{ content:""; width:32px;padding:10px 0; vertical-align: -5px; display:inline-block;background:url(../images/zhangcao1.png) no-repeat; background-size:21px 19px;}
.goodsList p.zhongcao2:before{ content:""; width:32px;padding:10px 0; vertical-align: -5px; display:inline-block; background:url(../images/zhangcao2.png) no-repeat; background-size:21px 19px;}
.goodsList p.zhongcao2{ color:#50c8b4;}
.goodsList p.zhongcao{font-size:10px;}
.goodsList p.goToBuy{ color:#fff;}
.goodsList p.goToBuy:before{ content:""; width:32px;padding:10px 0; vertical-align: -5px; display:inline-block;background:url(../images/gowuche.png) no-repeat; background-size:22px 21px;}
.goodsList p.goToBuy1{ background:#b3b3b3;}
.goodsList p.goToBuy2{background:#50c8b4;}
.goodsList p.title{padding:15px 13px 10px; font-size:14px; color:#3a3a3a; line-height:1; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.goodsList p.price{padding:0 13px 10px; font-size:12px; color:#4c4c4c; line-height:1; border-bottom:#d7dcdc solid 1px;}
.goodsList p.price span{ color:#fa6e64;}
.noneGoods{ text-align:center;}
.noneGoods img{ width:84px; margin:140px 0 26px 0;}
.noneGoods p{ font-size:12px; color:#9a9a9a;}
.noneGoods p.back{ width:285px; height:45px; line-height:45px; color:#fff; font-size:18px; border-radius:5px; background:#50c8b4; position:fixed; bottom:80px; left:50%; margin-left:-142px;}
.pullUpIcon  {
	display:block; 
	width:40px; height:40px;
	margin:0 auto;
	background:url(../images/pull-icon@2x.png) 0 0 no-repeat;
	-webkit-background-size:40px 80px; background-size:40px 80px;
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:250ms;	
}
.pullUpIcon {
	background-position:0 100%;
	-webkit-transform:rotate(0deg) translateZ(0);
	-webkit-transition-duration:0ms; 
	-webkit-animation-name:loading;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}
.isWei img{ width:100%; position:absolute; top:0px;}
.isWei{ position:absolute; top:0px; background:#fff; width:100%; display:none;}

@-webkit-keyframes loading {
	from { -webkit-transform:rotate(0deg) translateZ(0); }
	to { -webkit-transform:rotate(360deg) translateZ(0); }
}
a[title*="站长统计"]{ display:none;}