*{ margin:0px; padding:0px; list-style:none;-webkit-appearance:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
body {background: #eee;font-family:"微软雅黑";font-size: 14px;color:#000;padding: 0; background:#f1f6f5; border:none;vertical-align: baseline;}
input{ -webkit-appearance:none;}
.search{ margin:12px 0; width:85%; height:25px; border:none; padding:0 28px 0 22px; box-sizing:border-box; background:#3a3a3a url(../images/index_search.png) no-repeat 6px center; background-size:13px; font-size:12px; color:#fff; line-height:25px; float:left; border-radius:0px;}
.search_box{ width:100%; margin:0 auto; height:50px; background:#fff; border-bottom:1px solid #d7dcdc; position:relative;}
input[type="search"]{-webkit-appearance:none;} 
input::-webkit-search-cancel-button {display: none;}
a[title*="站长统计"]{ display:none;}
.sb_left_arr{ width:10px; float:left;margin: 15px 15px 0 13px;}
.bc_history_search,.bc_hot_search{ width:100%; background:#fff; box-shadow:0px 2px 3px rgba(0,0,0,.2); border-radius:5px;}
.bc_hot_search{ margin:7px 0 0 0;}
.box_content{ padding:7px 10px;}
.bc_history_search .bhs_p,.bc_hot_search .bhs_p{ width:50%; display:inline-block; height:40px; line-height:40px; font-size:14px; color:#9a9a9a;}
.bc_history_search .bhs_btn_del{ width:13px; float:right; margin: 13px 5px 0 0;}
.bc_history_search .bhs,.bc_hot_search .bhs{ margin:0 10px; border-bottom:1px solid #f7f7f7;}
.history_list,.hot_list{ margin:0 10px;}
.history_list li{ border-bottom:1px solid #f7f7f7; height:40px; line-height:40px; color:#4c4c4c; font-size:14px; background:url(../images/index_search_time.png) no-repeat left center; background-size:15px; padding: 0 0 0 20px; position:relative;ext-overflow: -o-ellipsis-lastline; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1;-webkit-box-orient: vertical;}
.hot_list li{border-bottom:1px solid #f7f7f7; height:40px; line-height:40px; color:#4c4c4c; font-size:14px;}
.history_list li div{ width:90%;ext-overflow: -o-ellipsis-lastline; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1;-webkit-box-orient: vertical;}
.hot_list li{ width:99%;}
.bhs_list_del{ width:16px; position:absolute; top:14px; right:4px;}
.bhs_look_more p{ width:140px; text-align:center; border-radius:5px; border:1px solid #50c8b4; height:28px; line-height:28px; margin:0 auto; font-size:13px; color:#50c8b4;}
.blm_arr{ width:11px;}
.bhs_look_more{ width:100%; padding:20px 0; position:relative; display:none;}
.hot_list .hl_left,.hot_list .hl_right{ float:right; width:47%;height: 28px;line-height: 28px;margin: 7px 0;ext-overflow: -o-ellipsis-lastline; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1;-webkit-box-orient: vertical;}
.hot_list .hl_left{ border-right:1px solid #ebeeed; width:49%; float:left;}
.sb_del{ width:15px; position:absolute; top:12px; right:20px; padding:5px; display:none;}
input{-webkit-appearance:none;}
.bhs_look_more p span{ margin:1px 0 0 0; display:inline-block;}
