* {margin: 0px;padding: 0px;border: none;text-decoration: none;list-style: none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-appearance:none;}
body, html {font-size: 14px;font-family: "微软雅黑"; background: #f6fafb;}
.box {max-width: 750px;margin: 0 auto 20%;height: auto;background: #f6fafb;}
.box-tab{ overflow:hidden; padding:.64rem 0; border:1px solid #d1d4d4; background:#fff;}
.box-tab .bt-left,.box-tab .bt-right{ width:50%; float:left; text-align:center; box-sizing:border-box; font-size:1.07rem; color:#3a3a3a;}
.box-tab .bt-right{ float:right; padding: 0 15% 0 0;}
.box-tab .bt-left{ float:left; padding: 0 0 0 15%;}
.box-tab .bt-current{ text-decoration:underline; color:#50c8b4;}
.box-tab-content .btc-left{ width:100%; padding:0 1.5%; box-sizing:border-box; margin:1rem 0 0 0;}
.box-tab-content .btc-right{ width:100%; display:none;}
.box-tab-content{ overflow:hidden;}
.three-steps{ border-radius:.71rem; overflow:hidden; background:#fff; box-shadow:0px 2px .46rem rgba(0,0,0,.2); margin:0 0 1rem 0; display:none; }
.three-steps .ts-title{ color:#4c4c4c; font-size:.93rem; text-align:center; padding:1.43rem 0; }
.three-steps .ts-img{ width:81.25%; display:block; margin:0 auto 1.07rem;}
.three-steps .ts-status li{ width:33.3%; float:left; text-align:center; color:#4c4c4c; font-size:.86rem;}
.three-steps .ts-status{ overflow:hidden; margin:0 0 1rem 0;}
.time-line{ width:100%; overflow:hidden; position:relative;}
.time-line .line{ width:1px; background:#50c8b4; position:absolute; left:5.5%;}
.time-line ul{ position:relative;}
.time-line ul li{ margin:1% 0 .6rem 4%; background:url(../images/Oval%2022%20Copy%E5%9C%86%E7%82%B9.png) no-repeat left center; background-size:3.5%; padding:0 0 0 .86rem;display: list-item; text-align: -webkit-match-parent;}
.time-line ul li .line-box{ width:100%; overflow:hidden;}
.lb-date{ text-align:center; color:#b3b3b3; font-size:.71rem; line-height:1.42rem;}
.line-box .lb-box{ width:94%; overflow:hidden; box-sizing:border-box; background:#fff; margin:0 auto .1rem; padding:.71rem; border-radius:.71rem;  box-shadow:0px 2px .46rem rgba(0,0,0,.2);}
.lb-box .left{ width:80.5%; float:left;}
.lb-box .right{ float:right; font-size:.71rem; color:#b3b3b3;}
.lb-dresser{ clear:both; font-size:.71rem; color:#b3b3b3; line-height:1.42rem; width:80.5%;margin: 0 0 -.2rem 0;}
.left-status{ color:#4c4c4c; font-size:.86rem;}
.time-line ul li:nth-child(1){ background:url(../images/%E5%AF%B9@640.png) no-repeat left center; background-size:4%;}
.btc-right .orderInfo-title{ width:100%; padding: .57rem 0; text-align:center; font-size: .93rem; background: #50c8b4; color:#fff;}
.hzs-cover{ padding:.71rem 1rem; background:#fff url(../images/back_right_l.png) no-repeat 96% center; margin:0 0 .71rem 0; border-bottom:1px solid #d2dce6; overflow:hidden; background-size:3.4%; }
.hzs-img{ width:6.07rem; border:1rem; float:left; border-radius:.7rem;}
.hc-right{ float:left; margin:0 0 0 5%; width: 60%;}
.work-type{ padding:.36rem .86rem; background:rgba(0,0,0,.5); border-radius:2rem; color:#fff; font-size:.86rem; float:left;}
.work-price{ color:#fa6e64; font-size:2rem; float:left; margin:-3% 0 0 1.2rem;}
.money{ font-size:1.07rem;}
.hr-bottom span{margin: 0 2% 0 0;display: inline-block;padding: 0.05rem 0.36rem;font-size: 0.71rem;background: #6ed7c8;border-radius: 10px;text-align: center;border: 1px solid #6ed7c8;color: #fff;}
.hr-bottom{overflow: hidden; clear: both; margin: 1% 0 0 0;}
.hr-middle{ overflow: hidden; margin-top: 4%;}
.box-hzs {width: 100%;border: 1px solid #cbd3d3;border-left: none;border-right: none;overflow: hidden;background: #fff;padding:.71rem 1rem;box-sizing: border-box;}
.bh-left {width: 60px; height:60px;float: left;box-sizing: border-box;position: relative; border-radius:50%; border:#d7dcdc solid 1px;}
.bh-right {float: left;width: 72%;padding: 0 0 0 1.1rem;box-sizing: border-box; margin:3% 0 0 0;}
.img-vip {width: 30%;position: absolute;top: -2%; display:none;}
.bh-name {color: #434343;font-size: 1.07rem;}
.bh-start img {width: 7%;display: inline-block;}
.bh-start {margin-top: 4%;}
.bl-photo{border-radius:50%; height:60px; width:60px;}
.bh-right .sex{ width:7%; margin:0 0 0 2%;}
.content-cost,.content-order{width: 100%;overflow: hidden;background: #fff;margin: .5rem 0 .5rem 0;border: 1px solid #e3e8e8;border-left: none;border-right: none;}
.content-cost li,.content-order li {padding: 0 5%;border-bottom: 1px solid #e3e8e8;box-sizing: border-box;overflow: hidden;background:url(images/order-arr-right_03.png) no-repeat95% 55%;background-size: 2%;}
.content-cost li .left,.content-order li .left {color: #434343;font-size: .93rem;float: left;width: 30%;padding: 1.2rem 0;text-align: left;}
.content-cost li .right,.content-order li .right {color: #9ba0a0;font-size: .93rem;float: right;width: 70%;padding: 1.2rem 0 1.2rem 0;text-align: right;position: relative;}
.content-cost li .content-payment{ color:#fa6e64;}
.content-payment{ float:right; width:70%; padding:1.2rem 0;}

/*  所有按钮 */
.btn{ position:fixed; bottom:0px; width:100%; }
.btn .btn-cancle{ width:100%; text-align:center; padding:1rem 0; border-top:1px solid #50c8b4; color:#50c8b4; font-size:1.07rem; background:#fff; display:none;}
.btn .btn-four{ width:100%; overflow:hidden; display:none;}
.btn .btn-four .bf-cancle,.btn .btn-four .bf-pay{ width:50%; text-align:center; font-size:1.07rem; padding:1rem 0;}
.btn .btn-four .bf-cancle{ float:left; background:#fff; border-top:1px solid #50c8b4; color:#50c8b4}
.btn .btn-four .bf-pay{ float:right; background:#fa6e64; color:#fff;}
.btn .btn-again{ width:100%; text-align:center; padding:1rem 0; color:#fff; font-size:1.07rem; background:#50c8b4; display:none; }
.btn .btn-five{ width:100%; overflow:hidden; background:#50c8b4; color:#fff; display:none;}
.btn .btn-five .bf-another,.btn .btn-five .bf-again{width:50%; text-align:center; font-size:1.07rem; padding:1rem 0;}
.btn .btn-five .bf-another{ float:left; border-right:1px solid #fff; width:49%;}
.btn .btn-five .bf-again{ float:right;}
.btn .btn-another{ width:100%; text-align:center; padding:1rem 0; color:#fff; font-size:1.07rem; background:#50c8b4; display:none;}
.btn .btn-six{ width:100%; text-align:center; padding:1rem 0; color:#fff; font-size:1.07rem; background:#b3b3b3; display:none;}
.btn .btn-seven{ width:100%; text-align:center; padding:1rem 0; color:#fff; font-size:1.07rem; background:#50c8b4; display:none;}
.btn .btn-ten{ width:100%; text-align:center; padding:1rem 0; color:#fff; font-size:1.07rem; background:#50c8b4; display:none;}
.content-chargeback{ width:70%; background:none; padding:1.2rem 0; text-align:right; color:#9BA0A0; float:right;}

/*  评价页面 */
.box-ping{ display:none;}
.complain textarea{ width:90%; margin-left:2%;border: solid 1px #c3c8c8; resize: none; padding: 10px 10px;}
.complain_btm1 input{width: 100px; height: 95px; position: absolute; margin-top: -20px; padding-left: 8px; -webkit-tap-highlight-color: rgba(255,255,255,0);}
.complain_tj{width: 80px; height: 80px; overflow: hidden; padding: 10px 0 0 10px;}
.complain_btm{width: 100%; height: auto; padding-bottom: 10px; background: #fff; border-bottom: 1px solid #cbd3d3; overflow:hidden;}
.complain_btm1{position: relative; overflow: hidden; display:inline-block;}
.li_workDetails{width: 100%; height: auto; background: #fff; margin: 10px 0 7rem 0;}
.li_workDetails{width: 100%; height: auto; background: #fff; margin: 10px 0 5rem 0; position:relative;}
.li_workDetails ul{border-top: 1px solid #cbd3d3;}
.comolain_title{font-size: 1.5em;}
.li_workDetails ul li{height: 50px; line-height: 50px; border-bottom: 1px solid #cbd3d3; padding: 0 10px; color: #141e28; position:relative;}
.li_workDetails ul li p{display: inline-block;}
.li_workDetails ul li p>img{width: 40px; height: 40px; border-radius: 50px; position:absolute; top:5px;}
.complain_footer1{width: 100%; height: 60px; border-top: solid 1px #c3c8c8; position: fixed; bottom: 0; display: block; background:#fff;}
.complain_footer1 p{width: 92%;height: 40px;background: #fa6e64;border-radius: 10px;margin: 0 auto;text-align: center;line-height: 40px;color: #fff;font-size: 1.5em;margin-top: 10px;}
.complain{width: 100%; overflow: hidden; background: #fff; padding-top: 10px;}
.evaluate_head{width: 100%;height: auto;padding-top: 20px;}
.center_img{width: 82px;height: 82px;margin: 0 auto;position: relative;}
.center_img p>img{width: 82px;height: 82px;border-radius: 50px;overflow: hidden;}
.evaluate_head .vv{width: 20px;position: absolute;top: 0px;}
.evaluate_main{margin: 20px;}
.evaluate_main p{text-align: center;padding-top: 10px;font-size: 1.3em;color: #9ba0a0;}
.evaluate_main p>img{width: 25px;margin: 0 3px;}
.evaluate_foot{width: 90%; height: auto; font-size: 1.2em; margin: 0 auto;color: #50c8b4;border-bottom: solid 1px #c3c8c8;line-height: 20px;padding-bottom: 10px;}
.evaluate_btm ul{text-align: center;}
.evaluate_btm ul li{width: 100px;height: 100px;display: inline-block; border-radius: 10px;overflow: hidden; margin: 20px 10px;}
.evaluate_time{font-size: 1em;color: #c3c8c8;text-align: center;padding-bottom: 10px;}
.content li.li_workDetails{width: 100%;height:auto; background: #fff;margin:10px 0 0 0; border-top: 1px solid #e3e8e8; padding: 0;}
.content li.li_workDetails .pingj{width:90%;height: 50px;line-height: 50px;padding: 0 5%;color: #141e28;font-size: 1em;}
.content li.li_workDetails .pingj b{ margin-top: 15px;float: right;}
.content li.li_workDetails .pingj b>img{width: 7px; margin:.4rem 0 0 0;}
.content li.li_workDetails .tous{ width:90%;height: 50px;line-height: 50px;padding: 0 5%;color: #141e28;font-size: 1em;}
.content li.li_workDetails .tous b{ margin-top: 15px;float: right;}
.content li.li_workDetails .tous b>img{width: 7px; margin:.4rem 0 0 0;}
.evaluate input{background: url(../images/star_p.png) no-repeat scroll right center;cursor: pointer;height: 30px;width: 29px;padding: 0;border: 0;position: relative;top: -6px;-webkit-tap-highlight-color: rgba(255,255,255,0);}
.li_workDetails ul li{height: 50px;line-height: 50px;border-bottom: 1px solid #cbd3d3;padding: 0 10px;color: #141e28;position: relative;}
.evaluate{float: right;}
.evaluate div{margin-top: .5rem; margin-bottom: -.5rem;}
.evaluate input.active{background-position: left center;height: 30px;width: 29px;padding: 0;border: 0;position: relative;right: -3px;top: -6px;}
#dd img{border-radius:10px;float:left;margin-left:10px;width:80px;height: 80px;display:block;}

/*  提示弹框 */
.alert{ width:300px; height:150px; background:#fff; border:1px solid #CCC; position:absolute; top:20%; text-align:center; margin:0 0 0 -150px; left:50%; border-radius:.5rem; overflow:hidden;}
.alert .btn-ok{ position:absolute; bottom:0px; width:100%; padding:.8rem 0; text-align:center; border-top:1px solid #ccc;}
.alert .ab-title{ line-height:3rem;}
.alert-box,.hz-alert-box{ position:fixed; width:100%; background:rgba(0,0,0,.5); top:0px; display:none;}
.alert .btn{ position:absolute; border-top:1px solid #ccc;}
.alert .btn .btn-left{ float:left; width:50%; padding:.5rem 0; border-right:1px solid #ccc;}
.alert .btn .btn-right{ float:right; width:49%; padding:.5rem 0;}

.reason{ display:none;}
.box-zhifu {position:relative; overflow: hidden; display:none;}
.pay {border: 1px solid #e3e8e8;border-left: none;border-right: none;background: #fff;padding: 1rem 0;display: block;}
.pay img {width: 21%;margin: 0 auto; display:block;}
.choose{width:7%;position:absolute;top:26%;right:8%;}
.use-voucherss{ width:100%; border-top:1px solid #d7dcdc; border-bottom:1px solid #d7dcdc; background:#fff url(../images/black_right.png) no-repeat 99%; overflow:hidden;padding: 0 5%; box-sizing:border-box; font-size:.93rem; background-size:2.5%; display:none; }
.use-voucherss .uv-left{ float:left; padding:1.07rem 0; color:#434343;}
.use-voucherss .uv-right{ float:right; padding:1.07rem 0; color:#9ba0a0;}

.use-vouchers{ display:none;}
/*  优惠券 */
.box-vouchers{ padding:.3rem 1.5%; display:none; background:#f6fafb;}
.voucher,.voucher-no{width:100%; height:7.5rem; border-radius:.71rem; box-sizing:border-box; margin:0 0 .5rem 0;background:url(../images/xwc-vouchers_03.png) no-repeat; background-size:100% 100%; position:relative;}
.vt-left{ float:left; width:32%; text-align:center;}
.vt-right{ float:right; width:64%; }
.vl-top{ font-size:2.2rem; color:#50c8b4; font-weight:bold; margin-top: 1rem;}
.vl-bottom{ font-size:.73rem; color:#50c8b4;}
.vr-top{ font-size:.91rem; color:#9a9a9a; line-height:3rem;}
.vr-bottom{ color:#9a9a9a; font-size:1.1rem; margin-top: .8rem;}
.use-status{ text-align:center; width:32%; position:absolute; bottom:.45rem; left:0px; color:#fff; font-size:.85rem;}
.use-date{ text-align:center; width:68%; position:absolute; bottom:.45rem; right:0px; font-size:.85rem; color:#fff;}
.voucher-no{ background:url(../images/xwc-vouchers-no_03.png) no-repeat; background-size:100% 100%;}
.gray{ color:#9a9a9a;}
.vouchers-img{ margin:50% auto 0; width:30%; display: block;}
.voucher-p{ text-align:center; color:#CCC; line-height:2rem;}
.no-vouchers{ display:none;}
.loading{ position:fixed; width:100%; background:rgba(0,0,0,.4); top:0px; z-index:9999; display:none;}
.loading img{ margin:20% auto 0; display:block;}
.use-act-pay{ display:none;}

/*  透明遮罩层 */
.white-box{ width:100%; height:20rem; background:none; position:absolute; top:0px; display:none;}
.ping{ background:#fff url(../images/order-arr-right_03.png) no-repeat 96% center; overflow:hidden; padding:1rem 5%; box-sizing:border-box; border-bottom: 1px solid #e3e8e8; border-top: 1px solid #e3e8e8; color:#434343; background-size:2.5%; display:none;}
.ping .ping-left{ float:left;}
.ping .ping-right{ float:right;padding: 0 5% 0 0;}

/*  上传图片 */
a,input{outline: none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
#choose{display: none;}
canvas{width: 100%;border: 1px solid #000000;}
#upload{text-align: center;border-radius: 5px;cursor: pointer;}
.touch{background-color: #ddd;}
.img-list li{position: relative; border-radius:.71rem; display: inline-block;width: 80px;height: 80px;margin: 5px;border: 1px solid rgb(100,149,198);background: #fff no-repeat center;background-size: cover; overflow:hidden;}
.progress{position: absolute;width: 100%;height: 20px;line-height: 20px;bottom: 0;left: 0;background-color:rgba(100,149,198,.5);}
.progress span{display: block;width: 0;height: 100%;background-color:rgb(100,149,198);text-align: center;color: #FFF;font-size: 13px;}
.size{position: absolute;width: 100%;height: 15px;line-height: 15px;bottom: -18px;text-align: center;font-size: 13px;color: #666;}
.tips{display: block;text-align:center;font-size: 13px;margin: 10px;color: #999;}
.pic-list{margin: 10px;line-height: 18px;font-size: 13px;}
.pic-list a{display: block;margin: 10px 0;}
.pic-list a img{vertical-align: middle;max-width: 30px;max-height: 30px;margin: -4px 0 0 10px;}
a[title*="站长统计"]{ display:none;}
