/* CSS Document清除默认样式 */
html, body, div, span,iframe,h1, h2, h3, h4, h5, h6, p, pre,a, em, img,small,strong,b, i,dl, dt, dd, ol, ul, li, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td, footer, header,  menu, nav, section,input{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font:inherit;
    vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
aside, footer, header,  menu, nav, section {display: block;}
ol, ul {list-style: none;}
table {border-collapse: collapse;border-spacing: 0;}
/*全局控制*/
body {line-height:1;background:#fff;color:#555;font-size:12px; font-family:"微软雅黑";}
a{display:block; text-decoration:none; cursor:default;}
.no_margin{ margin:0;}
.pink, a.pink, .pr_1 > .btn > li > a.pink, .you_heart .scoll_date > .state_1 .re .btn > li > a.pink{ color:#E95B97;}
.yellow{ color:#FFF17E;}
.blue{ color:#75B9C6;}
.gray{ color:#C4C4C4;}
.float{ float:left;}
img{ vertical-align:middle;}

/*正文*/
html,body{
    width: 100%;
    height: auto;
    background: #f0f5f5;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    font-family: "微软雅黑";
    font-size: 12px;
    overflow-x: hidden;
}
.box{
    width: 100%;
    height: auto;
    font-family: "微软雅黑";
    padding-bottom: 10px;
}
.box1{
    width: 100%;
    height: auto;
    font-family: "微软雅黑";
    padding-bottom: 10px;
    display: none;
}
.box2{
    width: 100%;
    height: auto;
    font-family: "微软雅黑";
    padding-bottom: 10px;
    display: none;
}
.box3{
    width: 100%;
    height: auto;
    font-family: "微软雅黑";
    padding-bottom: 10px;
}
.conter{
    position: absolute;
    width: 100%;
    top: 88px;
    top: 0;
    bottom: 100px;
}
.conter1{
    position: absolute;
    width: 100%;
    top: 88px;
    top: 0;
    bottom: 100px;
    margin-top: 107px;
}
.conter3{
    position: absolute;
    width: 100%;
    top: 88px;
    top: 0;
    bottom: 100px;
    margin-top: 88px;
}
.conter4{
    position: absolute;
    width: 100%;
    top: 88px;
    top: 0;
    bottom: 100px;
}
.conter2{
    position: absolute;
    width: 100%;
    top: 88px;
    top: 0;
    bottom: 100px;
    background-color: #f5fafa;
}
/*head头部*/
/*.head_s{height: 50px;display: -webkit-box;background: #1c1b21;
}
.head_s_left{ width: 20px;line-height: 50px;-webkit-box-flex: 1;padding-left:10px; 
}
.head_s_left>img{width: 15px;
}
.head_s_center{-webkit-box-flex: 2;text-align: right;line-height: 50px;font-size: 1.5em;color: #fff;
}
.head_s_right{-webkit-box-flex: 3;text-align: rightline-height: 50px;padding-right:10px; 
}*/
.s_nav{
   width: 100%; height: 50px; background: #1c1b21; -webkit-box-flex: 1; line-height: 50px; color: #fff;font-size: 18px;
    text-align: center;position: relative;
}
.s_nav a{
     line-height: 50px; color: #fff;font-size: 1em;text-align: right; display: inline-block;position: absolute ;
     right: 10px;
}
.s_nav a:active{
    color: #fff;
}
.sw_search{
    width: 100%; height: auto; background: #fff;padding-bottom: 4px;  padding-top: 8px;
}
.s_search{
    width: 94%; height:45px;margin: 0 auto;background: #fff;position: relative;
}
.s_search form input{
    height:40px;width: 100%;border: solid 1px #d7dcdc; border-radius: 10px;
    background: url(../images/Search.png) 10px no-repeat; background-size:25px; padding-left: 35px;
}
.sw_search>button{
    position: absolute;
    top: 67px;
    right: 20px;
    padding: 5px 10px;
}
.sy_main{
    height: auto;
    width: 100%;
    background-color: #fff;
}
.s_main{
    width:100%;height: auto; background: #fff;
}
.s_title{
    line-height: 50px;font-size: 1.2em; background: #fff; color: #8c96a0; -webkit-box-flex: 1; padding-left: 10px; display: block; position: relative;
}
.s_title a{
    -webkit-box-flex: 2; color: #8c96a0;display: inline-block;position: absolute ; right: 20px;background-size: 8px;
}
.s_title a>img{
    width: 7px;
    margin-top: -2px;
}
.s_title a:active{
     color: #8c96a0;
}
.s_main_center{
    width: 47%;height: auto; display: inline-block; border: solid 1px #dee2e2;
    border-radius:5px; margin-left: 1.7%; margin-bottom: 8px;overflow: hidden;
	position:relative;
}

.s_main_cone{
    width: 100%;height: 100%; display: inline-block; overflow: hidden;
}
.s_main_cone a{
    width: 100%;
	overflow: hidden;
}

.s_main_cone>img{
    width: 100%;
}
.s_main_ctwo{
    width: 100%;height: 27px;margin: 5px;
}
.s_main_ctwo p{
    padding: .3rem .2rem; display: inline-block;  border: solid 1px #50c8b4; color: #50c8b4; border-radius: 15px;
}
.s_main_ctwo span{
    color: #ff6e64; font-size: 1.3em; display: inline-block; float: right; padding-right: 10px; line-height: 30px;
}
.s_btn{
    width: 100%;height: 40px;line-height: 40px;text-align: center; border-top: solid 1px #dee2e2;border-bottom: solid 1px #dee2e2;
    color: #8c96a0;background: #fff;font-size: 1.2em;
}


/*more.html  更多页面*/
.more_nav{
    height: 40px; line-height: 40px;width: 100%;background: #fff;text-align: center;font-size: 1.2em;
    color: #8c96a0;border-top: solid 1px #dee3e3;border-bottom: solid 1px #dee3e3;
    text-shadow:none; letter-spacing: 5px;
}
.more_main{
 width: 100%;height: auto; -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.more_main>a{
     width: 100%;height: auto; -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.more_main01{
    width: 100%;
    height: auto;
    background:#fff;
    padding-top: 15px;
    margin-top: 10px;
    border-top: solid 2px #dbdede;border-bottom: solid 2px #dbdede;
	position:relative;
}
.more_main02{
    width: 80%;
    height: auto;
    background: #e5e5e5; margin: 0 auto;border-radius: 10px;
	position:relative;
}
.s_main_ctwo1{
    width: 80%;height: 27px;margin-left: 10%;padding-left: 7px;margin-top: 10px; 
}
.s_main_ctwop{
    width: 80%;overflow: hidden;
}
.s_main_ctwo1 .s_main_ctwop p{
    padding: 5px 8px; display: inline-block; border: solid 1px #50c8b4; color: #50c8b4; border-radius: 15px;margin-left: 5px;
}
.s_main_ctwo1 span{
    color: #ff6e64; font-size: 1.3em; display: inline-block; float: right; padding-right: 10px; line-height: 30px;
}
.more_main03{
    width: 80%;margin-left: 10%;color: #8c96a0;overflow: hidden;
}
.more_main03 p{
    width: 96%;line-height: 17px;font-size: 13px;padding: 10px 6px;
}
/*返回顶部*/
.more_top{
    position: fixed;bottom: 70px;right: 10px;
}
.more_top>img{
    width: 40px;
}
.more_topone{
    position: fixed;bottom: 50px;right: 10px;
}
.more_topone>img{
    width: 40px;
}


/*follow.html  关注*/
.follow_nav{
    width: 50%; margin: 0 auto;padding-top: 20px;
}
.follow_nav>img{
    width: 100%;
}
.follow_text{
    width: 100%;text-align: center;margin-top:25px;line-height: 18px;font-size: 1.3em;color: #8c96a0;
}
.follow_text p{
    display: inline-block;background: #67bdbe;padding: 6px 40px;border-radius: 10px;color: #fff;
}
.follow_nav2{
    width: 70%;margin: 0 auto; padding-top: 25px;
}
.follow_nav2>img{
    width: 100%;
}
.follow_text2{
    width: 100%;text-align: center;margin-top:25px;line-height: 18px; font-size: 1.3em;color: #8c96a0;padding-bottom: 50px;
}



/*search_one.html  搜索一*/
.search_one_main{
    width: 100%;height: auto;
}
.head01{
    width: 100%; height: 100px;  margin:  0 auto;border-bottom: solid 1px #d7dcdc;border-top: solid 1px #d7dcdc;
     margin-top:5px;position: relative; background-color: #fff;
}
.head01 .center_img{
    width: 82px; height: 82px;float: left;display: inline-block;border-radius: 10px;
}
.head01 .center_img>img{
    margin-top: 6px; margin-left: 10px; width: 100%;height:100%; border-radius: 10px; overflow: hidden;
}

.head01 .center_text{
  padding-left: 100px;display:block;position: relative;top: 8px;padding-right: 5px;
}
.head01 .center_text .search_one_top{
    color: #fa6e64;font-size: 1.1em;text-align: right; margin-right: 10px;
}
.head01 .search_main_ctwo{
        width: 100%;height: 27px;margin: 4px 0;overflow: hidden;
}
.head01 .search_main_ctwo p{
    padding: 5px 8px;margin-left: 5px; display: inline-block;  border: solid 1px #9a9a9a; color: #9a9a9a; border-radius: 15px;
}
.head01 .search_main_ctwo span{
    color: #ff6e64; font-size: 1.3em; display: inline-block; float: right; padding-right: 10px; line-height: 30px;
}
/*===两行显示点点点===*/
.love-item-title{
    display: -webkit-box;height: 39px; /*border-bottom: solid 1px #d7d7d7;*/margin: 0 5px;
}  
.love-item-title span {
    -webkit-line-clamp: 2;-webkit-box-orient: vertical;display: -webkit-box; overflow: hidden; font-size: 12px; text-align: left;height: 28px; line-height: 14px; color: #333;
}
/*===end点点点==*/
.btn{
    width: 100%; height: 30px; line-height: 30px; text-align: center; font-size: 1.3em; margin-top: 15px;
}

.search_one_main2 .more_nav{
    margin-top: 10px;
}

.head>img{
    width: 100%;
}
.head_w{
    height: 200px;overflow: hidden;
}
/*导航图上的资料内容*/

.search_one_main2 .head02{
    width: 100%;height: 85px;margin:  0 auto;position: relative;color: #333;background-color: #fff;
}
.search_one_main2 .head02 .center_img{
    width: 60px; height: 60px; float: left; border-radius: 30px;
}
.search_one_main2 .head02 .center_img>img,.searimgbox img{
    margin:1px 0 0 1px;width:65px;height: 65px;border-radius: 100%;
}
.searimgbox{margin:10px 0 0 10px;width:67px;height: 67px;border-radius: 50%; background:#d7dcdc;}
.search_one_main2 .head02 .center_text{
    padding-top: 6px;padding-left: 28px; display: inline-block;color: #fff;border-bottom: solid 1px #dee3e3;
    width: 70%;padding-bottom: 5px;
}
.search_one_main2 .head02 .center_img p{
    width: 15px; height: 15px;position: absolute; left: 58px;top: 6px;
}
.search_one_main2 .head02 .center_img p>img{
    width: 15px;
}
.search_one_main2 .head02 .center_text ul li{
    line-height: 20px;color: #333;font-size: 13px;
}
.search_one_main2 .head02 .center_text ul li span{
    margin-left: 20px;position: absolute;top: 30px;right: 10px;
}
.search_one_main2 .head02 .center_text ul li span>img{
    width: 10px;
}
.search_one_main2 .head02 .center_text ul li span p{
    display: inline;margin-right: 5px;
}
.search_one_main2 .head02 .center_text ul li span p>img{
    width: 12px;
}
.search_one_main2 .head02 .center_text ul li span b{
    position: relative;
    top: 1px;
}
.search_one_main2 .head02 .center_text ul li b{
    line-height: 26px;font-weight: 17px;font-size: 16px;color: #555; margin-right: 5px;
}
.search_one_main2 .head02 .center_text ul li b>img{
    width: 13px;
}
.search_one_main2 .head02 .center_text ul li p{
    display: inline-block;
}
.search_one_main2 .head02 .center_text ul li a{
  display: inline-block;
}
.search_one_main2 .head02 .center_text ul li a.text1{
   color: #fa6e64;
}
.search_one_main2 .head02 .center_text ul li i{
    line-height: 32px;font-weight: 18px; font-size: 15px; color: #666;
}
.search_one_main2 .head02 .center_text ul .search_main_ctwo{
     width: 94%;height: 24px; margin: 3px -3px 0;overflow: hidden;
}
.search_one_main2 .head02 .center_text ul .search_main_ctwo p{
    padding: 3px 6px; display: inline-block;  border: solid 1px #9a9a9a; color: #9a9a9a; border-radius: 15px;
    margin-left: 3px; font-size:12px; line-height:1;
}
.more_nav1{
    height: 40px; line-height: 40px;width: 100%;background: #fff;text-align: center;font-size: 1.2em;
    color: #8c96a0;border-top: solid 1px #dee3e3;border-bottom: solid 1px #dee3e3;text-shadow:none;
    margin-top: 10px;letter-spacing:5px;
}
.s_btn1{
    width: 100%;height: 40px;line-height: 40px;text-align: center; border-bottom: solid 1px #dee2e2;
    color: #8c96a0;background: #fff;font-size: 1.2em;
}


/*@media (min-width:430px){
    .head01{
        width: 100%; height: 100px;  margin:  0 auto;border-bottom: solid 1px #d7dcdc;position: relative;
    }

    .head01 .center_text{
      padding-left: 90px; color: #fff;display: inline-block;position: relative;top:10px;padding-right: 5px;
    }
    .search_one_main2 .head02 .center_text{
        padding-top: 6px;padding-left: 28px; display: inline-block;color: #fff;border-bottom: solid 1px #dee3e3;
        width: 72%;padding-bottom: 10px;
    }
}*/

/*search_one.html  搜索一*/
.search_two_main{
    width: 100%;
    height:auto;
}
.search_two_main .search_img{
    width: 130px;
    margin: 0 auto;
    margin-top: 80px;
}
.search_two_main .search_img>img{
    width: 100%;
    margin: 0 auto;
}
.search_text1{
    width: 100%;
    text-align: center;
    margin:20px 0 30px 0;
    color: #c3c8c8;
    font-size: 1.2em;
}
.search_btn1{
    width: 155px;    
    color: #67bdbe;
    font-size: 1.4em;
    margin: 0 auto;
}
.search_btn1 span{
    border: solid 2px #67bdbe;
    text-align: center;
    padding: 9px 50px;
    border-radius: 10px;
    margin-top: 10px;
}


/*====我的订单   order.html===*/

.order_nav{
    width: 100%;height: 50px; background: #fff;border-top: solid 1px #d7dcdc;border-bottom: solid 1px #d7dcdc;
}
.order_nav_main{
    width: 100%;height: 60px;display: -webkit-box;-webkit-box-orient: horizontal; position: relative;
}
.order_nav_main>div{
    -webkit-box-flex:1;/*line-height: 30px;font-size: 1.4em;color: #333;margin-top: 10px;-webkit-box-pack: center;
    position: relative;*/
    height: 60px;
    line-height: 60px;
}
.order_nav_main .order_nav_mainleft{
   /*-webkit-box-flex:1;-webkit-box-align: center; text-align: right;*/
   display: -webkit-box;
    -webkit-box-pack:center;
}
.order_nav_main .order_nav_maincenter{
   /*-webkit-box-flex:2;-webkit-box-align: center; text-align: right;*/

}
.order_nav_main .order_nav_mainright{
   /* -webkit-box-flex:3;-webkit-box-align: center; text-align: center;*/
}
.order_nav_main .order_nav_mainleft p{
    /*width: 60px;
    height: 60px;
    background: #50c8b4;
    position: relative;
    left: 40px;*/
}
.order_nav_main .order_nav_mainleft p{
    width: 60px;
    height: 40px;
    border-bottom: 1px solid #50c8b4;
    line-height: 40px;
    text-align: center;
    position: absolute;

}
.order_nav_mai>div:active{
    color: #50c8b4;
}
/*.order_nav_main .order_nav_mainright p{
    width: 60px;
    height: 1px;
    background: #50c8b4;
    position: relative;
    left: 50px;
}*/
.order_nav_main .order_nav_mainleft span{
    width: 17px;
    height: 17px;
    line-height: 17px;
    text-align: center;
    background: #fa6e64;
    color: #fff;
    font-size: 0.8em;
    border-radius: 50px;
    position: absolute;
    right:-10px;
    top: 7px;
}

.order_main{
    width: 100%; height: auto; background: #fff;  margin: 0 auto; border:  solid 1px #d7dcdc;
    border-radius: 10px;overflow: hidden;margin-top: 8px;position: relative;
}

.order_main .aa{width: 100%;}
.order_main .head02{
    width: 100%;height: auto;margin:  0 auto;position: relative;color: #333;background-color: #fff; border-radius: 10px;
}
.order_main .head02 .center_img{
    width: 60px; height: 60px; float: left; border-radius: 30px;
}
.order_main .head02 .center_img>img{
    margin-top: 20px; margin-left: 10px;width:65px;height: 65px;border-radius: 50px;border: solid 3px #ffffff;
}
.order_main .head02 .center_text{
    padding-top: 23px;padding-left: 24px; display: inline-block;color: #fff;width: 72%;padding-bottom: 15px;
}
.order_main .head02 .center_img p{
    width: 15px; height: 15px;position: absolute; left: 15px;top: 62px;
}
.order_main .head02 .center_img p>img{
    width:100%;position: absolute; left: 0px;top: 0px;
}
.order_main .head02 .center_text ul li{
    line-height: 20px;color: #787d7d;font-size: 13px;
}
.order_main .head02 .center_text ul li b{
    line-height: 26px;font-weight: 17px;font-size: 18px;color: #141e28; margin-right: 5px;
}
.order_main .head02 .center_text ul li a{
    display: inline-block;color: #787d7d;
}
.order_main .head02 .center_text ul .search_main_ctwo{
     width: 100%;height: 23px;
}
.order_main .head02 .center_text ul .search_main_ctwo a{
    padding: 1px 6px; display: inline-block;  border: solid 1px #50c8b4; color: #50c8b4; border-radius: 15px;
}
.order_main .head02 .center_text ul .search_main_ctwo span{
     font-size: 1.2em;color: #787d7d;
}
.order_main .head02 .center_text ul .search_main_ctwo span.active1{
     font-size: 1.2em;color: #fa6e64;
}
.order_main .head02 .order_head02_nav{
    width: 100%;height: 40px;line-height: 40px;text-align: center;font-size: 1.3em;color: #fff;
    background: #50c8b4; border-radius: 10px 10px 0px 0px;
}
.order_main .head02 .order_head02_nav.nav_active{
    width: 100%;height: 40px;line-height: 40px;text-align: center;font-size: 1.3em;color: #fff;
    background: #fa6e64; border-radius: 10px 10px 0px 0px;
}
.order_main .head02 .order_head02_nav.nav_active1{
    width: 100%;height: 40px;line-height: 40px;text-align: center;font-size: 1.3em;color: #fff;
    background: #d7dcdc; border-radius: 10px 10px 0px 0px;
}
.order_main_btn{
    width: 100%;
    text-align:right;padding-bottom: 15px;
}

.order_main_btn p.hz_qx{color: #787d7d; border: solid 1px #c3c8c8; border-radius: 20px;display: inline; padding: 10px 27px;margin-right: 10px;}
.order_main_btn p.hz_pj{
    color: #fff;background: #fa6e64;line-height:40px;border-radius: 20px;text-align: center;
    font-size: 1.5em;margin-bottom: 20px; display: inline; padding: 8px 27px;margin-right: 20px;
}
.order_main .head02 .center_text ul li b.hz_bq{
    color: #50c8b4;
}
.order_main_btn p.hz_pj>img{
    width: 20px;
    margin-right: 5px;
    position: relative;
    top: -3px;
}
.order_bottom>img{
   width: 75px;
    position: absolute;
    top: 10px;
    right: 10px;
}


.s_main_ctwo1{
    width: 80%;height: 27px;margin-left: 10%;padding-left: 7px;margin-top: 10px; 
}
.s_main_ctwo1 p{
    padding: 5px 8px; display: inline-block; border: solid 1px #50c8b4; color: #50c8b4; border-radius: 15px;margin-left: 5px;
}
.s_main_ctwo1 span{
    color: #ff6e64; font-size: 1.3em; display: inline-block; float: right; padding-right: 10px; line-height: 30px;
}

.img-icon{ position:absolute; top:0px; right:0px; width:30%;}
.more-img-icon{ position:absolute; top:0px; right:0px; width:30%;}
.cover{ position:relative;}
.lazy{ width:100%; height:100%; display:block;}
a[title*="站长统计"]{ display:none;}